In [137]:
import numpy as np
import pandas as pd
from category_encoders.cat_boost import CatBoostEncoder

In [138]:
train = pd.read_csv("../data/tabular_playground/train.csv")
test = pd.read_csv("../data/tabular_playground/test.csv")

data = pd.concat([train, test], sort=False)

In [139]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1.0,1,"Oconnor, Frankie",male,NaN,2,0,209245,27.14,C12239,S
1,1,0.0,3,"Bryan, Drew",male,NaN,0,0,27323,13.35,NaN,S
2,2,0.0,3,"Owens, Kenneth",male,0.33,1,2,CA 457703,71.29,NaN,S
3,3,0.0,3,"Kramer, James",male,19.00,0,0,A. 10866,13.04,NaN,S
4,4,1.0,3,"Bond, Michael",male,25.00,0,0,427635,7.76,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,199995,NaN,3,"Cash, Cheryle",female,27.00,0,0,7686,10.12,NaN,Q
99996,199996,NaN,1,"Brown, Howard",male,59.00,1,0,13004,68.31,NaN,S
99997,199997,NaN,3,"Lightfoot, Cameron",male,47.00,0,0,4383317,10.87,NaN,S
99998,199998,NaN,1,"Jacobsen, Margaret",female,49.00,1,2,PC 26988,29.68,B20828,C
99999,199999,NaN,1,"Fishback, Joanna",female,41.00,0,2,PC 41824,195.41,E13345,C

In [140]:
data["Sex"].replace(["male", "female"], [0,1], inplace=True)
data["Embarked"].fillna(("S"), inplace=True)
data["Embarked"] = data["Embarked"].map(
    {"S":0, "C":1, "Q":2}
).astype(int)
data["Fare"].fillna(np.mean(
    data["Fare"]
), inplace=True)

In [141]:
data["Age"].fillna(data["Age"].median(), inplace=True)

In [142]:
data["FamilySize"] = data["Parch"] + data["SibSp"] + 1
data["IsAlone"] = 0
data.loc[data["FamilySize"] == 1, "IsAlone"] = 1

In [143]:
data["FirstName"] = data.Name.map(
    lambda x: str(x.split(",")[0])
)
data["SurName"] = data.Name.map(
    lambda x: str(x.split(",")[1])
)

for col in ['Name', 'FirstName', 'SurName']:
    data["Counter_"+col] = data[col].map(
        data.groupby(col)["PassengerId"].count().to_dict()
    )

ce = CatBoostEncoder()

data["Ticket"] = data["Ticket"].map(lambda x:str(x).split()[0] if len(str(x).split()) > 1 else np.nan)
data["Cabin"] = data["Cabin"].map(lambda x:str(x).split()[0])


train = data[:len(train)]
test = data[len(train):]
train["Ticket"] = ce.fit_transform(train["Ticket"], train["Survived"])
test["Ticket"] = ce.transform(test["Ticket"])

train["Cabin"] = ce.fit_transform(train["Cabin"], train["Survived"])
test["Cabin"] = ce.transform(test["Cabin"])

data = pd.concat([train, test], sort=False)

/tmp/ipykernel_16215/4141021855.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["Ticket"] = ce.fit_transform(train["Ticket"], train["Survived"])
/tmp/ipykernel_16215/4141021855.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["Ticket"] = ce.transform(test["Ticket"])
/tmp/ipykernel_16215/4141021855.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["Cabin"] = ce.fit_transform(train["Cabin"], train["Survived"])
/tmp/ipykernel_16215/4141021855.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["Cabin"] = ce.transform(test["Cabin"])

In [144]:
print(data["Ticket"])

0        0.427740
1        0.713870
2        0.427740
3        0.427740
4        0.475913
           ...
99995    0.441185
99996    0.441185
99997    0.441185
99998    0.659876
99999    0.659876
Name: Ticket, Length: 200000, dtype: float64

In [145]:
delete_columns = ['Name', 'PassengerId','FirstName', 'SurName']
data.drop(delete_columns, axis=1, inplace=True)

train = data[:len(train)]
test = data[len(train):]

test.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,IsAlone,Counter_Name,Counter_FirstName,Counter_SurName
0,NaN,3,0,19.0,0,0,0.441185,63.01,0.342102,0,1,1,1,18,1384
1,NaN,3,1,53.0,0,0,0.441185,5.81,0.342102,0,1,1,1,108,125
2,NaN,1,1,19.0,0,0,0.441185,38.91,0.427740,1,1,1,1,511,244
3,NaN,2,0,25.0,0,0,0.441185,12.93,0.342102,0,1,1,1,51,770
4,NaN,1,1,17.0,0,2,0.441185,26.89,0.427740,1,3,0,1,8,387

In [146]:
y_train = train["Survived"]
X_train = train.drop("Survived", axis=1)
X_test = test.drop("Survived", axis=1)

In [147]:
y_train.head()

0    1.0
1    0.0
2    0.0
3    0.0
4    1.0
Name: Survived, dtype: float64

In [148]:
X_train.head()

,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,IsAlone,Counter_Name,Counter_FirstName,Counter_SurName
0,1,0,31.00,2,0,0.427740,27.14,0.427740,0,3,0,1,47,51
1,3,0,31.00,0,0,0.713870,13.35,0.427740,0,1,1,1,54,31
2,3,0,0.33,1,2,0.427740,71.29,0.213870,0,4,0,2,165,1128
3,3,0,19.00,0,0,0.427740,13.04,0.142580,0,1,1,2,53,4736
4,3,0,25.00,0,0,0.475913,7.76,0.106935,0,1,1,1,39,3662

In [149]:
X_test.head()

,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,IsAlone,Counter_Name,Counter_FirstName,Counter_SurName
0,3,0,19.0,0,0,0.441185,63.01,0.342102,0,1,1,1,18,1384
1,3,1,53.0,0,0,0.441185,5.81,0.342102,0,1,1,1,108,125
2,1,1,19.0,0,0,0.441185,38.91,0.427740,1,1,1,1,511,244
3,2,0,25.0,0,0,0.441185,12.93,0.342102,0,1,1,1,51,770
4,1,1,17.0,0,2,0.441185,26.89,0.427740,1,3,0,1,8,387

In [150]:
# lightLGM + skfold
from sklearn.model_selection import StratifiedKFold
import lightgbm as lgb

In [151]:
y_preds = []
models = []
oof_train = np.zeros((len(X_train), ))
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)

In [152]:
# categorical_features = ["Embarked", "Pclass", "Sex"]
categorical_features = ["Embarked", "Pclass", "Sex", "IsAlone", "Ticket", "Cabin"]

In [153]:
params = {
    "objective":"binary",
    "max_bin":500,
    "learning_rate":0.05,
    "num_leaves":80
}

In [154]:
for fold_id, (train_index, valid_index) in enumerate(cv.split(X_train, y_train)):
    X_tr = X_train.loc[train_index, :]
    X_val = X_train.loc[valid_index,:]
    y_tr = y_train[train_index]
    y_val = y_train[valid_index]

    lgb_train = lgb.Dataset(
        X_tr, y_tr, categorical_feature=categorical_features
    )

    lgb_eval = lgb.Dataset(
        X_val, y_val, reference=lgb_train, categorical_feature=categorical_features 
    )

    model = lgb.train(
        params, lgb_train, valid_sets=[lgb_train, lgb_eval],
        verbose_eval=10, num_boost_round=1000, early_stopping_rounds=100
    )

    oof_train[valid_index] = model.predict(
        X_val, num_iteration=model.best_iteration
    )

    y_pred = model.predict(
        X_test, num_iteration=model.best_iteration
    )

    y_preds.append(y_pred)
    models.append(model)

/opt/conda/lib/python3.9/site-packages/lightgbm/basic.py:1291: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 1348
[LightGBM] [Info] Number of data: 80000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.566144	valid_1's binary_logloss: 0.568343
[20]	training's binary_logloss: 0.517434	valid_1's binary_logloss: 0.521461
[30]	training's binary_logloss: 0.495124	valid_1's binary_logloss: 0.500899
[40]	training's binary_logloss: 0.484227	valid_1's binary_logloss: 0.491988
[50]	training's binary_logloss: 0.478196	valid_1's binary_logloss: 0.488118
[60]	training's binary_logloss: 0.474063	valid_1's binary_logloss: 0.486313
[70]	training's binary_logloss: 0.470878	valid_1's binary_logloss: 0.4857
[80]	training's binary_logloss: 0.46794	valid_1's binary_logloss: 0.485282
[90]	training's binary_logloss: 0.465214	valid_1's binary_logloss: 0.485251
[100]	training's binary_logloss: 0.462728	valid_1's binary_logloss: 0.485331
[110]	training's binary_logloss: 0.460316	valid_1's binary_logloss: 0.48541
[120]	training's binary_logloss: 0.458164	valid_1's binary_logloss: 0.48551
[130]	training's binary_logloss: 0.456102	valid_1's binary_logloss: 0.485665
[140]	training's binary_logloss: 0.454184	valid_1's binary_logloss: 0.485788
[150]	training's binary_logloss: 0.452172	valid_1's binary_logloss: 0.485979
[160]	training's binary_logloss: 0.450253	valid_1's binary_logloss: 0.486115
[170]	training's binary_logloss: 0.44837	valid_1's binary_logloss: 0.486267
[180]	training's binary_logloss: 0.446554	valid_1's binary_logloss: 0.486476
[190]	training's binary_logloss: 0.444691	valid_1's binary_logloss: 0.486646
Early stopping, best iteration is:
[97]	training's binary_logloss: 0.463467	valid_1's binary_logloss: 0.48524
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 1349
[LightGBM] [Info] Number of data: 80000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.566054	valid_1's binary_logloss: 0.568095
[20]	training's binary_logloss: 0.517224	valid_1's binary_logloss: 0.521427
[30]	training's binary_logloss: 0.494995	valid_1's binary_logloss: 0.501406
[40]	training's binary_logloss: 0.484112	valid_1's binary_logloss: 0.492866
[50]	training's binary_logloss: 0.47812	valid_1's binary_logloss: 0.48936
[60]	training's binary_logloss: 0.474189	valid_1's binary_logloss: 0.487811
[70]	training's binary_logloss: 0.471074	valid_1's binary_logloss: 0.487203
[80]	training's binary_logloss: 0.46823	valid_1's binary_logloss: 0.486845
[90]	training's binary_logloss: 0.465514	valid_1's binary_logloss: 0.486464
[100]	training's binary_logloss: 0.462891	valid_1's binary_logloss: 0.486446
[110]	training's binary_logloss: 0.460439	valid_1's binary_logloss: 0.486575
[120]	training's binary_logloss: 0.458195	valid_1's binary_logloss: 0.486623
[130]	training's binary_logloss: 0.456027	valid_1's binary_logloss: 0.486687
[140]	training's binary_logloss: 0.45405	valid_1's binary_logloss: 0.486839
[150]	training's binary_logloss: 0.451917	valid_1's binary_logloss: 0.486986
[160]	training's binary_logloss: 0.44999	valid_1's binary_logloss: 0.487074
[170]	training's binary_logloss: 0.448084	valid_1's binary_logloss: 0.487217
[180]	training's binary_logloss: 0.446042	valid_1's binary_logloss: 0.487326
[190]	training's binary_logloss: 0.444263	valid_1's binary_logloss: 0.487342
[200]	training's binary_logloss: 0.44246	valid_1's binary_logloss: 0.487523
Early stopping, best iteration is:
[101]	training's binary_logloss: 0.462634	valid_1's binary_logloss: 0.486416
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 1352
[LightGBM] [Info] Number of data: 80000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.56653	valid_1's binary_logloss: 0.567147
[20]	training's binary_logloss: 0.517869	valid_1's binary_logloss: 0.519543
[30]	training's binary_logloss: 0.495669	valid_1's binary_logloss: 0.498747
[40]	training's binary_logloss: 0.484812	valid_1's binary_logloss: 0.489423
[50]	training's binary_logloss: 0.478787	valid_1's binary_logloss: 0.48525
[60]	training's binary_logloss: 0.474793	valid_1's binary_logloss: 0.48322
[70]	training's binary_logloss: 0.471738	valid_1's binary_logloss: 0.482238
[80]	training's binary_logloss: 0.469061	valid_1's binary_logloss: 0.481995
[90]	training's binary_logloss: 0.466325	valid_1's binary_logloss: 0.481609
[100]	training's binary_logloss: 0.463805	valid_1's binary_logloss: 0.481633
[110]	training's binary_logloss: 0.461461	valid_1's binary_logloss: 0.481637
[120]	training's binary_logloss: 0.459222	valid_1's binary_logloss: 0.481662
[130]	training's binary_logloss: 0.457184	valid_1's binary_logloss: 0.481869
[140]	training's binary_logloss: 0.455179	valid_1's binary_logloss: 0.481959
[150]	training's binary_logloss: 0.4532	valid_1's binary_logloss: 0.482121
[160]	training's binary_logloss: 0.451362	valid_1's binary_logloss: 0.482085
[170]	training's binary_logloss: 0.449541	valid_1's binary_logloss: 0.482257
[180]	training's binary_logloss: 0.447735	valid_1's binary_logloss: 0.482291
[190]	training's binary_logloss: 0.445943	valid_1's binary_logloss: 0.482374
Early stopping, best iteration is:
[90]	training's binary_logloss: 0.466325	valid_1's binary_logloss: 0.481609
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 1348
[LightGBM] [Info] Number of data: 80000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.566628	valid_1's binary_logloss: 0.566964
[20]	training's binary_logloss: 0.518125	valid_1's binary_logloss: 0.519164
[30]	training's binary_logloss: 0.49601	valid_1's binary_logloss: 0.498229
[40]	training's binary_logloss: 0.485099	valid_1's binary_logloss: 0.488823
[50]	training's binary_logloss: 0.479142	valid_1's binary_logloss: 0.484926
[60]	training's binary_logloss: 0.475171	valid_1's binary_logloss: 0.48302
[70]	training's binary_logloss: 0.472044	valid_1's binary_logloss: 0.481981
[80]	training's binary_logloss: 0.469293	valid_1's binary_logloss: 0.481619
[90]	training's binary_logloss: 0.466536	valid_1's binary_logloss: 0.481426
[100]	training's binary_logloss: 0.46401	valid_1's binary_logloss: 0.481355
[110]	training's binary_logloss: 0.461643	valid_1's binary_logloss: 0.481311
[120]	training's binary_logloss: 0.459404	valid_1's binary_logloss: 0.481295
[130]	training's binary_logloss: 0.457165	valid_1's binary_logloss: 0.481377
[140]	training's binary_logloss: 0.455167	valid_1's binary_logloss: 0.481437
[150]	training's binary_logloss: 0.453192	valid_1's binary_logloss: 0.481574
[160]	training's binary_logloss: 0.451346	valid_1's binary_logloss: 0.481675
[170]	training's binary_logloss: 0.449469	valid_1's binary_logloss: 0.481849
[180]	training's binary_logloss: 0.447687	valid_1's binary_logloss: 0.481898
[190]	training's binary_logloss: 0.445772	valid_1's binary_logloss: 0.481953
[200]	training's binary_logloss: 0.444048	valid_1's binary_logloss: 0.482119
[210]	training's binary_logloss: 0.442291	valid_1's binary_logloss: 0.482204
Early stopping, best iteration is:
[117]	training's binary_logloss: 0.460024	valid_1's binary_logloss: 0.481239
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34220, number of negative: 45780
[LightGBM] [Info] Total Bins 1350
[LightGBM] [Info] Number of data: 80000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427750 -> initscore=-0.291037
[LightGBM] [Info] Start training from score -0.291037
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.565186	valid_1's binary_logloss: 0.569753
[20]	training's binary_logloss: 0.516173	valid_1's binary_logloss: 0.524091
[30]	training's binary_logloss: 0.493859	valid_1's binary_logloss: 0.505039
[40]	training's binary_logloss: 0.482932	valid_1's binary_logloss: 0.496925
[50]	training's binary_logloss: 0.476925	valid_1's binary_logloss: 0.493713
[60]	training's binary_logloss: 0.472849	valid_1's binary_logloss: 0.492326
[70]	training's binary_logloss: 0.469651	valid_1's binary_logloss: 0.49177
[80]	training's binary_logloss: 0.466852	valid_1's binary_logloss: 0.491513
[90]	training's binary_logloss: 0.464198	valid_1's binary_logloss: 0.491493
[100]	training's binary_logloss: 0.461666	valid_1's binary_logloss: 0.491456
[110]	training's binary_logloss: 0.459247	valid_1's binary_logloss: 0.491297
[120]	training's binary_logloss: 0.457053	valid_1's binary_logloss: 0.491284
[130]	training's binary_logloss: 0.454961	valid_1's binary_logloss: 0.491439
[140]	training's binary_logloss: 0.452947	valid_1's binary_logloss: 0.491662
[150]	training's binary_logloss: 0.45095	valid_1's binary_logloss: 0.491855
[160]	training's binary_logloss: 0.449138	valid_1's binary_logloss: 0.492107
[170]	training's binary_logloss: 0.447407	valid_1's binary_logloss: 0.492407
[180]	training's binary_logloss: 0.445562	valid_1's binary_logloss: 0.492451
[190]	training's binary_logloss: 0.443687	valid_1's binary_logloss: 0.492614
[200]	training's binary_logloss: 0.442016	valid_1's binary_logloss: 0.492652
[210]	training's binary_logloss: 0.440362	valid_1's binary_logloss: 0.492746
Early stopping, best iteration is:
[115]	training's binary_logloss: 0.458165	valid_1's binary_logloss: 0.491205

In [155]:
from sklearn.metrics import accuracy_score

y_pred_oof = (oof_train > 0.5).astype(int)
accuracy_score(y_train, y_pred_oof)

0.77178

In [156]:
y_sub = sum(y_preds) / len(y_preds)
y_sub = (y_sub > 0.5).astype(int)
y_sub[:10]

array([0, 0, 1, 0, 1, 0, 1, 0, 1, 0])

In [157]:
sub = pd.read_csv('../data/tabular_playground/sample_submission.csv')

In [158]:
sub["Survived"] = y_sub
sub.to_csv("./subs/lightgbm_skfold_isAlone_categorized.csv",index=False)

In [159]:
sub.head()

   PassengerId  Survived
0       100000         0
1       100001         0
2       100002         1
3       100003         0
4       100004         1

# Pseudolabellingを使ってみる
- 参考
    - https://www.kaggle.com/c/tabular-playground-series-apr-2021/discussion/231738

In [160]:
test.loc[:,"Survived"] = y_sub

/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [161]:
test

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,IsAlone,Counter_Name,Counter_FirstName,Counter_SurName
0,0,3,0,19.0,0,0,0.441185,63.01,0.342102,0,1,1,1,18,1384
1,0,3,1,53.0,0,0,0.441185,5.81,0.342102,0,1,1,1,108,125
2,1,1,1,19.0,0,0,0.441185,38.91,0.427740,1,1,1,1,511,244
3,0,2,0,25.0,0,0,0.441185,12.93,0.342102,0,1,1,1,51,770
4,1,1,1,17.0,0,2,0.441185,26.89,0.427740,1,3,0,1,8,387
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,3,1,27.0,0,0,0.441185,10.12,0.342102,2,1,1,1,34,4
99996,0,1,0,59.0,1,0,0.441185,68.31,0.342102,0,2,0,2,1352,316
99997,0,3,0,47.0,0,0,0.441185,10.87,0.342102,0,1,1,1,8,52
99998,1,1,1,49.0,1,2,0.659876,29.68,0.427740,1,4,0,1,12,575
99999,1,1,1,41.0,0,2,0.659876,195.41,0.427740,1,3,0,1,3,49

In [162]:
pseudoLabeled_train = pd.concat([train, test[:int(len(test) / 5)]], sort=False)
pseudoLabeled_train = pseudoLabeled_train.reset_index(drop=True)
pseudoLabeled_train

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,IsAlone,Counter_Name,Counter_FirstName,Counter_SurName
0,1.0,1,0,31.00,2,0,0.427740,27.14,0.427740,0,3,0,1,47,51
1,0.0,3,0,31.00,0,0,0.713870,13.35,0.427740,0,1,1,1,54,31
2,0.0,3,0,0.33,1,2,0.427740,71.29,0.213870,0,4,0,2,165,1128
3,0.0,3,0,19.00,0,0,0.427740,13.04,0.142580,0,1,1,2,53,4736
4,1.0,3,0,25.00,0,0,0.475913,7.76,0.106935,0,1,1,1,39,3662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119995,0.0,3,0,42.00,0,0,0.441185,14.14,0.342102,0,1,1,1,22,3302
119996,0.0,3,0,22.00,1,0,0.441185,12.14,0.342102,0,2,0,1,6,1085
119997,0.0,3,0,21.00,1,0,0.441185,7.70,0.342102,0,2,0,7,462,3302
119998,1.0,1,1,18.00,1,2,0.659876,31.65,0.427740,0,4,0,1,20,239
119999,0.0,3,1,6.00,1,4,0.441185,8.93,0.342102,0,6,0,1,6,597

In [163]:
y_train = pseudoLabeled_train["Survived"]
X_train = pseudoLabeled_train.drop("Survived", axis=1)
X_test = test.drop("Survived", axis=1)

In [164]:
y_train

0         1.0
1         0.0
2         0.0
3         0.0
4         1.0
         ...
119995    0.0
119996    0.0
119997    0.0
119998    1.0
119999    0.0
Name: Survived, Length: 120000, dtype: float64

In [165]:
X_test

,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,IsAlone,Counter_Name,Counter_FirstName,Counter_SurName
0,3,0,19.0,0,0,0.441185,63.01,0.342102,0,1,1,1,18,1384
1,3,1,53.0,0,0,0.441185,5.81,0.342102,0,1,1,1,108,125
2,1,1,19.0,0,0,0.441185,38.91,0.427740,1,1,1,1,511,244
3,2,0,25.0,0,0,0.441185,12.93,0.342102,0,1,1,1,51,770
4,1,1,17.0,0,2,0.441185,26.89,0.427740,1,3,0,1,8,387
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3,1,27.0,0,0,0.441185,10.12,0.342102,2,1,1,1,34,4
99996,1,0,59.0,1,0,0.441185,68.31,0.342102,0,2,0,2,1352,316
99997,3,0,47.0,0,0,0.441185,10.87,0.342102,0,1,1,1,8,52
99998,1,1,49.0,1,2,0.659876,29.68,0.427740,1,4,0,1,12,575
99999,1,1,41.0,0,2,0.659876,195.41,0.427740,1,3,0,1,3,49

In [166]:
X_train

,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,IsAlone,Counter_Name,Counter_FirstName,Counter_SurName
0,1,0,31.00,2,0,0.427740,27.14,0.427740,0,3,0,1,47,51
1,3,0,31.00,0,0,0.713870,13.35,0.427740,0,1,1,1,54,31
2,3,0,0.33,1,2,0.427740,71.29,0.213870,0,4,0,2,165,1128
3,3,0,19.00,0,0,0.427740,13.04,0.142580,0,1,1,2,53,4736
4,3,0,25.00,0,0,0.475913,7.76,0.106935,0,1,1,1,39,3662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119995,3,0,42.00,0,0,0.441185,14.14,0.342102,0,1,1,1,22,3302
119996,3,0,22.00,1,0,0.441185,12.14,0.342102,0,2,0,1,6,1085
119997,3,0,21.00,1,0,0.441185,7.70,0.342102,0,2,0,7,462,3302
119998,1,1,18.00,1,2,0.659876,31.65,0.427740,0,4,0,1,20,239
119999,3,1,6.00,1,4,0.441185,8.93,0.342102,0,6,0,1,6,597

In [167]:
y_preds = []
models = []
oof_train = np.zeros((len(X_train), ))
cv2 = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)

In [168]:
for fold_id, (train_index, valid_index) in enumerate(cv2.split(X_train, y_train)):
    X_tr = X_train.loc[train_index, :]
    X_val = X_train.loc[valid_index,:]
    y_tr = y_train[train_index]
    y_val = y_train[valid_index]

    lgb_train = lgb.Dataset(
        X_tr, y_tr, categorical_feature=categorical_features
    )

    lgb_eval = lgb.Dataset(
        X_val, y_val, reference=lgb_train, categorical_feature=categorical_features 
    )

    model = lgb.train(
        params, lgb_train, valid_sets=[lgb_train, lgb_eval],
        verbose_eval=10, num_boost_round=1000, early_stopping_rounds=100
    )

    oof_train[valid_index] = model.predict(
        X_val, num_iteration=model.best_iteration
    )

    y_pred = model.predict(
        X_test, num_iteration=model.best_iteration
    )

    y_preds.append(y_pred)
    models.append(model)

/opt/conda/lib/python3.9/site-packages/lightgbm/basic.py:1291: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 38863, number of negative: 57137
[LightGBM] [Info] Total Bins 1354
[LightGBM] [Info] Number of data: 96000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.404823 -> initscore=-0.385409
[LightGBM] [Info] Start training from score -0.385409
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.538761	valid_1's binary_logloss: 0.540957
[20]	training's binary_logloss: 0.481746	valid_1's binary_logloss: 0.4858
[30]	training's binary_logloss: 0.455671	valid_1's binary_logloss: 0.461736
[40]	training's binary_logloss: 0.442984	valid_1's binary_logloss: 0.450848
[50]	training's binary_logloss: 0.436328	valid_1's binary_logloss: 0.445819
[60]	training's binary_logloss: 0.432183	valid_1's binary_logloss: 0.443566
[70]	training's binary_logloss: 0.429209	valid_1's binary_logloss: 0.442456
[80]	training's binary_logloss: 0.426656	valid_1's binary_logloss: 0.441922
[90]	training's binary_logloss: 0.424225	valid_1's binary_logloss: 0.441597
[100]	training's binary_logloss: 0.421895	valid_1's binary_logloss: 0.441302
[110]	training's binary_logloss: 0.419758	valid_1's binary_logloss: 0.441314
[120]	training's binary_logloss: 0.417713	valid_1's binary_logloss: 0.441283
[130]	training's binary_logloss: 0.415843	valid_1's binary_logloss: 0.441389
[140]	training's binary_logloss: 0.413997	valid_1's binary_logloss: 0.441421
[150]	training's binary_logloss: 0.412279	valid_1's binary_logloss: 0.44146
[160]	training's binary_logloss: 0.410536	valid_1's binary_logloss: 0.441532
[170]	training's binary_logloss: 0.408901	valid_1's binary_logloss: 0.441689
[180]	training's binary_logloss: 0.40734	valid_1's binary_logloss: 0.441831
[190]	training's binary_logloss: 0.405803	valid_1's binary_logloss: 0.442038
[200]	training's binary_logloss: 0.404156	valid_1's binary_logloss: 0.442164
[210]	training's binary_logloss: 0.402708	valid_1's binary_logloss: 0.442272
Early stopping, best iteration is:
[116]	training's binary_logloss: 0.418534	valid_1's binary_logloss: 0.441264
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 38863, number of negative: 57137
[LightGBM] [Info] Total Bins 1357
[LightGBM] [Info] Number of data: 96000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.404823 -> initscore=-0.385409
[LightGBM] [Info] Start training from score -0.385409
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.539198	valid_1's binary_logloss: 0.540435
[20]	training's binary_logloss: 0.482291	valid_1's binary_logloss: 0.484861
[30]	training's binary_logloss: 0.456294	valid_1's binary_logloss: 0.460149
[40]	training's binary_logloss: 0.443678	valid_1's binary_logloss: 0.448955
[50]	training's binary_logloss: 0.436954	valid_1's binary_logloss: 0.443804
[60]	training's binary_logloss: 0.432858	valid_1's binary_logloss: 0.44137
[70]	training's binary_logloss: 0.429817	valid_1's binary_logloss: 0.440415
[80]	training's binary_logloss: 0.427176	valid_1's binary_logloss: 0.44007
[90]	training's binary_logloss: 0.424665	valid_1's binary_logloss: 0.439603
[100]	training's binary_logloss: 0.422244	valid_1's binary_logloss: 0.439372
[110]	training's binary_logloss: 0.420078	valid_1's binary_logloss: 0.43906
[120]	training's binary_logloss: 0.418095	valid_1's binary_logloss: 0.438982
[130]	training's binary_logloss: 0.416131	valid_1's binary_logloss: 0.439014
[140]	training's binary_logloss: 0.414261	valid_1's binary_logloss: 0.439036
[150]	training's binary_logloss: 0.412579	valid_1's binary_logloss: 0.4391
[160]	training's binary_logloss: 0.410851	valid_1's binary_logloss: 0.439009
[170]	training's binary_logloss: 0.409137	valid_1's binary_logloss: 0.438964
[180]	training's binary_logloss: 0.407564	valid_1's binary_logloss: 0.439054
[190]	training's binary_logloss: 0.405959	valid_1's binary_logloss: 0.439127
[200]	training's binary_logloss: 0.404401	valid_1's binary_logloss: 0.439215
[210]	training's binary_logloss: 0.402896	valid_1's binary_logloss: 0.439346
[220]	training's binary_logloss: 0.401434	valid_1's binary_logloss: 0.439478
[230]	training's binary_logloss: 0.400032	valid_1's binary_logloss: 0.439605
[240]	training's binary_logloss: 0.398587	valid_1's binary_logloss: 0.439834
[250]	training's binary_logloss: 0.397154	valid_1's binary_logloss: 0.439984
[260]	training's binary_logloss: 0.395784	valid_1's binary_logloss: 0.440141
[270]	training's binary_logloss: 0.394403	valid_1's binary_logloss: 0.440283
Early stopping, best iteration is:
[171]	training's binary_logloss: 0.408965	valid_1's binary_logloss: 0.438961
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 38863, number of negative: 57137
[LightGBM] [Info] Total Bins 1355
[LightGBM] [Info] Number of data: 96000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.404823 -> initscore=-0.385409
[LightGBM] [Info] Start training from score -0.385409
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.538813	valid_1's binary_logloss: 0.540633
[20]	training's binary_logloss: 0.481793	valid_1's binary_logloss: 0.485267
[30]	training's binary_logloss: 0.45579	valid_1's binary_logloss: 0.46084
[40]	training's binary_logloss: 0.443189	valid_1's binary_logloss: 0.450091
[50]	training's binary_logloss: 0.436426	valid_1's binary_logloss: 0.445251
[60]	training's binary_logloss: 0.432182	valid_1's binary_logloss: 0.443113
[70]	training's binary_logloss: 0.429066	valid_1's binary_logloss: 0.442238
[80]	training's binary_logloss: 0.426318	valid_1's binary_logloss: 0.441738
[90]	training's binary_logloss: 0.423802	valid_1's binary_logloss: 0.441379
[100]	training's binary_logloss: 0.421496	valid_1's binary_logloss: 0.441272
[110]	training's binary_logloss: 0.419282	valid_1's binary_logloss: 0.441281
[120]	training's binary_logloss: 0.417327	valid_1's binary_logloss: 0.441473
[130]	training's binary_logloss: 0.415509	valid_1's binary_logloss: 0.44148
[140]	training's binary_logloss: 0.413794	valid_1's binary_logloss: 0.441653
[150]	training's binary_logloss: 0.412059	valid_1's binary_logloss: 0.441798
[160]	training's binary_logloss: 0.410439	valid_1's binary_logloss: 0.44191
[170]	training's binary_logloss: 0.408853	valid_1's binary_logloss: 0.442068
[180]	training's binary_logloss: 0.407196	valid_1's binary_logloss: 0.442162
[190]	training's binary_logloss: 0.405582	valid_1's binary_logloss: 0.442224
[200]	training's binary_logloss: 0.404106	valid_1's binary_logloss: 0.442465
Early stopping, best iteration is:
[106]	training's binary_logloss: 0.42015	valid_1's binary_logloss: 0.441207
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 38863, number of negative: 57137
[LightGBM] [Info] Total Bins 1355
[LightGBM] [Info] Number of data: 96000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.404823 -> initscore=-0.385409
[LightGBM] [Info] Start training from score -0.385409
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.538943	valid_1's binary_logloss: 0.540825
[20]	training's binary_logloss: 0.482096	valid_1's binary_logloss: 0.485627
[30]	training's binary_logloss: 0.456112	valid_1's binary_logloss: 0.460893
[40]	training's binary_logloss: 0.443536	valid_1's binary_logloss: 0.449852
[50]	training's binary_logloss: 0.43678	valid_1's binary_logloss: 0.444805
[60]	training's binary_logloss: 0.432608	valid_1's binary_logloss: 0.442461
[70]	training's binary_logloss: 0.429559	valid_1's binary_logloss: 0.441305
[80]	training's binary_logloss: 0.426948	valid_1's binary_logloss: 0.440795
[90]	training's binary_logloss: 0.4245	valid_1's binary_logloss: 0.440441
[100]	training's binary_logloss: 0.422202	valid_1's binary_logloss: 0.440391
[110]	training's binary_logloss: 0.41993	valid_1's binary_logloss: 0.440311
[120]	training's binary_logloss: 0.417868	valid_1's binary_logloss: 0.440414
[130]	training's binary_logloss: 0.415948	valid_1's binary_logloss: 0.440491
[140]	training's binary_logloss: 0.414195	valid_1's binary_logloss: 0.440634
[150]	training's binary_logloss: 0.412552	valid_1's binary_logloss: 0.440732
[160]	training's binary_logloss: 0.410954	valid_1's binary_logloss: 0.440893
[170]	training's binary_logloss: 0.409386	valid_1's binary_logloss: 0.441023
[180]	training's binary_logloss: 0.407887	valid_1's binary_logloss: 0.441147
[190]	training's binary_logloss: 0.406337	valid_1's binary_logloss: 0.441204
[200]	training's binary_logloss: 0.404665	valid_1's binary_logloss: 0.441324
[210]	training's binary_logloss: 0.403171	valid_1's binary_logloss: 0.441475
Early stopping, best iteration is:
[110]	training's binary_logloss: 0.41993	valid_1's binary_logloss: 0.440311
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 38864, number of negative: 57136
[LightGBM] [Info] Total Bins 1355
[LightGBM] [Info] Number of data: 96000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.404833 -> initscore=-0.385366
[LightGBM] [Info] Start training from score -0.385366
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.539205	valid_1's binary_logloss: 0.539615
[20]	training's binary_logloss: 0.48253	valid_1's binary_logloss: 0.483648
[30]	training's binary_logloss: 0.456677	valid_1's binary_logloss: 0.458501
[40]	training's binary_logloss: 0.444213	valid_1's binary_logloss: 0.447105
[50]	training's binary_logloss: 0.437532	valid_1's binary_logloss: 0.441864
[60]	training's binary_logloss: 0.433427	valid_1's binary_logloss: 0.439394
[70]	training's binary_logloss: 0.430386	valid_1's binary_logloss: 0.438111
[80]	training's binary_logloss: 0.427794	valid_1's binary_logloss: 0.437592
[90]	training's binary_logloss: 0.425332	valid_1's binary_logloss: 0.437155
[100]	training's binary_logloss: 0.423005	valid_1's binary_logloss: 0.436745
[110]	training's binary_logloss: 0.420935	valid_1's binary_logloss: 0.43667
[120]	training's binary_logloss: 0.418903	valid_1's binary_logloss: 0.436717
[130]	training's binary_logloss: 0.417021	valid_1's binary_logloss: 0.436831
[140]	training's binary_logloss: 0.415226	valid_1's binary_logloss: 0.436965
[150]	training's binary_logloss: 0.413543	valid_1's binary_logloss: 0.437034
[160]	training's binary_logloss: 0.411968	valid_1's binary_logloss: 0.437069
[170]	training's binary_logloss: 0.410249	valid_1's binary_logloss: 0.437228
[180]	training's binary_logloss: 0.408725	valid_1's binary_logloss: 0.437247
[190]	training's binary_logloss: 0.407355	valid_1's binary_logloss: 0.437312
[200]	training's binary_logloss: 0.405731	valid_1's binary_logloss: 0.437329
[210]	training's binary_logloss: 0.404104	valid_1's binary_logloss: 0.437391
Early stopping, best iteration is:
[112]	training's binary_logloss: 0.42052	valid_1's binary_logloss: 0.43664

In [169]:

y_pred_oof = (oof_train > 0.5).astype(int)
accuracy_score(y_train, y_pred_oof)

0.808425

In [170]:
y_sub = sum(y_preds) / len(y_preds)
y_sub = (y_sub > 0.5).astype(int)

sub["Survived"] = y_sub
sub.to_csv("./subs/lightgbm_skfold_pseudo_labeled.csv",index=False)