In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv("../data/tabular_playground/train.csv")
test = pd.read_csv("../data/tabular_playground/test.csv")

data = pd.concat([train, test], sort=False)

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1.0,1,"Oconnor, Frankie",male,NaN,2,0,209245,27.14,C12239,S
1,1,0.0,3,"Bryan, Drew",male,NaN,0,0,27323,13.35,NaN,S
2,2,0.0,3,"Owens, Kenneth",male,0.33,1,2,CA 457703,71.29,NaN,S
3,3,0.0,3,"Kramer, James",male,19.00,0,0,A. 10866,13.04,NaN,S
4,4,1.0,3,"Bond, Michael",male,25.00,0,0,427635,7.76,NaN,S

In [4]:
data["Sex"].replace(["male", "female"], [0,1], inplace=True)
data["Embarked"].fillna(("S"), inplace=True)
data["Embarked"] = data["Embarked"].map(
    {"S":0, "C":1, "Q":2}
).astype(int)
data["Fare"].fillna(np.mean(
    data["Fare"]
), inplace=True)

In [5]:
data["Age"].fillna(data["Age"].median(), inplace=True)

In [6]:
data["FamilySize"] = data["Parch"] + data["SibSp"] + 1
data["IsAlone"] = 0
data.loc[data["FamilySize"] == 1, "IsAlone"] = 1

In [7]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,IsAlone
0,0,1.0,1,"Oconnor, Frankie",0,31.00,2,0,209245,27.14,C12239,0,3,0
1,1,0.0,3,"Bryan, Drew",0,31.00,0,0,27323,13.35,NaN,0,1,1
2,2,0.0,3,"Owens, Kenneth",0,0.33,1,2,CA 457703,71.29,NaN,0,4,0
3,3,0.0,3,"Kramer, James",0,19.00,0,0,A. 10866,13.04,NaN,0,1,1
4,4,1.0,3,"Bond, Michael",0,25.00,0,0,427635,7.76,NaN,0,1,1

In [8]:
delete_columns = ['Name', 'PassengerId', 'Ticket', 'Cabin']
data.drop(delete_columns, axis=1, inplace=True)

train = data[:len(train)]
test = data[len(train):]

test.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone
0,NaN,3,0,19.0,0,0,63.01,0,1,1
1,NaN,3,1,53.0,0,0,5.81,0,1,1
2,NaN,1,1,19.0,0,0,38.91,1,1,1
3,NaN,2,0,25.0,0,0,12.93,0,1,1
4,NaN,1,1,17.0,0,2,26.89,1,3,0

In [9]:
y_train = train["Survived"]
X_train = train.drop("Survived", axis=1)
X_test = test.drop("Survived", axis=1)

In [10]:
y_train.head()

0    1.0
1    0.0
2    0.0
3    0.0
4    1.0
Name: Survived, dtype: float64

In [11]:
X_train.head()

   Pclass  Sex    Age  SibSp  Parch   Fare  Embarked  FamilySize  IsAlone
0       1    0  31.00      2      0  27.14         0           3        0
1       3    0  31.00      0      0  13.35         0           1        1
2       3    0   0.33      1      2  71.29         0           4        0
3       3    0  19.00      0      0  13.04         0           1        1
4       3    0  25.00      0      0   7.76         0           1        1

In [12]:
X_test.head()

   Pclass  Sex   Age  SibSp  Parch   Fare  Embarked  FamilySize  IsAlone
0       3    0  19.0      0      0  63.01         0           1        1
1       3    1  53.0      0      0   5.81         0           1        1
2       1    1  19.0      0      0  38.91         1           1        1
3       2    0  25.0      0      0  12.93         0           1        1
4       1    1  17.0      0      2  26.89         1           3        0

In [13]:
# lightLGM + skfold
from sklearn.model_selection import StratifiedKFold
import lightgbm as lgb

In [14]:
y_preds = []
models = []
oof_train = np.zeros((len(X_train), ))
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)

In [15]:
# categorical_features = ["Embarked", "Pclass", "Sex"]
categorical_features = ["Embarked", "Pclass", "Sex", "IsAlone"]

In [16]:
params = {
    "objective":"binary",
    "max_bin":300,
    "learning_rate":0.05,
    "num_leaves":40
}

In [17]:
for fold_id, (train_index, valid_index) in enumerate(cv.split(X_train, y_train)):
    X_tr = X_train.loc[train_index, :]
    X_val = X_train.loc[valid_index,:]
    y_tr = y_train[train_index]
    y_val = y_train[valid_index]

    lgb_train = lgb.Dataset(
        X_tr, y_tr, categorical_feature=categorical_features
    )

    lgb_eval = lgb.Dataset(
        X_val, y_val, reference=lgb_train, categorical_feature=categorical_features 
    )

    model = lgb.train(
        params, lgb_train, valid_sets=[lgb_train, lgb_eval],
        verbose_eval=10, num_boost_round=1000, early_stopping_rounds=10
    )

    oof_train[valid_index] = model.predict(
        X_val, num_iteration=model.best_iteration
    )

    y_pred = model.predict(
        X_test, num_iteration=model.best_iteration
    )

    y_preds.append(y_pred)
    models.append(model)

/opt/conda/lib/python3.9/site-packages/lightgbm/basic.py:1291: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 492
[LightGBM] [Info] Number of data: 80000, number of used features: 9
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.568323	valid_1's binary_logloss: 0.569099
[20]	training's binary_logloss: 0.52102	valid_1's binary_logloss: 0.522226
[30]	training's binary_logloss: 0.500021	valid_1's binary_logloss: 0.501753
[40]	training's binary_logloss: 0.490233	valid_1's binary_logloss: 0.49251
[50]	training's binary_logloss: 0.485326	valid_1's binary_logloss: 0.488233
[60]	training's binary_logloss: 0.48253	valid_1's binary_logloss: 0.486196
[70]	training's binary_logloss: 0.480591	valid_1's binary_logloss: 0.485161
[80]	training's binary_logloss: 0.47891	valid_1's binary_logloss: 0.484665
[90]	training's binary_logloss: 0.477517	valid_1's binary_logloss: 0.484307
[100]	training's binary_logloss: 0.476341	valid_1's binary_logloss: 0.484254
[110]	training's binary_logloss: 0.475249	valid_1's binary_logloss: 0.484074
[120]	training's binary_logloss: 0.474314	valid_1's binary_logloss: 0.484151
Early stopping, best iteration is:
[111]	training's binary_logloss: 0.475144	valid_1's binary_logloss: 0.484063
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 493
[LightGBM] [Info] Number of data: 80000, number of used features: 9
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.568119	valid_1's binary_logloss: 0.568997
[20]	training's binary_logloss: 0.520702	valid_1's binary_logloss: 0.522722
[30]	training's binary_logloss: 0.499612	valid_1's binary_logloss: 0.50274
[40]	training's binary_logloss: 0.489806	valid_1's binary_logloss: 0.494001
[50]	training's binary_logloss: 0.484941	valid_1's binary_logloss: 0.489983
[60]	training's binary_logloss: 0.482123	valid_1's binary_logloss: 0.488083
[70]	training's binary_logloss: 0.480236	valid_1's binary_logloss: 0.487127
[80]	training's binary_logloss: 0.478696	valid_1's binary_logloss: 0.486565
[90]	training's binary_logloss: 0.477252	valid_1's binary_logloss: 0.486141
[100]	training's binary_logloss: 0.475972	valid_1's binary_logloss: 0.485953
[110]	training's binary_logloss: 0.474886	valid_1's binary_logloss: 0.485823
[120]	training's binary_logloss: 0.473843	valid_1's binary_logloss: 0.485754
[130]	training's binary_logloss: 0.472877	valid_1's binary_logloss: 0.485746
Early stopping, best iteration is:
[128]	training's binary_logloss: 0.473072	valid_1's binary_logloss: 0.485706
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 496
[LightGBM] [Info] Number of data: 80000, number of used features: 9
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.568644	valid_1's binary_logloss: 0.568063
[20]	training's binary_logloss: 0.521525	valid_1's binary_logloss: 0.52072
[30]	training's binary_logloss: 0.500636	valid_1's binary_logloss: 0.499848
[40]	training's binary_logloss: 0.490907	valid_1's binary_logloss: 0.490378
[50]	training's binary_logloss: 0.485989	valid_1's binary_logloss: 0.485922
[60]	training's binary_logloss: 0.483128	valid_1's binary_logloss: 0.483779
[70]	training's binary_logloss: 0.481253	valid_1's binary_logloss: 0.482772
[80]	training's binary_logloss: 0.479614	valid_1's binary_logloss: 0.48204
[90]	training's binary_logloss: 0.478254	valid_1's binary_logloss: 0.48172
[100]	training's binary_logloss: 0.477061	valid_1's binary_logloss: 0.481349
[110]	training's binary_logloss: 0.475929	valid_1's binary_logloss: 0.481204
[120]	training's binary_logloss: 0.474959	valid_1's binary_logloss: 0.481152
[130]	training's binary_logloss: 0.474012	valid_1's binary_logloss: 0.48109
[140]	training's binary_logloss: 0.473231	valid_1's binary_logloss: 0.48107
Early stopping, best iteration is:
[137]	training's binary_logloss: 0.47346	valid_1's binary_logloss: 0.481039
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 492
[LightGBM] [Info] Number of data: 80000, number of used features: 9
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.568733	valid_1's binary_logloss: 0.567839
[20]	training's binary_logloss: 0.521634	valid_1's binary_logloss: 0.520228
[30]	training's binary_logloss: 0.500686	valid_1's binary_logloss: 0.499222
[40]	training's binary_logloss: 0.490938	valid_1's binary_logloss: 0.489647
[50]	training's binary_logloss: 0.486116	valid_1's binary_logloss: 0.485294
[60]	training's binary_logloss: 0.483255	valid_1's binary_logloss: 0.48316
[70]	training's binary_logloss: 0.481435	valid_1's binary_logloss: 0.482009
[80]	training's binary_logloss: 0.47994	valid_1's binary_logloss: 0.481288
[90]	training's binary_logloss: 0.47855	valid_1's binary_logloss: 0.480895
[100]	training's binary_logloss: 0.477273	valid_1's binary_logloss: 0.480586
[110]	training's binary_logloss: 0.476203	valid_1's binary_logloss: 0.480466
[120]	training's binary_logloss: 0.475149	valid_1's binary_logloss: 0.480388
[130]	training's binary_logloss: 0.474233	valid_1's binary_logloss: 0.480267
[140]	training's binary_logloss: 0.473432	valid_1's binary_logloss: 0.480293
Early stopping, best iteration is:
[130]	training's binary_logloss: 0.474233	valid_1's binary_logloss: 0.480267
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34220, number of negative: 45780
[LightGBM] [Info] Total Bins 494
[LightGBM] [Info] Number of data: 80000, number of used features: 9
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427750 -> initscore=-0.291037
[LightGBM] [Info] Start training from score -0.291037
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.56729	valid_1's binary_logloss: 0.570645
[20]	training's binary_logloss: 0.519659	valid_1's binary_logloss: 0.525381
[30]	training's binary_logloss: 0.498454	valid_1's binary_logloss: 0.506195
[40]	training's binary_logloss: 0.488623	valid_1's binary_logloss: 0.497905
[50]	training's binary_logloss: 0.483712	valid_1's binary_logloss: 0.494292
[60]	training's binary_logloss: 0.480831	valid_1's binary_logloss: 0.492532
[70]	training's binary_logloss: 0.479023	valid_1's binary_logloss: 0.491876
[80]	training's binary_logloss: 0.477441	valid_1's binary_logloss: 0.491408
[90]	training's binary_logloss: 0.476049	valid_1's binary_logloss: 0.490994
[100]	training's binary_logloss: 0.474886	valid_1's binary_logloss: 0.490735
[110]	training's binary_logloss: 0.473801	valid_1's binary_logloss: 0.490418
[120]	training's binary_logloss: 0.472787	valid_1's binary_logloss: 0.490402
[130]	training's binary_logloss: 0.471817	valid_1's binary_logloss: 0.490364
[140]	training's binary_logloss: 0.470942	valid_1's binary_logloss: 0.490384
Early stopping, best iteration is:
[134]	training's binary_logloss: 0.471456	valid_1's binary_logloss: 0.490345

In [18]:
from sklearn.metrics import accuracy_score

y_pred_oof = (oof_train > 0.5).astype(int)
accuracy_score(y_train, y_pred_oof)

0.77224

In [19]:
y_sub = sum(y_preds) / len(y_preds)
y_sub = (y_sub > 0.5).astype(int)
y_sub[:10]

array([0, 1, 1, 0, 1, 0, 1, 0, 0, 0])

In [20]:
sub = pd.read_csv('../data/tabular_playground/sample_submission.csv')

In [21]:
sub["Survived"] = y_sub
sub.to_csv("./subs/lightgbm_skfold_isAlone_categorized.csv",index=False)

In [22]:
sub.head()

   PassengerId  Survived
0       100000         0
1       100001         1
2       100002         1
3       100003         0
4       100004         1

# Pseudolabellingを使ってみる
- 参考
    - https://www.kaggle.com/c/tabular-playground-series-apr-2021/discussion/231738

In [23]:
y_preds = []
models = []
oof_train = np.zeros((len(X_train), ))

In [24]:
test.loc[:,"Survived"] = y_sub

/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [25]:
test

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone
0,0,3,0,19.0,0,0,63.01,0,1,1
1,1,3,1,53.0,0,0,5.81,0,1,1
2,1,1,1,19.0,0,0,38.91,1,1,1
3,0,2,0,25.0,0,0,12.93,0,1,1
4,1,1,1,17.0,0,2,26.89,1,3,0
...,...,...,...,...,...,...,...,...,...,...
99995,1,3,1,27.0,0,0,10.12,2,1,1
99996,0,1,0,59.0,1,0,68.31,0,2,0
99997,0,3,0,47.0,0,0,10.87,0,1,1
99998,1,1,1,49.0,1,2,29.68,1,4,0
99999,1,1,1,41.0,0,2,195.41,1,3,0