In [57]:
import numpy as np
import pandas as pd

In [58]:
train = pd.read_csv("../data/tabular_playground/train.csv")
test = pd.read_csv("../data/tabular_playground/test.csv")

data = pd.concat([train, test], sort=False)

In [59]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1.0,1,"Oconnor, Frankie",male,NaN,2,0,209245,27.14,C12239,S
1,1,0.0,3,"Bryan, Drew",male,NaN,0,0,27323,13.35,NaN,S
2,2,0.0,3,"Owens, Kenneth",male,0.33,1,2,CA 457703,71.29,NaN,S
3,3,0.0,3,"Kramer, James",male,19.00,0,0,A. 10866,13.04,NaN,S
4,4,1.0,3,"Bond, Michael",male,25.00,0,0,427635,7.76,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,199995,NaN,3,"Cash, Cheryle",female,27.00,0,0,7686,10.12,NaN,Q
99996,199996,NaN,1,"Brown, Howard",male,59.00,1,0,13004,68.31,NaN,S
99997,199997,NaN,3,"Lightfoot, Cameron",male,47.00,0,0,4383317,10.87,NaN,S
99998,199998,NaN,1,"Jacobsen, Margaret",female,49.00,1,2,PC 26988,29.68,B20828,C
99999,199999,NaN,1,"Fishback, Joanna",female,41.00,0,2,PC 41824,195.41,E13345,C

In [60]:
data["Sex"].replace(["male", "female"], [0,1], inplace=True)
data["Embarked"].fillna(("S"), inplace=True)
data["Embarked"] = data["Embarked"].map(
    {"S":0, "C":1, "Q":2}
).astype(int)
data["Fare"].fillna(np.mean(
    data["Fare"]
), inplace=True)

In [61]:
data["Age"].fillna(data["Age"].median(), inplace=True)

In [62]:
data["FamilySize"] = data["Parch"] + data["SibSp"] + 1
data["IsAlone"] = 0
data.loc[data["FamilySize"] == 1, "IsAlone"] = 1

In [63]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,IsAlone
0,0,1.0,1,"Oconnor, Frankie",0,31.00,2,0,209245,27.14,C12239,0,3,0
1,1,0.0,3,"Bryan, Drew",0,31.00,0,0,27323,13.35,NaN,0,1,1
2,2,0.0,3,"Owens, Kenneth",0,0.33,1,2,CA 457703,71.29,NaN,0,4,0
3,3,0.0,3,"Kramer, James",0,19.00,0,0,A. 10866,13.04,NaN,0,1,1
4,4,1.0,3,"Bond, Michael",0,25.00,0,0,427635,7.76,NaN,0,1,1

In [64]:
delete_columns = ['Name', 'PassengerId', 'Ticket', 'Cabin']
data.drop(delete_columns, axis=1, inplace=True)

train = data[:len(train)]
test = data[len(train):]

test.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone
0,NaN,3,0,19.0,0,0,63.01,0,1,1
1,NaN,3,1,53.0,0,0,5.81,0,1,1
2,NaN,1,1,19.0,0,0,38.91,1,1,1
3,NaN,2,0,25.0,0,0,12.93,0,1,1
4,NaN,1,1,17.0,0,2,26.89,1,3,0

In [65]:
y_train = train["Survived"]
X_train = train.drop("Survived", axis=1)
X_test = test.drop("Survived", axis=1)

In [66]:
y_train.head()

0    1.0
1    0.0
2    0.0
3    0.0
4    1.0
Name: Survived, dtype: float64

In [67]:
X_train.head()

   Pclass  Sex    Age  SibSp  Parch   Fare  Embarked  FamilySize  IsAlone
0       1    0  31.00      2      0  27.14         0           3        0
1       3    0  31.00      0      0  13.35         0           1        1
2       3    0   0.33      1      2  71.29         0           4        0
3       3    0  19.00      0      0  13.04         0           1        1
4       3    0  25.00      0      0   7.76         0           1        1

In [68]:
X_test.head()

   Pclass  Sex   Age  SibSp  Parch   Fare  Embarked  FamilySize  IsAlone
0       3    0  19.0      0      0  63.01         0           1        1
1       3    1  53.0      0      0   5.81         0           1        1
2       1    1  19.0      0      0  38.91         1           1        1
3       2    0  25.0      0      0  12.93         0           1        1
4       1    1  17.0      0      2  26.89         1           3        0

In [69]:
# lightLGM + skfold
from sklearn.model_selection import StratifiedKFold
import lightgbm as lgb

In [70]:
y_preds = []
models = []
oof_train = np.zeros((len(X_train), ))
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)

In [71]:
# categorical_features = ["Embarked", "Pclass", "Sex"]
categorical_features = ["Embarked", "Pclass", "Sex", "IsAlone"]

In [72]:
params = {
    "objective":"binary",
    "max_bin":300,
    "learning_rate":0.05,
    "num_leaves":40
}

In [73]:
for fold_id, (train_index, valid_index) in enumerate(cv.split(X_train, y_train)):
    X_tr = X_train.loc[train_index, :]
    X_val = X_train.loc[valid_index,:]
    y_tr = y_train[train_index]
    y_val = y_train[valid_index]

    lgb_train = lgb.Dataset(
        X_tr, y_tr, categorical_feature=categorical_features
    )

    lgb_eval = lgb.Dataset(
        X_val, y_val, reference=lgb_train, categorical_feature=categorical_features 
    )

    model = lgb.train(
        params, lgb_train, valid_sets=[lgb_train, lgb_eval],
        verbose_eval=10, num_boost_round=1000, early_stopping_rounds=10
    )

    oof_train[valid_index] = model.predict(
        X_val, num_iteration=model.best_iteration
    )

    y_pred = model.predict(
        X_test, num_iteration=model.best_iteration
    )

    y_preds.append(y_pred)
    models.append(model)

/opt/conda/lib/python3.9/site-packages/lightgbm/basic.py:1291: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 492
[LightGBM] [Info] Number of data: 80000, number of used features: 9
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.568323	valid_1's binary_logloss: 0.569099
[20]	training's binary_logloss: 0.52102	valid_1's binary_logloss: 0.522226
[30]	training's binary_logloss: 0.500021	valid_1's binary_logloss: 0.501753
[40]	training's binary_logloss: 0.490233	valid_1's binary_logloss: 0.49251
[50]	training's binary_logloss: 0.485326	valid_1's binary_logloss: 0.488233
[60]	training's binary_logloss: 0.48253	valid_1's binary_logloss: 0.486196
[70]	training's binary_logloss: 0.480591	valid_1's binary_logloss: 0.485161
[80]	training's binary_logloss: 0.47891	valid_1's binary_logloss: 0.484665
[90]	training's binary_logloss: 0.477517	valid_1's binary_logloss: 0.484307
[100]	training's binary_logloss: 0.476341	valid_1's binary_logloss: 0.484254
[110]	training's binary_logloss: 0.475249	valid_1's binary_logloss: 0.484074
[120]	training's binary_logloss: 0.474314	valid_1's binary_logloss: 0.484151
Early stopping, best iteration is:
[111]	training's binary_logloss: 0.475144	valid_1's binary_logloss: 0.484063
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 493
[LightGBM] [Info] Number of data: 80000, number of used features: 9
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.568119	valid_1's binary_logloss: 0.568997
[20]	training's binary_logloss: 0.520702	valid_1's binary_logloss: 0.522722
[30]	training's binary_logloss: 0.499612	valid_1's binary_logloss: 0.50274
[40]	training's binary_logloss: 0.489806	valid_1's binary_logloss: 0.494001
[50]	training's binary_logloss: 0.484941	valid_1's binary_logloss: 0.489983
[60]	training's binary_logloss: 0.482123	valid_1's binary_logloss: 0.488083
[70]	training's binary_logloss: 0.480236	valid_1's binary_logloss: 0.487127
[80]	training's binary_logloss: 0.478696	valid_1's binary_logloss: 0.486565
[90]	training's binary_logloss: 0.477252	valid_1's binary_logloss: 0.486141
[100]	training's binary_logloss: 0.475972	valid_1's binary_logloss: 0.485953
[110]	training's binary_logloss: 0.474886	valid_1's binary_logloss: 0.485823
[120]	training's binary_logloss: 0.473843	valid_1's binary_logloss: 0.485754
[130]	training's binary_logloss: 0.472877	valid_1's binary_logloss: 0.485746
Early stopping, best iteration is:
[128]	training's binary_logloss: 0.473072	valid_1's binary_logloss: 0.485706
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 496
[LightGBM] [Info] Number of data: 80000, number of used features: 9
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.568644	valid_1's binary_logloss: 0.568063
[20]	training's binary_logloss: 0.521525	valid_1's binary_logloss: 0.52072
[30]	training's binary_logloss: 0.500636	valid_1's binary_logloss: 0.499848
[40]	training's binary_logloss: 0.490907	valid_1's binary_logloss: 0.490378
[50]	training's binary_logloss: 0.485989	valid_1's binary_logloss: 0.485922
[60]	training's binary_logloss: 0.483128	valid_1's binary_logloss: 0.483779
[70]	training's binary_logloss: 0.481253	valid_1's binary_logloss: 0.482772
[80]	training's binary_logloss: 0.479614	valid_1's binary_logloss: 0.48204
[90]	training's binary_logloss: 0.478254	valid_1's binary_logloss: 0.48172
[100]	training's binary_logloss: 0.477061	valid_1's binary_logloss: 0.481349
[110]	training's binary_logloss: 0.475929	valid_1's binary_logloss: 0.481204
[120]	training's binary_logloss: 0.474959	valid_1's binary_logloss: 0.481152
[130]	training's binary_logloss: 0.474012	valid_1's binary_logloss: 0.48109
[140]	training's binary_logloss: 0.473231	valid_1's binary_logloss: 0.48107
Early stopping, best iteration is:
[137]	training's binary_logloss: 0.47346	valid_1's binary_logloss: 0.481039
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 492
[LightGBM] [Info] Number of data: 80000, number of used features: 9
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.568733	valid_1's binary_logloss: 0.567839
[20]	training's binary_logloss: 0.521634	valid_1's binary_logloss: 0.520228
[30]	training's binary_logloss: 0.500686	valid_1's binary_logloss: 0.499222
[40]	training's binary_logloss: 0.490938	valid_1's binary_logloss: 0.489647
[50]	training's binary_logloss: 0.486116	valid_1's binary_logloss: 0.485294
[60]	training's binary_logloss: 0.483255	valid_1's binary_logloss: 0.48316
[70]	training's binary_logloss: 0.481435	valid_1's binary_logloss: 0.482009
[80]	training's binary_logloss: 0.47994	valid_1's binary_logloss: 0.481288
[90]	training's binary_logloss: 0.47855	valid_1's binary_logloss: 0.480895
[100]	training's binary_logloss: 0.477273	valid_1's binary_logloss: 0.480586
[110]	training's binary_logloss: 0.476203	valid_1's binary_logloss: 0.480466
[120]	training's binary_logloss: 0.475149	valid_1's binary_logloss: 0.480388
[130]	training's binary_logloss: 0.474233	valid_1's binary_logloss: 0.480267
[140]	training's binary_logloss: 0.473432	valid_1's binary_logloss: 0.480293
Early stopping, best iteration is:
[130]	training's binary_logloss: 0.474233	valid_1's binary_logloss: 0.480267
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34220, number of negative: 45780
[LightGBM] [Info] Total Bins 494
[LightGBM] [Info] Number of data: 80000, number of used features: 9
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427750 -> initscore=-0.291037
[LightGBM] [Info] Start training from score -0.291037
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.56729	valid_1's binary_logloss: 0.570645
[20]	training's binary_logloss: 0.519659	valid_1's binary_logloss: 0.525381
[30]	training's binary_logloss: 0.498454	valid_1's binary_logloss: 0.506195
[40]	training's binary_logloss: 0.488623	valid_1's binary_logloss: 0.497905
[50]	training's binary_logloss: 0.483712	valid_1's binary_logloss: 0.494292
[60]	training's binary_logloss: 0.480831	valid_1's binary_logloss: 0.492532
[70]	training's binary_logloss: 0.479023	valid_1's binary_logloss: 0.491876
[80]	training's binary_logloss: 0.477441	valid_1's binary_logloss: 0.491408
[90]	training's binary_logloss: 0.476049	valid_1's binary_logloss: 0.490994
[100]	training's binary_logloss: 0.474886	valid_1's binary_logloss: 0.490735
[110]	training's binary_logloss: 0.473801	valid_1's binary_logloss: 0.490418
[120]	training's binary_logloss: 0.472787	valid_1's binary_logloss: 0.490402
[130]	training's binary_logloss: 0.471817	valid_1's binary_logloss: 0.490364
[140]	training's binary_logloss: 0.470942	valid_1's binary_logloss: 0.490384
Early stopping, best iteration is:
[134]	training's binary_logloss: 0.471456	valid_1's binary_logloss: 0.490345

In [74]:
from sklearn.metrics import accuracy_score

y_pred_oof = (oof_train > 0.5).astype(int)
accuracy_score(y_train, y_pred_oof)

0.77224

In [75]:
y_sub = sum(y_preds) / len(y_preds)
y_sub = (y_sub > 0.5).astype(int)
y_sub[:10]

array([0, 1, 1, 0, 1, 0, 1, 0, 0, 0])

In [76]:
sub = pd.read_csv('../data/tabular_playground/sample_submission.csv')

In [77]:
sub["Survived"] = y_sub
sub.to_csv("./subs/lightgbm_skfold_isAlone_categorized.csv",index=False)

In [78]:
sub.head()

   PassengerId  Survived
0       100000         0
1       100001         1
2       100002         1
3       100003         0
4       100004         1

# Pseudolabellingを使ってみる
- 参考
    - https://www.kaggle.com/c/tabular-playground-series-apr-2021/discussion/231738

In [79]:
test.loc[:,"Survived"] = y_sub

/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [80]:
test

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone
0,0,3,0,19.0,0,0,63.01,0,1,1
1,1,3,1,53.0,0,0,5.81,0,1,1
2,1,1,1,19.0,0,0,38.91,1,1,1
3,0,2,0,25.0,0,0,12.93,0,1,1
4,1,1,1,17.0,0,2,26.89,1,3,0
...,...,...,...,...,...,...,...,...,...,...
99995,1,3,1,27.0,0,0,10.12,2,1,1
99996,0,1,0,59.0,1,0,68.31,0,2,0
99997,0,3,0,47.0,0,0,10.87,0,1,1
99998,1,1,1,49.0,1,2,29.68,1,4,0
99999,1,1,1,41.0,0,2,195.41,1,3,0

In [106]:
pseudoLabeled_train = pd.concat([train, test], sort=False)
pseudoLabeled_train = pseudoLabeled_train.reset_index(drop=True)
pseudoLabeled_train

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone
0,1.0,1,0,31.00,2,0,27.14,0,3,0
1,0.0,3,0,31.00,0,0,13.35,0,1,1
2,0.0,3,0,0.33,1,2,71.29,0,4,0
3,0.0,3,0,19.00,0,0,13.04,0,1,1
4,1.0,3,0,25.00,0,0,7.76,0,1,1
...,...,...,...,...,...,...,...,...,...,...
199995,1.0,3,1,27.00,0,0,10.12,2,1,1
199996,0.0,1,0,59.00,1,0,68.31,0,2,0
199997,0.0,3,0,47.00,0,0,10.87,0,1,1
199998,1.0,1,1,49.00,1,2,29.68,1,4,0
199999,1.0,1,1,41.00,0,2,195.41,1,3,0

In [107]:
y_train = pseudoLabeled_train["Survived"]
X_train = pseudoLabeled_train.drop("Survived", axis=1)
X_test = test.drop("Survived", axis=1)

In [108]:
y_train

0         1.0
1         0.0
2         0.0
3         0.0
4         1.0
         ...
199995    1.0
199996    0.0
199997    0.0
199998    1.0
199999    1.0
Name: Survived, Length: 200000, dtype: float64

In [109]:
X_test

       Pclass  Sex   Age  SibSp  Parch    Fare  Embarked  FamilySize  IsAlone
0           3    0  19.0      0      0   63.01         0           1        1
1           3    1  53.0      0      0    5.81         0           1        1
2           1    1  19.0      0      0   38.91         1           1        1
3           2    0  25.0      0      0   12.93         0           1        1
4           1    1  17.0      0      2   26.89         1           3        0
...       ...  ...   ...    ...    ...     ...       ...         ...      ...
99995       3    1  27.0      0      0   10.12         2           1        1
99996       1    0  59.0      1      0   68.31         0           2        0
99997       3    0  47.0      0      0   10.87         0           1        1
99998       1    1  49.0      1      2   29.68         1           4        0
99999       1    1  41.0      0      2  195.41         1           3        0

[100000 rows x 9 columns]

In [110]:
X_train

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone
0,1,0,31.00,2,0,27.14,0,3,0
1,3,0,31.00,0,0,13.35,0,1,1
2,3,0,0.33,1,2,71.29,0,4,0
3,3,0,19.00,0,0,13.04,0,1,1
4,3,0,25.00,0,0,7.76,0,1,1
...,...,...,...,...,...,...,...,...,...
199995,3,1,27.00,0,0,10.12,2,1,1
199996,1,0,59.00,1,0,68.31,0,2,0
199997,3,0,47.00,0,0,10.87,0,1,1
199998,1,1,49.00,1,2,29.68,1,4,0
199999,1,1,41.00,0,2,195.41,1,3,0

In [111]:
y_preds = []
models = []
oof_train = np.zeros((len(X_train), ))
cv2 = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)

In [112]:
for fold_id, (train_index, valid_index) in enumerate(cv2.split(X_train, y_train)):
    X_tr = X_train.loc[train_index, :]
    X_val = X_train.loc[valid_index,:]
    y_tr = y_train[train_index]
    y_val = y_train[valid_index]

    lgb_train = lgb.Dataset(
        X_tr, y_tr, categorical_feature=categorical_features
    )

    lgb_eval = lgb.Dataset(
        X_val, y_val, reference=lgb_train, categorical_feature=categorical_features 
    )

    model = lgb.train(
        params, lgb_train, valid_sets=[lgb_train, lgb_eval],
        verbose_eval=10, num_boost_round=1000, early_stopping_rounds=10
    )

    oof_train[valid_index] = model.predict(
        X_val, num_iteration=model.best_iteration
    )

    y_pred = model.predict(
        X_test, num_iteration=model.best_iteration
    )

    y_preds.append(y_pred)
    models.append(model)

/opt/conda/lib/python3.9/site-packages/lightgbm/basic.py:1291: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 57526, number of negative: 102474
[LightGBM] [Info] Total Bins 504
[LightGBM] [Info] Number of data: 160000, number of used features: 9
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.359538 -> initscore=-0.577372
[LightGBM] [Info] Start training from score -0.577372
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.46962	valid_1's binary_logloss: 0.466627
[20]	training's binary_logloss: 0.392793	valid_1's binary_logloss: 0.387908
[30]	training's binary_logloss: 0.356447	valid_1's binary_logloss: 0.350261
[40]	training's binary_logloss: 0.338409	valid_1's binary_logloss: 0.331386
[50]	training's binary_logloss: 0.328955	valid_1's binary_logloss: 0.321429
[60]	training's binary_logloss: 0.323703	valid_1's binary_logloss: 0.316118
[70]	training's binary_logloss: 0.320327	valid_1's binary_logloss: 0.312915
[80]	training's binary_logloss: 0.31792	valid_1's binary_logloss: 0.310795
[90]	training's binary_logloss: 0.316203	valid_1's binary_logloss: 0.309421
[100]	training's binary_logloss: 0.31468	valid_1's binary_logloss: 0.308364
[110]	training's binary_logloss: 0.313558	valid_1's binary_logloss: 0.307643
[120]	training's binary_logloss: 0.312583	valid_1's binary_logloss: 0.307166
[130]	training's binary_logloss: 0.311778	valid_1's binary_logloss: 0.306812
[140]	training's binary_logloss: 0.310994	valid_1's binary_logloss: 0.306509
[150]	training's binary_logloss: 0.310324	valid_1's binary_logloss: 0.306362
[160]	training's binary_logloss: 0.309702	valid_1's binary_logloss: 0.30623
[170]	training's binary_logloss: 0.309107	valid_1's binary_logloss: 0.306047
[180]	training's binary_logloss: 0.30854	valid_1's binary_logloss: 0.305984
[190]	training's binary_logloss: 0.307944	valid_1's binary_logloss: 0.305807
[200]	training's binary_logloss: 0.307431	valid_1's binary_logloss: 0.305685
[210]	training's binary_logloss: 0.306948	valid_1's binary_logloss: 0.305608
[220]	training's binary_logloss: 0.30656	valid_1's binary_logloss: 0.305598
Early stopping, best iteration is:
[212]	training's binary_logloss: 0.306862	valid_1's binary_logloss: 0.305587
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 57526, number of negative: 102474
[LightGBM] [Info] Total Bins 502
[LightGBM] [Info] Number of data: 160000, number of used features: 9
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.359538 -> initscore=-0.577372
[LightGBM] [Info] Start training from score -0.577372
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.467908	valid_1's binary_logloss: 0.47031
[20]	training's binary_logloss: 0.390328	valid_1's binary_logloss: 0.394513
[30]	training's binary_logloss: 0.353597	valid_1's binary_logloss: 0.359111
[40]	training's binary_logloss: 0.335203	valid_1's binary_logloss: 0.34172
[50]	training's binary_logloss: 0.325759	valid_1's binary_logloss: 0.333039
[60]	training's binary_logloss: 0.320647	valid_1's binary_logloss: 0.328494
[70]	training's binary_logloss: 0.317325	valid_1's binary_logloss: 0.325751
[80]	training's binary_logloss: 0.31498	valid_1's binary_logloss: 0.323951
[90]	training's binary_logloss: 0.313239	valid_1's binary_logloss: 0.322657
[100]	training's binary_logloss: 0.311675	valid_1's binary_logloss: 0.321526
[110]	training's binary_logloss: 0.310469	valid_1's binary_logloss: 0.320839
[120]	training's binary_logloss: 0.309412	valid_1's binary_logloss: 0.320291
[130]	training's binary_logloss: 0.308512	valid_1's binary_logloss: 0.319823
[140]	training's binary_logloss: 0.307757	valid_1's binary_logloss: 0.319503
[150]	training's binary_logloss: 0.307063	valid_1's binary_logloss: 0.319253
[160]	training's binary_logloss: 0.306365	valid_1's binary_logloss: 0.318995
[170]	training's binary_logloss: 0.305799	valid_1's binary_logloss: 0.318893
[180]	training's binary_logloss: 0.305295	valid_1's binary_logloss: 0.318804
[190]	training's binary_logloss: 0.304814	valid_1's binary_logloss: 0.3187
[200]	training's binary_logloss: 0.304298	valid_1's binary_logloss: 0.318596
[210]	training's binary_logloss: 0.303828	valid_1's binary_logloss: 0.318496
[220]	training's binary_logloss: 0.30336	valid_1's binary_logloss: 0.31837
[230]	training's binary_logloss: 0.302877	valid_1's binary_logloss: 0.318295
[240]	training's binary_logloss: 0.302511	valid_1's binary_logloss: 0.318214
[250]	training's binary_logloss: 0.302091	valid_1's binary_logloss: 0.318139
[260]	training's binary_logloss: 0.301706	valid_1's binary_logloss: 0.318087
[270]	training's binary_logloss: 0.301347	valid_1's binary_logloss: 0.318071
[280]	training's binary_logloss: 0.300957	valid_1's binary_logloss: 0.318052
[290]	training's binary_logloss: 0.300547	valid_1's binary_logloss: 0.318004
Early stopping, best iteration is:
[286]	training's binary_logloss: 0.30069	valid_1's binary_logloss: 0.318002
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 57526, number of negative: 102474
[LightGBM] [Info] Total Bins 503
[LightGBM] [Info] Number of data: 160000, number of used features: 9
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.359538 -> initscore=-0.577372
[LightGBM] [Info] Start training from score -0.577372
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.468822	valid_1's binary_logloss: 0.468538
[20]	training's binary_logloss: 0.391594	valid_1's binary_logloss: 0.39122
[30]	training's binary_logloss: 0.354919	valid_1's binary_logloss: 0.354593
[40]	training's binary_logloss: 0.336826	valid_1's binary_logloss: 0.336623
[50]	training's binary_logloss: 0.32724	valid_1's binary_logloss: 0.327292
[60]	training's binary_logloss: 0.321967	valid_1's binary_logloss: 0.322569
[70]	training's binary_logloss: 0.318572	valid_1's binary_logloss: 0.319626
[80]	training's binary_logloss: 0.316169	valid_1's binary_logloss: 0.317608
[90]	training's binary_logloss: 0.314395	valid_1's binary_logloss: 0.316296
[100]	training's binary_logloss: 0.312904	valid_1's binary_logloss: 0.315273
[110]	training's binary_logloss: 0.311745	valid_1's binary_logloss: 0.314627
[120]	training's binary_logloss: 0.310687	valid_1's binary_logloss: 0.314039
[130]	training's binary_logloss: 0.309864	valid_1's binary_logloss: 0.313683
[140]	training's binary_logloss: 0.309107	valid_1's binary_logloss: 0.313347
[150]	training's binary_logloss: 0.308416	valid_1's binary_logloss: 0.313137
[160]	training's binary_logloss: 0.307817	valid_1's binary_logloss: 0.3129
[170]	training's binary_logloss: 0.307196	valid_1's binary_logloss: 0.312734
[180]	training's binary_logloss: 0.306675	valid_1's binary_logloss: 0.312625
[190]	training's binary_logloss: 0.306189	valid_1's binary_logloss: 0.312547
[200]	training's binary_logloss: 0.305685	valid_1's binary_logloss: 0.312469
[210]	training's binary_logloss: 0.30514	valid_1's binary_logloss: 0.312362
[220]	training's binary_logloss: 0.304656	valid_1's binary_logloss: 0.312313
[230]	training's binary_logloss: 0.304209	valid_1's binary_logloss: 0.312286
[240]	training's binary_logloss: 0.303741	valid_1's binary_logloss: 0.312222
[250]	training's binary_logloss: 0.303267	valid_1's binary_logloss: 0.312172
[260]	training's binary_logloss: 0.302851	valid_1's binary_logloss: 0.312144
[270]	training's binary_logloss: 0.302451	valid_1's binary_logloss: 0.312115
[280]	training's binary_logloss: 0.302052	valid_1's binary_logloss: 0.312093
[290]	training's binary_logloss: 0.301622	valid_1's binary_logloss: 0.312063
[300]	training's binary_logloss: 0.301204	valid_1's binary_logloss: 0.312012
[310]	training's binary_logloss: 0.300809	valid_1's binary_logloss: 0.311987
Early stopping, best iteration is:
[308]	training's binary_logloss: 0.300868	valid_1's binary_logloss: 0.311978
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 57527, number of negative: 102473
[LightGBM] [Info] Total Bins 506
[LightGBM] [Info] Number of data: 160000, number of used features: 9
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.359544 -> initscore=-0.577345
[LightGBM] [Info] Start training from score -0.577345
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.468304	valid_1's binary_logloss: 0.469682
[20]	training's binary_logloss: 0.390827	valid_1's binary_logloss: 0.393076
[30]	training's binary_logloss: 0.354192	valid_1's binary_logloss: 0.357306
[40]	training's binary_logloss: 0.336004	valid_1's binary_logloss: 0.339763
[50]	training's binary_logloss: 0.326498	valid_1's binary_logloss: 0.330842
[60]	training's binary_logloss: 0.32128	valid_1's binary_logloss: 0.325958
[70]	training's binary_logloss: 0.318005	valid_1's binary_logloss: 0.322833
[80]	training's binary_logloss: 0.315741	valid_1's binary_logloss: 0.320873
[90]	training's binary_logloss: 0.314008	valid_1's binary_logloss: 0.319504
[100]	training's binary_logloss: 0.312504	valid_1's binary_logloss: 0.318362
[110]	training's binary_logloss: 0.311306	valid_1's binary_logloss: 0.317457
[120]	training's binary_logloss: 0.310349	valid_1's binary_logloss: 0.316823
[130]	training's binary_logloss: 0.309441	valid_1's binary_logloss: 0.316324
[140]	training's binary_logloss: 0.308705	valid_1's binary_logloss: 0.315963
[150]	training's binary_logloss: 0.308031	valid_1's binary_logloss: 0.315705
[160]	training's binary_logloss: 0.307392	valid_1's binary_logloss: 0.31544
[170]	training's binary_logloss: 0.306813	valid_1's binary_logloss: 0.315292
[180]	training's binary_logloss: 0.306243	valid_1's binary_logloss: 0.315155
[190]	training's binary_logloss: 0.305748	valid_1's binary_logloss: 0.315071
[200]	training's binary_logloss: 0.305237	valid_1's binary_logloss: 0.31494
[210]	training's binary_logloss: 0.304749	valid_1's binary_logloss: 0.314839
[220]	training's binary_logloss: 0.304282	valid_1's binary_logloss: 0.314793
[230]	training's binary_logloss: 0.303861	valid_1's binary_logloss: 0.314756
[240]	training's binary_logloss: 0.303423	valid_1's binary_logloss: 0.314708
[250]	training's binary_logloss: 0.303033	valid_1's binary_logloss: 0.314677
[260]	training's binary_logloss: 0.302645	valid_1's binary_logloss: 0.314667
[270]	training's binary_logloss: 0.302254	valid_1's binary_logloss: 0.314623
[280]	training's binary_logloss: 0.301821	valid_1's binary_logloss: 0.314593
Early stopping, best iteration is:
[279]	training's binary_logloss: 0.301876	valid_1's binary_logloss: 0.314585
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 57527, number of negative: 102473
[LightGBM] [Info] Total Bins 502
[LightGBM] [Info] Number of data: 160000, number of used features: 9
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.359544 -> initscore=-0.577345
[LightGBM] [Info] Start training from score -0.577345
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.468394	valid_1's binary_logloss: 0.469462
[20]	training's binary_logloss: 0.390922	valid_1's binary_logloss: 0.392748
[30]	training's binary_logloss: 0.354237	valid_1's binary_logloss: 0.356565
[40]	training's binary_logloss: 0.335959	valid_1's binary_logloss: 0.338753
[50]	training's binary_logloss: 0.326502	valid_1's binary_logloss: 0.329746
[60]	training's binary_logloss: 0.3214	valid_1's binary_logloss: 0.325018
[70]	training's binary_logloss: 0.318104	valid_1's binary_logloss: 0.322053
[80]	training's binary_logloss: 0.315829	valid_1's binary_logloss: 0.320166
[90]	training's binary_logloss: 0.314057	valid_1's binary_logloss: 0.318834
[100]	training's binary_logloss: 0.312569	valid_1's binary_logloss: 0.31779
[110]	training's binary_logloss: 0.311383	valid_1's binary_logloss: 0.317074
[120]	training's binary_logloss: 0.310309	valid_1's binary_logloss: 0.316373
[130]	training's binary_logloss: 0.309377	valid_1's binary_logloss: 0.315878
[140]	training's binary_logloss: 0.308675	valid_1's binary_logloss: 0.315674
[150]	training's binary_logloss: 0.307946	valid_1's binary_logloss: 0.315365
[160]	training's binary_logloss: 0.307373	valid_1's binary_logloss: 0.315232
[170]	training's binary_logloss: 0.306811	valid_1's binary_logloss: 0.315145
[180]	training's binary_logloss: 0.306246	valid_1's binary_logloss: 0.315026
[190]	training's binary_logloss: 0.305739	valid_1's binary_logloss: 0.314964
[200]	training's binary_logloss: 0.305207	valid_1's binary_logloss: 0.314836
[210]	training's binary_logloss: 0.304683	valid_1's binary_logloss: 0.314708
[220]	training's binary_logloss: 0.304106	valid_1's binary_logloss: 0.314616
[230]	training's binary_logloss: 0.303636	valid_1's binary_logloss: 0.314575
[240]	training's binary_logloss: 0.303156	valid_1's binary_logloss: 0.314549
[250]	training's binary_logloss: 0.302697	valid_1's binary_logloss: 0.314512
[260]	training's binary_logloss: 0.302318	valid_1's binary_logloss: 0.314486
[270]	training's binary_logloss: 0.301936	valid_1's binary_logloss: 0.314471
Early stopping, best iteration is:
[268]	training's binary_logloss: 0.302018	valid_1's binary_logloss: 0.314458

In [113]:

y_pred_oof = (oof_train > 0.5).astype(int)
accuracy_score(y_train, y_pred_oof)

0.883005

In [114]:
y_sub = sum(y_preds) / len(y_preds)
y_sub = (y_sub > 0.5).astype(int)

sub["Survived"] = y_sub
sub.to_csv("./subs/lightgbm_skfold_pseudo_labeled.csv",index=False)