In [19]:
import numpy as np
import pandas as pd

In [20]:
train = pd.read_csv("../data/tabular_playground/train.csv")
test = pd.read_csv("../data/tabular_playground/test.csv")

data = pd.concat([train, test], sort=False)

In [21]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1.0,1,"Oconnor, Frankie",male,NaN,2,0,209245,27.14,C12239,S
1,1,0.0,3,"Bryan, Drew",male,NaN,0,0,27323,13.35,NaN,S
2,2,0.0,3,"Owens, Kenneth",male,0.33,1,2,CA 457703,71.29,NaN,S
3,3,0.0,3,"Kramer, James",male,19.00,0,0,A. 10866,13.04,NaN,S
4,4,1.0,3,"Bond, Michael",male,25.00,0,0,427635,7.76,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,199995,NaN,3,"Cash, Cheryle",female,27.00,0,0,7686,10.12,NaN,Q
99996,199996,NaN,1,"Brown, Howard",male,59.00,1,0,13004,68.31,NaN,S
99997,199997,NaN,3,"Lightfoot, Cameron",male,47.00,0,0,4383317,10.87,NaN,S
99998,199998,NaN,1,"Jacobsen, Margaret",female,49.00,1,2,PC 26988,29.68,B20828,C
99999,199999,NaN,1,"Fishback, Joanna",female,41.00,0,2,PC 41824,195.41,E13345,C

In [22]:
data["Sex"].replace(["male", "female"], [0,1], inplace=True)
data["Embarked"].fillna(("S"), inplace=True)
data["Embarked"] = data["Embarked"].map(
    {"S":0, "C":1, "Q":2}
).astype(int)
data["Fare"].fillna(np.mean(
    data["Fare"]
), inplace=True)

In [23]:
data["Age"].fillna(data["Age"].median(), inplace=True)

In [24]:
data["FamilySize"] = data["Parch"] + data["SibSp"] + 1
data["IsAlone"] = 0
data.loc[data["FamilySize"] == 1, "IsAlone"] = 1

In [25]:
data["FirstName"] = data.Name.map(
    lambda x: str(x.split(",")[0])
)
data["SurName"] = data.Name.map(
    lambda x: str(x.split(",")[1])
)

for col in ['Name', 'FirstName', 'SurName']:
    data["Counter_"+col] = data[col].map(
        data.groupby(col)["PassengerId"].count().to_dict()
    )

In [26]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,IsAlone,FirstName,SurName,Counter_Name,Counter_FirstName,Counter_SurName
0,0,1.0,1,"Oconnor, Frankie",0,31.00,2,0,209245,27.14,C12239,0,3,0,Oconnor,Frankie,1,47,51
1,1,0.0,3,"Bryan, Drew",0,31.00,0,0,27323,13.35,NaN,0,1,1,Bryan,Drew,1,54,31
2,2,0.0,3,"Owens, Kenneth",0,0.33,1,2,CA 457703,71.29,NaN,0,4,0,Owens,Kenneth,2,165,1128
3,3,0.0,3,"Kramer, James",0,19.00,0,0,A. 10866,13.04,NaN,0,1,1,Kramer,James,2,53,4736
4,4,1.0,3,"Bond, Michael",0,25.00,0,0,427635,7.76,NaN,0,1,1,Bond,Michael,1,39,3662

In [27]:
delete_columns = ['Name', 'PassengerId', 'Ticket', 'Cabin','FirstName', 'SurName']
data.drop(delete_columns, axis=1, inplace=True)

train = data[:len(train)]
test = data[len(train):]

test.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,Counter_Name,Counter_FirstName,Counter_SurName
0,NaN,3,0,19.0,0,0,63.01,0,1,1,1,18,1384
1,NaN,3,1,53.0,0,0,5.81,0,1,1,1,108,125
2,NaN,1,1,19.0,0,0,38.91,1,1,1,1,511,244
3,NaN,2,0,25.0,0,0,12.93,0,1,1,1,51,770
4,NaN,1,1,17.0,0,2,26.89,1,3,0,1,8,387

In [28]:
y_train = train["Survived"]
X_train = train.drop("Survived", axis=1)
X_test = test.drop("Survived", axis=1)

In [29]:
y_train.head()

0    1.0
1    0.0
2    0.0
3    0.0
4    1.0
Name: Survived, dtype: float64

In [30]:
X_train.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,Counter_Name,Counter_FirstName,Counter_SurName
0,1,0,31.00,2,0,27.14,0,3,0,1,47,51
1,3,0,31.00,0,0,13.35,0,1,1,1,54,31
2,3,0,0.33,1,2,71.29,0,4,0,2,165,1128
3,3,0,19.00,0,0,13.04,0,1,1,2,53,4736
4,3,0,25.00,0,0,7.76,0,1,1,1,39,3662

In [31]:
X_test.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,Counter_Name,Counter_FirstName,Counter_SurName
0,3,0,19.0,0,0,63.01,0,1,1,1,18,1384
1,3,1,53.0,0,0,5.81,0,1,1,1,108,125
2,1,1,19.0,0,0,38.91,1,1,1,1,511,244
3,2,0,25.0,0,0,12.93,0,1,1,1,51,770
4,1,1,17.0,0,2,26.89,1,3,0,1,8,387

In [32]:
# lightLGM + skfold
from sklearn.model_selection import StratifiedKFold
import lightgbm as lgb

In [33]:
y_preds = []
models = []
oof_train = np.zeros((len(X_train), ))
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)

In [34]:
# categorical_features = ["Embarked", "Pclass", "Sex"]
categorical_features = ["Embarked", "Pclass", "Sex", "IsAlone"]

In [35]:
params = {
    "objective":"binary",
    "max_bin":300,
    "learning_rate":0.05,
    "num_leaves":40
}

In [36]:
for fold_id, (train_index, valid_index) in enumerate(cv.split(X_train, y_train)):
    X_tr = X_train.loc[train_index, :]
    X_val = X_train.loc[valid_index,:]
    y_tr = y_train[train_index]
    y_val = y_train[valid_index]

    lgb_train = lgb.Dataset(
        X_tr, y_tr, categorical_feature=categorical_features
    )

    lgb_eval = lgb.Dataset(
        X_val, y_val, reference=lgb_train, categorical_feature=categorical_features 
    )

    model = lgb.train(
        params, lgb_train, valid_sets=[lgb_train, lgb_eval],
        verbose_eval=10, num_boost_round=1000, early_stopping_rounds=10
    )

    oof_train[valid_index] = model.predict(
        X_val, num_iteration=model.best_iteration
    )

    y_pred = model.predict(
        X_test, num_iteration=model.best_iteration
    )

    y_preds.append(y_pred)
    models.append(model)

/opt/conda/lib/python3.9/site-packages/lightgbm/basic.py:1291: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 1057
[LightGBM] [Info] Number of data: 80000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.568317	valid_1's binary_logloss: 0.569169
[20]	training's binary_logloss: 0.521052	valid_1's binary_logloss: 0.522385
[30]	training's binary_logloss: 0.499966	valid_1's binary_logloss: 0.501964
[40]	training's binary_logloss: 0.490119	valid_1's binary_logloss: 0.492759
[50]	training's binary_logloss: 0.485003	valid_1's binary_logloss: 0.488513
[60]	training's binary_logloss: 0.482026	valid_1's binary_logloss: 0.486532
[70]	training's binary_logloss: 0.47992	valid_1's binary_logloss: 0.485574
[80]	training's binary_logloss: 0.478089	valid_1's binary_logloss: 0.485109
[90]	training's binary_logloss: 0.476417	valid_1's binary_logloss: 0.484749
[100]	training's binary_logloss: 0.474955	valid_1's binary_logloss: 0.484521
[110]	training's binary_logloss: 0.473594	valid_1's binary_logloss: 0.484439
Early stopping, best iteration is:
[107]	training's binary_logloss: 0.473979	valid_1's binary_logloss: 0.484416
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 1058
[LightGBM] [Info] Number of data: 80000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.568119	valid_1's binary_logloss: 0.568997
[20]	training's binary_logloss: 0.520722	valid_1's binary_logloss: 0.522759
[30]	training's binary_logloss: 0.499585	valid_1's binary_logloss: 0.502765
[40]	training's binary_logloss: 0.48976	valid_1's binary_logloss: 0.49408
[50]	training's binary_logloss: 0.484803	valid_1's binary_logloss: 0.49025
[60]	training's binary_logloss: 0.481812	valid_1's binary_logloss: 0.488371
[70]	training's binary_logloss: 0.47973	valid_1's binary_logloss: 0.487463
[80]	training's binary_logloss: 0.477961	valid_1's binary_logloss: 0.486883
[90]	training's binary_logloss: 0.476239	valid_1's binary_logloss: 0.486372
[100]	training's binary_logloss: 0.474619	valid_1's binary_logloss: 0.486332
[110]	training's binary_logloss: 0.473214	valid_1's binary_logloss: 0.486259
[120]	training's binary_logloss: 0.472036	valid_1's binary_logloss: 0.486249
Early stopping, best iteration is:
[119]	training's binary_logloss: 0.472134	valid_1's binary_logloss: 0.486236
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 1063
[LightGBM] [Info] Number of data: 80000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.568635	valid_1's binary_logloss: 0.568088
[20]	training's binary_logloss: 0.521466	valid_1's binary_logloss: 0.520748
[30]	training's binary_logloss: 0.500525	valid_1's binary_logloss: 0.499957
[40]	training's binary_logloss: 0.490709	valid_1's binary_logloss: 0.490605
[50]	training's binary_logloss: 0.485605	valid_1's binary_logloss: 0.486206
[60]	training's binary_logloss: 0.482571	valid_1's binary_logloss: 0.484011
[70]	training's binary_logloss: 0.480473	valid_1's binary_logloss: 0.482984
[80]	training's binary_logloss: 0.478631	valid_1's binary_logloss: 0.48222
[90]	training's binary_logloss: 0.477036	valid_1's binary_logloss: 0.481872
[100]	training's binary_logloss: 0.47556	valid_1's binary_logloss: 0.481675
[110]	training's binary_logloss: 0.474099	valid_1's binary_logloss: 0.481441
[120]	training's binary_logloss: 0.472842	valid_1's binary_logloss: 0.4812
[130]	training's binary_logloss: 0.471702	valid_1's binary_logloss: 0.481178
Early stopping, best iteration is:
[124]	training's binary_logloss: 0.472375	valid_1's binary_logloss: 0.481161
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 1057
[LightGBM] [Info] Number of data: 80000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.56873	valid_1's binary_logloss: 0.56784
[20]	training's binary_logloss: 0.521603	valid_1's binary_logloss: 0.520293
[30]	training's binary_logloss: 0.500642	valid_1's binary_logloss: 0.499319
[40]	training's binary_logloss: 0.490845	valid_1's binary_logloss: 0.489928
[50]	training's binary_logloss: 0.485913	valid_1's binary_logloss: 0.485653
[60]	training's binary_logloss: 0.482908	valid_1's binary_logloss: 0.483558
[70]	training's binary_logloss: 0.480829	valid_1's binary_logloss: 0.482362
[80]	training's binary_logloss: 0.479001	valid_1's binary_logloss: 0.481673
[90]	training's binary_logloss: 0.477414	valid_1's binary_logloss: 0.481371
[100]	training's binary_logloss: 0.475884	valid_1's binary_logloss: 0.481056
[110]	training's binary_logloss: 0.47453	valid_1's binary_logloss: 0.480835
[120]	training's binary_logloss: 0.473237	valid_1's binary_logloss: 0.480654
[130]	training's binary_logloss: 0.472126	valid_1's binary_logloss: 0.480625
[140]	training's binary_logloss: 0.470932	valid_1's binary_logloss: 0.480569
Early stopping, best iteration is:
[139]	training's binary_logloss: 0.471047	valid_1's binary_logloss: 0.48056
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34220, number of negative: 45780
[LightGBM] [Info] Total Bins 1060
[LightGBM] [Info] Number of data: 80000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427750 -> initscore=-0.291037
[LightGBM] [Info] Start training from score -0.291037
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.567284	valid_1's binary_logloss: 0.57065
[20]	training's binary_logloss: 0.51964	valid_1's binary_logloss: 0.525456
[30]	training's binary_logloss: 0.498359	valid_1's binary_logloss: 0.506237
[40]	training's binary_logloss: 0.488511	valid_1's binary_logloss: 0.498008
[50]	training's binary_logloss: 0.483554	valid_1's binary_logloss: 0.494495
[60]	training's binary_logloss: 0.480462	valid_1's binary_logloss: 0.492801
[70]	training's binary_logloss: 0.478344	valid_1's binary_logloss: 0.492156
[80]	training's binary_logloss: 0.476513	valid_1's binary_logloss: 0.491844
[90]	training's binary_logloss: 0.474861	valid_1's binary_logloss: 0.49153
[100]	training's binary_logloss: 0.473319	valid_1's binary_logloss: 0.491349
[110]	training's binary_logloss: 0.471941	valid_1's binary_logloss: 0.491173
[120]	training's binary_logloss: 0.470698	valid_1's binary_logloss: 0.49112
[130]	training's binary_logloss: 0.469589	valid_1's binary_logloss: 0.491008
[140]	training's binary_logloss: 0.468444	valid_1's binary_logloss: 0.491003
Early stopping, best iteration is:
[135]	training's binary_logloss: 0.469007	valid_1's binary_logloss: 0.49094

In [37]:
from sklearn.metrics import accuracy_score

y_pred_oof = (oof_train > 0.5).astype(int)
accuracy_score(y_train, y_pred_oof)

0.77203

In [38]:
y_sub = sum(y_preds) / len(y_preds)
y_sub = (y_sub > 0.5).astype(int)
y_sub[:10]

array([0, 0, 1, 0, 1, 0, 1, 0, 1, 0])

In [39]:
sub = pd.read_csv('../data/tabular_playground/sample_submission.csv')

In [40]:
sub["Survived"] = y_sub
sub.to_csv("./subs/lightgbm_skfold_isAlone_categorized.csv",index=False)

In [41]:
sub.head()

   PassengerId  Survived
0       100000         0
1       100001         0
2       100002         1
3       100003         0
4       100004         1

# Pseudolabellingを使ってみる
- 参考
    - https://www.kaggle.com/c/tabular-playground-series-apr-2021/discussion/231738

In [42]:
test.loc[:,"Survived"] = y_sub

/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [43]:
test

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,Counter_Name,Counter_FirstName,Counter_SurName
0,0,3,0,19.0,0,0,63.01,0,1,1,1,18,1384
1,0,3,1,53.0,0,0,5.81,0,1,1,1,108,125
2,1,1,1,19.0,0,0,38.91,1,1,1,1,511,244
3,0,2,0,25.0,0,0,12.93,0,1,1,1,51,770
4,1,1,1,17.0,0,2,26.89,1,3,0,1,8,387
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,3,1,27.0,0,0,10.12,2,1,1,1,34,4
99996,0,1,0,59.0,1,0,68.31,0,2,0,2,1352,316
99997,0,3,0,47.0,0,0,10.87,0,1,1,1,8,52
99998,1,1,1,49.0,1,2,29.68,1,4,0,1,12,575
99999,1,1,1,41.0,0,2,195.41,1,3,0,1,3,49

In [44]:
pseudoLabeled_train = pd.concat([train, test[:int(len(test) / 5)]], sort=False)
pseudoLabeled_train = pseudoLabeled_train.reset_index(drop=True)
pseudoLabeled_train

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,Counter_Name,Counter_FirstName,Counter_SurName
0,1.0,1,0,31.00,2,0,27.14,0,3,0,1,47,51
1,0.0,3,0,31.00,0,0,13.35,0,1,1,1,54,31
2,0.0,3,0,0.33,1,2,71.29,0,4,0,2,165,1128
3,0.0,3,0,19.00,0,0,13.04,0,1,1,2,53,4736
4,1.0,3,0,25.00,0,0,7.76,0,1,1,1,39,3662
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119995,0.0,3,0,42.00,0,0,14.14,0,1,1,1,22,3302
119996,0.0,3,0,22.00,1,0,12.14,0,2,0,1,6,1085
119997,0.0,3,0,21.00,1,0,7.70,0,2,0,7,462,3302
119998,1.0,1,1,18.00,1,2,31.65,0,4,0,1,20,239
119999,0.0,3,1,6.00,1,4,8.93,0,6,0,1,6,597

In [45]:
y_train = pseudoLabeled_train["Survived"]
X_train = pseudoLabeled_train.drop("Survived", axis=1)
X_test = test.drop("Survived", axis=1)

In [46]:
y_train

0         1.0
1         0.0
2         0.0
3         0.0
4         1.0
         ...
119995    0.0
119996    0.0
119997    0.0
119998    1.0
119999    0.0
Name: Survived, Length: 120000, dtype: float64

In [47]:
X_test

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,Counter_Name,Counter_FirstName,Counter_SurName
0,3,0,19.0,0,0,63.01,0,1,1,1,18,1384
1,3,1,53.0,0,0,5.81,0,1,1,1,108,125
2,1,1,19.0,0,0,38.91,1,1,1,1,511,244
3,2,0,25.0,0,0,12.93,0,1,1,1,51,770
4,1,1,17.0,0,2,26.89,1,3,0,1,8,387
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3,1,27.0,0,0,10.12,2,1,1,1,34,4
99996,1,0,59.0,1,0,68.31,0,2,0,2,1352,316
99997,3,0,47.0,0,0,10.87,0,1,1,1,8,52
99998,1,1,49.0,1,2,29.68,1,4,0,1,12,575
99999,1,1,41.0,0,2,195.41,1,3,0,1,3,49

In [48]:
X_train

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,Counter_Name,Counter_FirstName,Counter_SurName
0,1,0,31.00,2,0,27.14,0,3,0,1,47,51
1,3,0,31.00,0,0,13.35,0,1,1,1,54,31
2,3,0,0.33,1,2,71.29,0,4,0,2,165,1128
3,3,0,19.00,0,0,13.04,0,1,1,2,53,4736
4,3,0,25.00,0,0,7.76,0,1,1,1,39,3662
...,...,...,...,...,...,...,...,...,...,...,...,...
119995,3,0,42.00,0,0,14.14,0,1,1,1,22,3302
119996,3,0,22.00,1,0,12.14,0,2,0,1,6,1085
119997,3,0,21.00,1,0,7.70,0,2,0,7,462,3302
119998,1,1,18.00,1,2,31.65,0,4,0,1,20,239
119999,3,1,6.00,1,4,8.93,0,6,0,1,6,597

In [49]:
y_preds = []
models = []
oof_train = np.zeros((len(X_train), ))
cv2 = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)

In [50]:
for fold_id, (train_index, valid_index) in enumerate(cv2.split(X_train, y_train)):
    X_tr = X_train.loc[train_index, :]
    X_val = X_train.loc[valid_index,:]
    y_tr = y_train[train_index]
    y_val = y_train[valid_index]

    lgb_train = lgb.Dataset(
        X_tr, y_tr, categorical_feature=categorical_features
    )

    lgb_eval = lgb.Dataset(
        X_val, y_val, reference=lgb_train, categorical_feature=categorical_features 
    )

    model = lgb.train(
        params, lgb_train, valid_sets=[lgb_train, lgb_eval],
        verbose_eval=10, num_boost_round=1000, early_stopping_rounds=10
    )

    oof_train[valid_index] = model.predict(
        X_val, num_iteration=model.best_iteration
    )

    y_pred = model.predict(
        X_test, num_iteration=model.best_iteration
    )

    y_preds.append(y_pred)
    models.append(model)

/opt/conda/lib/python3.9/site-packages/lightgbm/basic.py:1291: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 38868, number of negative: 57132
[LightGBM] [Info] Total Bins 1063
[LightGBM] [Info] Number of data: 96000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.404875 -> initscore=-0.385193
[LightGBM] [Info] Start training from score -0.385193
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.541688	valid_1's binary_logloss: 0.54142
[20]	training's binary_logloss: 0.486324	valid_1's binary_logloss: 0.486013
[30]	training's binary_logloss: 0.461419	valid_1's binary_logloss: 0.461368
[40]	training's binary_logloss: 0.449598	valid_1's binary_logloss: 0.450004
[50]	training's binary_logloss: 0.443605	valid_1's binary_logloss: 0.444603
[60]	training's binary_logloss: 0.440203	valid_1's binary_logloss: 0.441873
[70]	training's binary_logloss: 0.437905	valid_1's binary_logloss: 0.440304
[80]	training's binary_logloss: 0.436102	valid_1's binary_logloss: 0.439468
[90]	training's binary_logloss: 0.43452	valid_1's binary_logloss: 0.43892
[100]	training's binary_logloss: 0.433072	valid_1's binary_logloss: 0.438483
[110]	training's binary_logloss: 0.43182	valid_1's binary_logloss: 0.438258
[120]	training's binary_logloss: 0.430653	valid_1's binary_logloss: 0.438163
[130]	training's binary_logloss: 0.429611	valid_1's binary_logloss: 0.438102
[140]	training's binary_logloss: 0.428611	valid_1's binary_logloss: 0.438088
Early stopping, best iteration is:
[135]	training's binary_logloss: 0.429053	valid_1's binary_logloss: 0.438042
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 38868, number of negative: 57132
[LightGBM] [Info] Total Bins 1063
[LightGBM] [Info] Number of data: 96000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.404875 -> initscore=-0.385193
[LightGBM] [Info] Start training from score -0.385193
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.541665	valid_1's binary_logloss: 0.541651
[20]	training's binary_logloss: 0.48631	valid_1's binary_logloss: 0.486366
[30]	training's binary_logloss: 0.461473	valid_1's binary_logloss: 0.461704
[40]	training's binary_logloss: 0.449666	valid_1's binary_logloss: 0.450202
[50]	training's binary_logloss: 0.443666	valid_1's binary_logloss: 0.444612
[60]	training's binary_logloss: 0.440242	valid_1's binary_logloss: 0.441778
[70]	training's binary_logloss: 0.437938	valid_1's binary_logloss: 0.440236
[80]	training's binary_logloss: 0.436121	valid_1's binary_logloss: 0.439356
[90]	training's binary_logloss: 0.434532	valid_1's binary_logloss: 0.438739
[100]	training's binary_logloss: 0.433081	valid_1's binary_logloss: 0.438343
[110]	training's binary_logloss: 0.431738	valid_1's binary_logloss: 0.438184
[120]	training's binary_logloss: 0.430544	valid_1's binary_logloss: 0.438061
[130]	training's binary_logloss: 0.429483	valid_1's binary_logloss: 0.437933
[140]	training's binary_logloss: 0.428409	valid_1's binary_logloss: 0.437918
[150]	training's binary_logloss: 0.42741	valid_1's binary_logloss: 0.437884
[160]	training's binary_logloss: 0.426422	valid_1's binary_logloss: 0.437853
Early stopping, best iteration is:
[159]	training's binary_logloss: 0.42652	valid_1's binary_logloss: 0.437836
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 38868, number of negative: 57132
[LightGBM] [Info] Total Bins 1062
[LightGBM] [Info] Number of data: 96000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.404875 -> initscore=-0.385193
[LightGBM] [Info] Start training from score -0.385193
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.541614	valid_1's binary_logloss: 0.541788
[20]	training's binary_logloss: 0.486207	valid_1's binary_logloss: 0.486318
[30]	training's binary_logloss: 0.461328	valid_1's binary_logloss: 0.461478
[40]	training's binary_logloss: 0.449473	valid_1's binary_logloss: 0.449887
[50]	training's binary_logloss: 0.443497	valid_1's binary_logloss: 0.44447
[60]	training's binary_logloss: 0.440142	valid_1's binary_logloss: 0.441914
[70]	training's binary_logloss: 0.437734	valid_1's binary_logloss: 0.44046
[80]	training's binary_logloss: 0.435764	valid_1's binary_logloss: 0.439581
[90]	training's binary_logloss: 0.434199	valid_1's binary_logloss: 0.439126
[100]	training's binary_logloss: 0.432744	valid_1's binary_logloss: 0.438727
[110]	training's binary_logloss: 0.431477	valid_1's binary_logloss: 0.438602
[120]	training's binary_logloss: 0.430348	valid_1's binary_logloss: 0.438476
[130]	training's binary_logloss: 0.429305	valid_1's binary_logloss: 0.438401
[140]	training's binary_logloss: 0.428207	valid_1's binary_logloss: 0.438361
[150]	training's binary_logloss: 0.427261	valid_1's binary_logloss: 0.438335
[160]	training's binary_logloss: 0.426255	valid_1's binary_logloss: 0.438357
Early stopping, best iteration is:
[150]	training's binary_logloss: 0.427261	valid_1's binary_logloss: 0.438335
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 38868, number of negative: 57132
[LightGBM] [Info] Total Bins 1066
[LightGBM] [Info] Number of data: 96000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.404875 -> initscore=-0.385193
[LightGBM] [Info] Start training from score -0.385193
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.540472	valid_1's binary_logloss: 0.543439
[20]	training's binary_logloss: 0.48462	valid_1's binary_logloss: 0.48991
[30]	training's binary_logloss: 0.459407	valid_1's binary_logloss: 0.466544
[40]	training's binary_logloss: 0.447498	valid_1's binary_logloss: 0.456185
[50]	training's binary_logloss: 0.441426	valid_1's binary_logloss: 0.451436
[60]	training's binary_logloss: 0.437999	valid_1's binary_logloss: 0.449226
[70]	training's binary_logloss: 0.435599	valid_1's binary_logloss: 0.448001
[80]	training's binary_logloss: 0.433829	valid_1's binary_logloss: 0.447526
[90]	training's binary_logloss: 0.432294	valid_1's binary_logloss: 0.447073
[100]	training's binary_logloss: 0.430835	valid_1's binary_logloss: 0.446827
[110]	training's binary_logloss: 0.429519	valid_1's binary_logloss: 0.446678
[120]	training's binary_logloss: 0.428395	valid_1's binary_logloss: 0.446599
[130]	training's binary_logloss: 0.427303	valid_1's binary_logloss: 0.446559
Early stopping, best iteration is:
[126]	training's binary_logloss: 0.427734	valid_1's binary_logloss: 0.446529
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 38868, number of negative: 57132
[LightGBM] [Info] Total Bins 1063
[LightGBM] [Info] Number of data: 96000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.404875 -> initscore=-0.385193
[LightGBM] [Info] Start training from score -0.385193
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.541437	valid_1's binary_logloss: 0.541854
[20]	training's binary_logloss: 0.486116	valid_1's binary_logloss: 0.487027
[30]	training's binary_logloss: 0.461126	valid_1's binary_logloss: 0.462421
[40]	training's binary_logloss: 0.449326	valid_1's binary_logloss: 0.450955
[50]	training's binary_logloss: 0.443353	valid_1's binary_logloss: 0.445468
[60]	training's binary_logloss: 0.439985	valid_1's binary_logloss: 0.442771
[70]	training's binary_logloss: 0.437671	valid_1's binary_logloss: 0.441207
[80]	training's binary_logloss: 0.4359	valid_1's binary_logloss: 0.440404
[90]	training's binary_logloss: 0.434284	valid_1's binary_logloss: 0.439681
[100]	training's binary_logloss: 0.43285	valid_1's binary_logloss: 0.43927
[110]	training's binary_logloss: 0.431605	valid_1's binary_logloss: 0.439202
[120]	training's binary_logloss: 0.43037	valid_1's binary_logloss: 0.438968
[130]	training's binary_logloss: 0.429279	valid_1's binary_logloss: 0.438989
[140]	training's binary_logloss: 0.428267	valid_1's binary_logloss: 0.438976
Early stopping, best iteration is:
[135]	training's binary_logloss: 0.428783	valid_1's binary_logloss: 0.43891

In [51]:

y_pred_oof = (oof_train > 0.5).astype(int)
accuracy_score(y_train, y_pred_oof)

0.8084333333333333

In [52]:
y_sub = sum(y_preds) / len(y_preds)
y_sub = (y_sub > 0.5).astype(int)

sub["Survived"] = y_sub
sub.to_csv("./subs/lightgbm_skfold_pseudo_labeled.csv",index=False)