In [17]:
import numpy as np
import pandas as pd
from category_encoders.cat_boost import CatBoostEncoder

In [18]:
train = pd.read_csv("../data/tabular_playground/train.csv")
test = pd.read_csv("../data/tabular_playground/test.csv")

data = pd.concat([train, test], sort=False)

In [19]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1.0,1,"Oconnor, Frankie",male,NaN,2,0,209245,27.14,C12239,S
1,1,0.0,3,"Bryan, Drew",male,NaN,0,0,27323,13.35,NaN,S
2,2,0.0,3,"Owens, Kenneth",male,0.33,1,2,CA 457703,71.29,NaN,S
3,3,0.0,3,"Kramer, James",male,19.00,0,0,A. 10866,13.04,NaN,S
4,4,1.0,3,"Bond, Michael",male,25.00,0,0,427635,7.76,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,199995,NaN,3,"Cash, Cheryle",female,27.00,0,0,7686,10.12,NaN,Q
99996,199996,NaN,1,"Brown, Howard",male,59.00,1,0,13004,68.31,NaN,S
99997,199997,NaN,3,"Lightfoot, Cameron",male,47.00,0,0,4383317,10.87,NaN,S
99998,199998,NaN,1,"Jacobsen, Margaret",female,49.00,1,2,PC 26988,29.68,B20828,C
99999,199999,NaN,1,"Fishback, Joanna",female,41.00,0,2,PC 41824,195.41,E13345,C

In [20]:
data["Sex"].replace(["male", "female"], [0,1], inplace=True)
data["Embarked"].fillna(("S"), inplace=True)
data["Embarked"] = data["Embarked"].map(
    {"S":0, "C":1, "Q":2}
).astype(int)
data["Fare"].fillna(np.mean(
    data["Fare"]
), inplace=True)

In [21]:
data["Age"].fillna(data["Age"].median(), inplace=True)

In [22]:
data["FamilySize"] = data["Parch"] + data["SibSp"] + 1
data["IsAlone"] = 0
data.loc[data["FamilySize"] == 1, "IsAlone"] = 1

In [23]:
data["FirstName"] = data.Name.map(
    lambda x: str(x.split(",")[0])
)
data["SurName"] = data.Name.map(
    lambda x: str(x.split(",")[1])
)

for col in ['Name', 'FirstName', 'SurName']:
    data["Counter_"+col] = data[col].map(
        data.groupby(col)["PassengerId"].count().to_dict()
    )

ce = CatBoostEncoder()

data["Ticket"] = data["Ticket"].map(lambda x:str(x).split()[0] if len(str(x).split()) > 1 else np.nan)

train = data[:len(train)]
test = data[len(train):]
train["Ticket"] = ce.fit_transform(train["Ticket"], train["Survived"])
test["Ticket"] = ce.transform(test["Ticket"])

data = pd.concat([train, test], sort=False)

/tmp/ipykernel_32636/3776608924.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["Ticket"] = ce.fit_transform(train["Ticket"], train["Survived"])
/tmp/ipykernel_32636/3776608924.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["Ticket"] = ce.transform(test["Ticket"])

In [24]:
print(data["Ticket"])

0        0.427740
1        0.713870
2        0.427740
3        0.427740
4        0.475913
           ...
99995    0.441185
99996    0.441185
99997    0.441185
99998    0.659876
99999    0.659876
Name: Ticket, Length: 200000, dtype: float64

In [25]:
delete_columns = ['Name', 'PassengerId', 'Cabin','FirstName', 'SurName']
data.drop(delete_columns, axis=1, inplace=True)

train = data[:len(train)]
test = data[len(train):]

test.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize,IsAlone,Counter_Name,Counter_FirstName,Counter_SurName
0,NaN,3,0,19.0,0,0,0.441185,63.01,0,1,1,1,18,1384
1,NaN,3,1,53.0,0,0,0.441185,5.81,0,1,1,1,108,125
2,NaN,1,1,19.0,0,0,0.441185,38.91,1,1,1,1,511,244
3,NaN,2,0,25.0,0,0,0.441185,12.93,0,1,1,1,51,770
4,NaN,1,1,17.0,0,2,0.441185,26.89,1,3,0,1,8,387

In [26]:
y_train = train["Survived"]
X_train = train.drop("Survived", axis=1)
X_test = test.drop("Survived", axis=1)

In [27]:
y_train.head()

0    1.0
1    0.0
2    0.0
3    0.0
4    1.0
Name: Survived, dtype: float64

In [28]:
X_train.head()

,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize,IsAlone,Counter_Name,Counter_FirstName,Counter_SurName
0,1,0,31.00,2,0,0.427740,27.14,0,3,0,1,47,51
1,3,0,31.00,0,0,0.713870,13.35,0,1,1,1,54,31
2,3,0,0.33,1,2,0.427740,71.29,0,4,0,2,165,1128
3,3,0,19.00,0,0,0.427740,13.04,0,1,1,2,53,4736
4,3,0,25.00,0,0,0.475913,7.76,0,1,1,1,39,3662

In [29]:
X_test.head()

,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize,IsAlone,Counter_Name,Counter_FirstName,Counter_SurName
0,3,0,19.0,0,0,0.441185,63.01,0,1,1,1,18,1384
1,3,1,53.0,0,0,0.441185,5.81,0,1,1,1,108,125
2,1,1,19.0,0,0,0.441185,38.91,1,1,1,1,511,244
3,2,0,25.0,0,0,0.441185,12.93,0,1,1,1,51,770
4,1,1,17.0,0,2,0.441185,26.89,1,3,0,1,8,387

In [30]:
# lightLGM + skfold
from sklearn.model_selection import StratifiedKFold
import lightgbm as lgb

In [31]:
y_preds = []
models = []
oof_train = np.zeros((len(X_train), ))
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)

In [32]:
# categorical_features = ["Embarked", "Pclass", "Sex"]
categorical_features = ["Embarked", "Pclass", "Sex", "IsAlone", "Ticket"]

In [33]:
params = {
    "objective":"binary",
    "max_bin":500,
    "learning_rate":0.05,
    "num_leaves":40
}

In [34]:
for fold_id, (train_index, valid_index) in enumerate(cv.split(X_train, y_train)):
    X_tr = X_train.loc[train_index, :]
    X_val = X_train.loc[valid_index,:]
    y_tr = y_train[train_index]
    y_val = y_train[valid_index]

    lgb_train = lgb.Dataset(
        X_tr, y_tr, categorical_feature=categorical_features
    )

    lgb_eval = lgb.Dataset(
        X_val, y_val, reference=lgb_train, categorical_feature=categorical_features 
    )

    model = lgb.train(
        params, lgb_train, valid_sets=[lgb_train, lgb_eval],
        verbose_eval=10, num_boost_round=1000, early_stopping_rounds=10
    )

    oof_train[valid_index] = model.predict(
        X_val, num_iteration=model.best_iteration
    )

    y_pred = model.predict(
        X_test, num_iteration=model.best_iteration
    )

    y_preds.append(y_pred)
    models.append(model)

/opt/conda/lib/python3.9/site-packages/lightgbm/basic.py:1291: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 1348
[LightGBM] [Info] Number of data: 80000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.568289	valid_1's binary_logloss: 0.569134
[20]	training's binary_logloss: 0.520968	valid_1's binary_logloss: 0.522366
[30]	training's binary_logloss: 0.49988	valid_1's binary_logloss: 0.501853
[40]	training's binary_logloss: 0.490063	valid_1's binary_logloss: 0.492693
[50]	training's binary_logloss: 0.48504	valid_1's binary_logloss: 0.488569
[60]	training's binary_logloss: 0.481994	valid_1's binary_logloss: 0.486656
[70]	training's binary_logloss: 0.479842	valid_1's binary_logloss: 0.485743
[80]	training's binary_logloss: 0.477962	valid_1's binary_logloss: 0.485231
[90]	training's binary_logloss: 0.476313	valid_1's binary_logloss: 0.485031
[100]	training's binary_logloss: 0.474712	valid_1's binary_logloss: 0.484818
[110]	training's binary_logloss: 0.473345	valid_1's binary_logloss: 0.484793
[120]	training's binary_logloss: 0.472092	valid_1's binary_logloss: 0.484818
Early stopping, best iteration is:
[114]	training's binary_logloss: 0.472805	valid_1's binary_logloss: 0.48475
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 1349
[LightGBM] [Info] Number of data: 80000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.568105	valid_1's binary_logloss: 0.569104
[20]	training's binary_logloss: 0.520638	valid_1's binary_logloss: 0.522865
[30]	training's binary_logloss: 0.499487	valid_1's binary_logloss: 0.50285
[40]	training's binary_logloss: 0.489575	valid_1's binary_logloss: 0.493958
[50]	training's binary_logloss: 0.484621	valid_1's binary_logloss: 0.490213
[60]	training's binary_logloss: 0.481683	valid_1's binary_logloss: 0.488474
[70]	training's binary_logloss: 0.479539	valid_1's binary_logloss: 0.487444
[80]	training's binary_logloss: 0.47774	valid_1's binary_logloss: 0.48686
[90]	training's binary_logloss: 0.47601	valid_1's binary_logloss: 0.486415
[100]	training's binary_logloss: 0.474501	valid_1's binary_logloss: 0.486186
[110]	training's binary_logloss: 0.473095	valid_1's binary_logloss: 0.485986
[120]	training's binary_logloss: 0.471728	valid_1's binary_logloss: 0.485943
[130]	training's binary_logloss: 0.470496	valid_1's binary_logloss: 0.485987
Early stopping, best iteration is:
[127]	training's binary_logloss: 0.470856	valid_1's binary_logloss: 0.48593
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 1352
[LightGBM] [Info] Number of data: 80000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.568624	valid_1's binary_logloss: 0.568074
[20]	training's binary_logloss: 0.521407	valid_1's binary_logloss: 0.520694
[30]	training's binary_logloss: 0.500449	valid_1's binary_logloss: 0.499948
[40]	training's binary_logloss: 0.490601	valid_1's binary_logloss: 0.490536
[50]	training's binary_logloss: 0.485564	valid_1's binary_logloss: 0.486206
[60]	training's binary_logloss: 0.48254	valid_1's binary_logloss: 0.48407
[70]	training's binary_logloss: 0.480405	valid_1's binary_logloss: 0.482982
[80]	training's binary_logloss: 0.478551	valid_1's binary_logloss: 0.482233
[90]	training's binary_logloss: 0.476904	valid_1's binary_logloss: 0.481862
[100]	training's binary_logloss: 0.475455	valid_1's binary_logloss: 0.481617
[110]	training's binary_logloss: 0.474051	valid_1's binary_logloss: 0.481428
[120]	training's binary_logloss: 0.472768	valid_1's binary_logloss: 0.481318
[130]	training's binary_logloss: 0.471625	valid_1's binary_logloss: 0.481349
Early stopping, best iteration is:
[121]	training's binary_logloss: 0.472673	valid_1's binary_logloss: 0.48131
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 1348
[LightGBM] [Info] Number of data: 80000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.568715	valid_1's binary_logloss: 0.567836
[20]	training's binary_logloss: 0.52157	valid_1's binary_logloss: 0.520297
[30]	training's binary_logloss: 0.500578	valid_1's binary_logloss: 0.499348
[40]	training's binary_logloss: 0.490745	valid_1's binary_logloss: 0.489821
[50]	training's binary_logloss: 0.48575	valid_1's binary_logloss: 0.485575
[60]	training's binary_logloss: 0.482679	valid_1's binary_logloss: 0.483373
[70]	training's binary_logloss: 0.480614	valid_1's binary_logloss: 0.482264
[80]	training's binary_logloss: 0.478777	valid_1's binary_logloss: 0.481515
[90]	training's binary_logloss: 0.477208	valid_1's binary_logloss: 0.48113
[100]	training's binary_logloss: 0.475687	valid_1's binary_logloss: 0.480849
[110]	training's binary_logloss: 0.474278	valid_1's binary_logloss: 0.480659
[120]	training's binary_logloss: 0.472965	valid_1's binary_logloss: 0.480626
[130]	training's binary_logloss: 0.471733	valid_1's binary_logloss: 0.480567
[140]	training's binary_logloss: 0.470578	valid_1's binary_logloss: 0.480625
Early stopping, best iteration is:
[134]	training's binary_logloss: 0.471259	valid_1's binary_logloss: 0.480544
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34220, number of negative: 45780
[LightGBM] [Info] Total Bins 1350
[LightGBM] [Info] Number of data: 80000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427750 -> initscore=-0.291037
[LightGBM] [Info] Start training from score -0.291037
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.567267	valid_1's binary_logloss: 0.570635
[20]	training's binary_logloss: 0.519609	valid_1's binary_logloss: 0.525382
[30]	training's binary_logloss: 0.498365	valid_1's binary_logloss: 0.506179
[40]	training's binary_logloss: 0.488497	valid_1's binary_logloss: 0.497967
[50]	training's binary_logloss: 0.483434	valid_1's binary_logloss: 0.494475
[60]	training's binary_logloss: 0.48044	valid_1's binary_logloss: 0.492716
[70]	training's binary_logloss: 0.478332	valid_1's binary_logloss: 0.492047
[80]	training's binary_logloss: 0.47649	valid_1's binary_logloss: 0.491572
[90]	training's binary_logloss: 0.474872	valid_1's binary_logloss: 0.491373
[100]	training's binary_logloss: 0.473339	valid_1's binary_logloss: 0.491064
[110]	training's binary_logloss: 0.471951	valid_1's binary_logloss: 0.491045
[120]	training's binary_logloss: 0.470627	valid_1's binary_logloss: 0.490991
[130]	training's binary_logloss: 0.46949	valid_1's binary_logloss: 0.490906
[140]	training's binary_logloss: 0.468379	valid_1's binary_logloss: 0.490902
Early stopping, best iteration is:
[138]	training's binary_logloss: 0.468599	valid_1's binary_logloss: 0.490863

In [35]:
from sklearn.metrics import accuracy_score

y_pred_oof = (oof_train > 0.5).astype(int)
accuracy_score(y_train, y_pred_oof)

0.77225

In [36]:
y_sub = sum(y_preds) / len(y_preds)
y_sub = (y_sub > 0.5).astype(int)
y_sub[:10]

array([0, 0, 1, 0, 1, 0, 1, 0, 0, 0])

In [37]:
sub = pd.read_csv('../data/tabular_playground/sample_submission.csv')

In [38]:
sub["Survived"] = y_sub
sub.to_csv("./subs/lightgbm_skfold_isAlone_categorized.csv",index=False)

In [39]:
sub.head()

   PassengerId  Survived
0       100000         0
1       100001         0
2       100002         1
3       100003         0
4       100004         1

# Pseudolabellingを使ってみる
- 参考
    - https://www.kaggle.com/c/tabular-playground-series-apr-2021/discussion/231738

In [40]:
test.loc[:,"Survived"] = y_sub

/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [41]:
test

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize,IsAlone,Counter_Name,Counter_FirstName,Counter_SurName
0,0,3,0,19.0,0,0,0.441185,63.01,0,1,1,1,18,1384
1,0,3,1,53.0,0,0,0.441185,5.81,0,1,1,1,108,125
2,1,1,1,19.0,0,0,0.441185,38.91,1,1,1,1,511,244
3,0,2,0,25.0,0,0,0.441185,12.93,0,1,1,1,51,770
4,1,1,1,17.0,0,2,0.441185,26.89,1,3,0,1,8,387
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,3,1,27.0,0,0,0.441185,10.12,2,1,1,1,34,4
99996,0,1,0,59.0,1,0,0.441185,68.31,0,2,0,2,1352,316
99997,0,3,0,47.0,0,0,0.441185,10.87,0,1,1,1,8,52
99998,1,1,1,49.0,1,2,0.659876,29.68,1,4,0,1,12,575
99999,1,1,1,41.0,0,2,0.659876,195.41,1,3,0,1,3,49

In [42]:
pseudoLabeled_train = pd.concat([train, test[:int(len(test) / 5)]], sort=False)
pseudoLabeled_train = pseudoLabeled_train.reset_index(drop=True)
pseudoLabeled_train

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize,IsAlone,Counter_Name,Counter_FirstName,Counter_SurName
0,1.0,1,0,31.00,2,0,0.427740,27.14,0,3,0,1,47,51
1,0.0,3,0,31.00,0,0,0.713870,13.35,0,1,1,1,54,31
2,0.0,3,0,0.33,1,2,0.427740,71.29,0,4,0,2,165,1128
3,0.0,3,0,19.00,0,0,0.427740,13.04,0,1,1,2,53,4736
4,1.0,3,0,25.00,0,0,0.475913,7.76,0,1,1,1,39,3662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119995,0.0,3,0,42.00,0,0,0.441185,14.14,0,1,1,1,22,3302
119996,0.0,3,0,22.00,1,0,0.441185,12.14,0,2,0,1,6,1085
119997,0.0,3,0,21.00,1,0,0.441185,7.70,0,2,0,7,462,3302
119998,1.0,1,1,18.00,1,2,0.659876,31.65,0,4,0,1,20,239
119999,0.0,3,1,6.00,1,4,0.441185,8.93,0,6,0,1,6,597

In [43]:
y_train = pseudoLabeled_train["Survived"]
X_train = pseudoLabeled_train.drop("Survived", axis=1)
X_test = test.drop("Survived", axis=1)

In [44]:
y_train

0         1.0
1         0.0
2         0.0
3         0.0
4         1.0
         ...
119995    0.0
119996    0.0
119997    0.0
119998    1.0
119999    0.0
Name: Survived, Length: 120000, dtype: float64

In [45]:
X_test

,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize,IsAlone,Counter_Name,Counter_FirstName,Counter_SurName
0,3,0,19.0,0,0,0.441185,63.01,0,1,1,1,18,1384
1,3,1,53.0,0,0,0.441185,5.81,0,1,1,1,108,125
2,1,1,19.0,0,0,0.441185,38.91,1,1,1,1,511,244
3,2,0,25.0,0,0,0.441185,12.93,0,1,1,1,51,770
4,1,1,17.0,0,2,0.441185,26.89,1,3,0,1,8,387
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3,1,27.0,0,0,0.441185,10.12,2,1,1,1,34,4
99996,1,0,59.0,1,0,0.441185,68.31,0,2,0,2,1352,316
99997,3,0,47.0,0,0,0.441185,10.87,0,1,1,1,8,52
99998,1,1,49.0,1,2,0.659876,29.68,1,4,0,1,12,575
99999,1,1,41.0,0,2,0.659876,195.41,1,3,0,1,3,49

In [46]:
X_train

,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize,IsAlone,Counter_Name,Counter_FirstName,Counter_SurName
0,1,0,31.00,2,0,0.427740,27.14,0,3,0,1,47,51
1,3,0,31.00,0,0,0.713870,13.35,0,1,1,1,54,31
2,3,0,0.33,1,2,0.427740,71.29,0,4,0,2,165,1128
3,3,0,19.00,0,0,0.427740,13.04,0,1,1,2,53,4736
4,3,0,25.00,0,0,0.475913,7.76,0,1,1,1,39,3662
...,...,...,...,...,...,...,...,...,...,...,...,...,...
119995,3,0,42.00,0,0,0.441185,14.14,0,1,1,1,22,3302
119996,3,0,22.00,1,0,0.441185,12.14,0,2,0,1,6,1085
119997,3,0,21.00,1,0,0.441185,7.70,0,2,0,7,462,3302
119998,1,1,18.00,1,2,0.659876,31.65,0,4,0,1,20,239
119999,3,1,6.00,1,4,0.441185,8.93,0,6,0,1,6,597

In [47]:
y_preds = []
models = []
oof_train = np.zeros((len(X_train), ))
cv2 = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)

In [48]:
for fold_id, (train_index, valid_index) in enumerate(cv2.split(X_train, y_train)):
    X_tr = X_train.loc[train_index, :]
    X_val = X_train.loc[valid_index,:]
    y_tr = y_train[train_index]
    y_val = y_train[valid_index]

    lgb_train = lgb.Dataset(
        X_tr, y_tr, categorical_feature=categorical_features
    )

    lgb_eval = lgb.Dataset(
        X_val, y_val, reference=lgb_train, categorical_feature=categorical_features 
    )

    model = lgb.train(
        params, lgb_train, valid_sets=[lgb_train, lgb_eval],
        verbose_eval=10, num_boost_round=1000, early_stopping_rounds=10
    )

    oof_train[valid_index] = model.predict(
        X_val, num_iteration=model.best_iteration
    )

    y_pred = model.predict(
        X_test, num_iteration=model.best_iteration
    )

    y_preds.append(y_pred)
    models.append(model)

/opt/conda/lib/python3.9/site-packages/lightgbm/basic.py:1291: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 38885, number of negative: 57115
[LightGBM] [Info] Total Bins 1354
[LightGBM] [Info] Number of data: 96000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.405052 -> initscore=-0.384458
[LightGBM] [Info] Start training from score -0.384458
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.541217	valid_1's binary_logloss: 0.542129
[20]	training's binary_logloss: 0.485651	valid_1's binary_logloss: 0.487401
[30]	training's binary_logloss: 0.4606	valid_1's binary_logloss: 0.463005
[40]	training's binary_logloss: 0.448755	valid_1's binary_logloss: 0.451852
[50]	training's binary_logloss: 0.442694	valid_1's binary_logloss: 0.446619
[60]	training's binary_logloss: 0.43924	valid_1's binary_logloss: 0.444272
[70]	training's binary_logloss: 0.436888	valid_1's binary_logloss: 0.442935
[80]	training's binary_logloss: 0.435021	valid_1's binary_logloss: 0.442246
[90]	training's binary_logloss: 0.433396	valid_1's binary_logloss: 0.441721
[100]	training's binary_logloss: 0.431944	valid_1's binary_logloss: 0.441449
[110]	training's binary_logloss: 0.430661	valid_1's binary_logloss: 0.441315
[120]	training's binary_logloss: 0.429478	valid_1's binary_logloss: 0.441253
[130]	training's binary_logloss: 0.42841	valid_1's binary_logloss: 0.441192
[140]	training's binary_logloss: 0.427363	valid_1's binary_logloss: 0.441234
Early stopping, best iteration is:
[134]	training's binary_logloss: 0.427979	valid_1's binary_logloss: 0.441172
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 38885, number of negative: 57115
[LightGBM] [Info] Total Bins 1355
[LightGBM] [Info] Number of data: 96000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.405052 -> initscore=-0.384458
[LightGBM] [Info] Start training from score -0.384458
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.54153	valid_1's binary_logloss: 0.542051
[20]	training's binary_logloss: 0.486033	valid_1's binary_logloss: 0.487135
[30]	training's binary_logloss: 0.461067	valid_1's binary_logloss: 0.462618
[40]	training's binary_logloss: 0.449157	valid_1's binary_logloss: 0.451242
[50]	training's binary_logloss: 0.443136	valid_1's binary_logloss: 0.445931
[60]	training's binary_logloss: 0.439637	valid_1's binary_logloss: 0.443145
[70]	training's binary_logloss: 0.437243	valid_1's binary_logloss: 0.441774
[80]	training's binary_logloss: 0.435451	valid_1's binary_logloss: 0.440891
[90]	training's binary_logloss: 0.433866	valid_1's binary_logloss: 0.440251
[100]	training's binary_logloss: 0.432441	valid_1's binary_logloss: 0.439834
[110]	training's binary_logloss: 0.431149	valid_1's binary_logloss: 0.439628
[120]	training's binary_logloss: 0.429984	valid_1's binary_logloss: 0.439504
[130]	training's binary_logloss: 0.428915	valid_1's binary_logloss: 0.439468
[140]	training's binary_logloss: 0.427913	valid_1's binary_logloss: 0.43946
Early stopping, best iteration is:
[134]	training's binary_logloss: 0.42845	valid_1's binary_logloss: 0.439407
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 38886, number of negative: 57114
[LightGBM] [Info] Total Bins 1358
[LightGBM] [Info] Number of data: 96000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.405062 -> initscore=-0.384415
[LightGBM] [Info] Start training from score -0.384415
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.541907	valid_1's binary_logloss: 0.540765
[20]	training's binary_logloss: 0.486655	valid_1's binary_logloss: 0.48498
[30]	training's binary_logloss: 0.461764	valid_1's binary_logloss: 0.460084
[40]	training's binary_logloss: 0.449954	valid_1's binary_logloss: 0.448395
[50]	training's binary_logloss: 0.443895	valid_1's binary_logloss: 0.44261
[60]	training's binary_logloss: 0.440608	valid_1's binary_logloss: 0.439778
[70]	training's binary_logloss: 0.438355	valid_1's binary_logloss: 0.438148
[80]	training's binary_logloss: 0.436522	valid_1's binary_logloss: 0.437083
[90]	training's binary_logloss: 0.434897	valid_1's binary_logloss: 0.436257
[100]	training's binary_logloss: 0.43346	valid_1's binary_logloss: 0.43584
[110]	training's binary_logloss: 0.432152	valid_1's binary_logloss: 0.435597
[120]	training's binary_logloss: 0.431025	valid_1's binary_logloss: 0.435338
[130]	training's binary_logloss: 0.429989	valid_1's binary_logloss: 0.435314
[140]	training's binary_logloss: 0.428984	valid_1's binary_logloss: 0.435225
[150]	training's binary_logloss: 0.427998	valid_1's binary_logloss: 0.43522
Early stopping, best iteration is:
[147]	training's binary_logloss: 0.428321	valid_1's binary_logloss: 0.435186
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 38886, number of negative: 57114
[LightGBM] [Info] Total Bins 1355
[LightGBM] [Info] Number of data: 96000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.405062 -> initscore=-0.384415
[LightGBM] [Info] Start training from score -0.384415
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.540727	valid_1's binary_logloss: 0.543621
[20]	training's binary_logloss: 0.484945	valid_1's binary_logloss: 0.489961
[30]	training's binary_logloss: 0.459771	valid_1's binary_logloss: 0.46635
[40]	training's binary_logloss: 0.447868	valid_1's binary_logloss: 0.455621
[50]	training's binary_logloss: 0.441828	valid_1's binary_logloss: 0.450668
[60]	training's binary_logloss: 0.438406	valid_1's binary_logloss: 0.448158
[70]	training's binary_logloss: 0.436083	valid_1's binary_logloss: 0.446859
[80]	training's binary_logloss: 0.434242	valid_1's binary_logloss: 0.4462
[90]	training's binary_logloss: 0.432622	valid_1's binary_logloss: 0.445759
[100]	training's binary_logloss: 0.431123	valid_1's binary_logloss: 0.445483
[110]	training's binary_logloss: 0.42976	valid_1's binary_logloss: 0.445254
[120]	training's binary_logloss: 0.42861	valid_1's binary_logloss: 0.445175
[130]	training's binary_logloss: 0.427496	valid_1's binary_logloss: 0.445223
Early stopping, best iteration is:
[121]	training's binary_logloss: 0.428508	valid_1's binary_logloss: 0.445174
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 38886, number of negative: 57114
[LightGBM] [Info] Total Bins 1353
[LightGBM] [Info] Number of data: 96000, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.405062 -> initscore=-0.384415
[LightGBM] [Info] Start training from score -0.384415
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.54151	valid_1's binary_logloss: 0.541666
[20]	training's binary_logloss: 0.48613	valid_1's binary_logloss: 0.486491
[30]	training's binary_logloss: 0.461047	valid_1's binary_logloss: 0.461804
[40]	training's binary_logloss: 0.449217	valid_1's binary_logloss: 0.450444
[50]	training's binary_logloss: 0.443184	valid_1's binary_logloss: 0.44506
[60]	training's binary_logloss: 0.439749	valid_1's binary_logloss: 0.442393
[70]	training's binary_logloss: 0.437394	valid_1's binary_logloss: 0.440946
[80]	training's binary_logloss: 0.435544	valid_1's binary_logloss: 0.440149
[90]	training's binary_logloss: 0.433877	valid_1's binary_logloss: 0.439486
[100]	training's binary_logloss: 0.432379	valid_1's binary_logloss: 0.439039
[110]	training's binary_logloss: 0.43108	valid_1's binary_logloss: 0.438746
[120]	training's binary_logloss: 0.429938	valid_1's binary_logloss: 0.438613
[130]	training's binary_logloss: 0.428889	valid_1's binary_logloss: 0.438566
[140]	training's binary_logloss: 0.427844	valid_1's binary_logloss: 0.438499
[150]	training's binary_logloss: 0.42692	valid_1's binary_logloss: 0.438563
Early stopping, best iteration is:
[141]	training's binary_logloss: 0.427762	valid_1's binary_logloss: 0.438489

In [49]:

y_pred_oof = (oof_train > 0.5).astype(int)
accuracy_score(y_train, y_pred_oof)

0.808575

In [50]:
y_sub = sum(y_preds) / len(y_preds)
y_sub = (y_sub > 0.5).astype(int)

sub["Survived"] = y_sub
sub.to_csv("./subs/lightgbm_skfold_pseudo_labeled.csv",index=False)