In [78]:
import numpy as np
import pandas as pd
from category_encoders.cat_boost import CatBoostEncoder

In [79]:
train = pd.read_csv("../data/tabular_playground/train.csv")
test = pd.read_csv("../data/tabular_playground/test.csv")

data = pd.concat([train, test], sort=False)

In [80]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1.0,1,"Oconnor, Frankie",male,NaN,2,0,209245,27.14,C12239,S
1,1,0.0,3,"Bryan, Drew",male,NaN,0,0,27323,13.35,NaN,S
2,2,0.0,3,"Owens, Kenneth",male,0.33,1,2,CA 457703,71.29,NaN,S
3,3,0.0,3,"Kramer, James",male,19.00,0,0,A. 10866,13.04,NaN,S
4,4,1.0,3,"Bond, Michael",male,25.00,0,0,427635,7.76,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,199995,NaN,3,"Cash, Cheryle",female,27.00,0,0,7686,10.12,NaN,Q
99996,199996,NaN,1,"Brown, Howard",male,59.00,1,0,13004,68.31,NaN,S
99997,199997,NaN,3,"Lightfoot, Cameron",male,47.00,0,0,4383317,10.87,NaN,S
99998,199998,NaN,1,"Jacobsen, Margaret",female,49.00,1,2,PC 26988,29.68,B20828,C
99999,199999,NaN,1,"Fishback, Joanna",female,41.00,0,2,PC 41824,195.41,E13345,C

In [81]:
data["Sex"].replace(["male", "female"], [0,1], inplace=True)
data["Embarked"].fillna(("S"), inplace=True)
data["Embarked"] = data["Embarked"].map(
    {"S":0, "C":1, "Q":2}
).astype(int)
data["Fare"].fillna(np.mean(
    data["Fare"]
), inplace=True)

In [82]:
data["Age"].fillna(data["Age"].median(), inplace=True)

In [83]:
data["FamilySize"] = data["Parch"] + data["SibSp"] + 1
data["IsAlone"] = 0
data.loc[data["FamilySize"] == 1, "IsAlone"] = 1

In [84]:
def convertTextToStrAndNumeric(feature):
    """
    与えられた特徴を文字列と数字部分に分割
    """
    string = ""
    numeric = ""
    feature = str(feature).replace(".", "").replace("/", "").replace(" ", "")
    for char in feature:
        if char.isnumeric():
            numeric += char
        else:
            string += char
    if numeric != "":
        return string, int(numeric)
    return string, np.nan

data["FirstName"] = data.Name.map(
    lambda x: str(x.split(",")[0])
)
data["SurName"] = data.Name.map(
    lambda x: str(x.split(",")[1])
)

for col in ['Name', 'FirstName', 'SurName']:
    data["Counter_"+col] = data[col].map(
        data.groupby(col)["PassengerId"].count().to_dict()
    )

ce = CatBoostEncoder()

data["Ticket_type"] = data["Ticket"].map(lambda x: convertTextToStrAndNumeric(x)[0])
data["Ticket_number"] = data["Ticket"].map(lambda x: convertTextToStrAndNumeric(x)[1])

data["Cabin_type"] = data["Cabin"].map(lambda x: convertTextToStrAndNumeric(x)[0])
data["Cabin_number"] = data["Cabin"].map(lambda x: convertTextToStrAndNumeric(x)[1])

train = data[:len(train)]
test = data[len(train):]
train["Ticket_type"] = ce.fit_transform(train["Ticket_type"], train["Survived"])
test["Ticket_type"] = ce.transform(test["Ticket_type"])

train["Cabin_type"] = ce.fit_transform(train["Cabin_type"], train["Survived"])
test["Cabin_type"] = ce.transform(test["Cabin_type"])

train["FirstName"] = ce.fit_transform(train["FirstName"], train["Survived"])
test["FirstName"] = ce.transform(test["FirstName"])

train["SurName"] = ce.fit_transform(train["SurName"], train["Survived"])
test["SurName"] = ce.transform(test["SurName"])

data = pd.concat([train, test], sort=False)

/tmp/ipykernel_16421/101077945.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["Ticket_type"] = ce.fit_transform(train["Ticket_type"], train["Survived"])
/tmp/ipykernel_16421/101077945.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["Ticket_type"] = ce.transform(test["Ticket_type"])
/tmp/ipykernel_16421/101077945.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["Cabin_type"] = ce.fit_transform(train["Cabin_type"], train["Survived"])
/tmp/ipykernel_16421/101077945.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["Cabin_type"] = ce.transform(test["Cabin_type"])
/tmp/ipykernel_16421/101077945.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["FirstName"] = ce.fit_transform(train["FirstName"], train["Survived"])
/tmp/ipykernel_16421/101077945.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["FirstName"] = ce.transform(test["FirstName"])
/tmp/ipykernel_16421/101077945.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["SurName"] = ce.fit_transform(train["SurName"], train["Survived"])
/tmp/ipykernel_16421/101077945.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["SurName"] = ce.transform(test["SurName"])

In [85]:
print(data["Ticket"])

0           209245
1            27323
2        CA 457703
3         A. 10866
4           427635
           ...
99995         7686
99996        13004
99997      4383317
99998     PC 26988
99999     PC 41824
Name: Ticket, Length: 200000, dtype: object

In [86]:
delete_columns = ['Name', 'PassengerId', 'Cabin', 'Ticket']
data.drop(delete_columns, axis=1, inplace=True)

train = data[:len(train)]
test = data[len(train):]

test.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,FirstName,SurName,Counter_Name,Counter_FirstName,Counter_SurName,Ticket_type,Ticket_number,Cabin_type,Cabin_number
0,NaN,3,0,19.0,0,0,63.01,0,1,1,0.642774,0.235321,1,18,1384,0.436894,24745.0,0.342102,NaN
1,NaN,3,1,53.0,0,0,5.81,0,1,1,0.480504,0.748968,1,108,125,0.436894,13264.0,0.342102,NaN
2,NaN,1,1,19.0,0,0,38.91,1,1,1,0.456166,0.695606,1,511,244,0.436894,25990.0,0.630165,15315.0
3,NaN,2,0,25.0,0,0,12.93,0,1,1,0.394060,0.181203,1,51,770,0.436894,314011.0,0.342102,NaN
4,NaN,1,1,17.0,0,2,26.89,1,3,0,0.142580,0.674672,1,8,387,0.436894,26203.0,0.630165,22515.0

In [87]:
y_train = train["Survived"]
X_train = train.drop("Survived", axis=1)
X_test = test.drop("Survived", axis=1)

In [88]:
y_train.head()

0    1.0
1    0.0
2    0.0
3    0.0
4    1.0
Name: Survived, dtype: float64

In [89]:
X_train.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,FirstName,SurName,Counter_Name,Counter_FirstName,Counter_SurName,Ticket_type,Ticket_number,Cabin_type,Cabin_number
0,1,0,31.00,2,0,27.14,0,3,0,0.42774,0.42774,1,47,51,0.427740,209245.0,0.427740,12239.0
1,3,0,31.00,0,0,13.35,0,1,1,0.42774,0.42774,1,54,31,0.713870,27323.0,0.427740,NaN
2,3,0,0.33,1,2,71.29,0,4,0,0.42774,0.42774,2,165,1128,0.427740,457703.0,0.213870,NaN
3,3,0,19.00,0,0,13.04,0,1,1,0.42774,0.42774,2,53,4736,0.427740,10866.0,0.142580,NaN
4,3,0,25.00,0,0,7.76,0,1,1,0.42774,0.42774,1,39,3662,0.475913,427635.0,0.106935,NaN

In [90]:
X_test.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,FirstName,SurName,Counter_Name,Counter_FirstName,Counter_SurName,Ticket_type,Ticket_number,Cabin_type,Cabin_number
0,3,0,19.0,0,0,63.01,0,1,1,0.642774,0.235321,1,18,1384,0.436894,24745.0,0.342102,NaN
1,3,1,53.0,0,0,5.81,0,1,1,0.480504,0.748968,1,108,125,0.436894,13264.0,0.342102,NaN
2,1,1,19.0,0,0,38.91,1,1,1,0.456166,0.695606,1,511,244,0.436894,25990.0,0.630165,15315.0
3,2,0,25.0,0,0,12.93,0,1,1,0.394060,0.181203,1,51,770,0.436894,314011.0,0.342102,NaN
4,1,1,17.0,0,2,26.89,1,3,0,0.142580,0.674672,1,8,387,0.436894,26203.0,0.630165,22515.0

In [91]:
# lightLGM + skfold
from sklearn.model_selection import StratifiedKFold
import lightgbm as lgb

In [92]:
y_preds = []
models = []
oof_train = np.zeros((len(X_train), ))
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)

In [93]:
# categorical_features = ["Embarked", "Pclass", "Sex"]
categorical_features = ["Embarked", "Pclass", "Sex", "Ticket_type", "Cabin_type", "FirstName", "SurName"]

In [94]:
params = {
    "objective":"binary",
    "max_bin":500,
    "learning_rate":0.05,
    "num_leaves":80
}

In [95]:
for fold_id, (train_index, valid_index) in enumerate(cv.split(X_train, y_train)):
    X_tr = X_train.loc[train_index, :]
    X_val = X_train.loc[valid_index,:]
    y_tr = y_train[train_index]
    y_val = y_train[valid_index]

    lgb_train = lgb.Dataset(
        X_tr, y_tr, categorical_feature=categorical_features
    )

    lgb_eval = lgb.Dataset(
        X_val, y_val, reference=lgb_train, categorical_feature=categorical_features 
    )

    model = lgb.train(
        params, lgb_train, valid_sets=[lgb_train, lgb_eval],
        verbose_eval=10, num_boost_round=1000, early_stopping_rounds=100
    )

    oof_train[valid_index] = model.predict(
        X_val, num_iteration=model.best_iteration
    )

    y_pred = model.predict(
        X_test, num_iteration=model.best_iteration
    )

    y_preds.append(y_pred)
    models.append(model)

/opt/conda/lib/python3.9/site-packages/lightgbm/basic.py:1291: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 2348
[LightGBM] [Info] Number of data: 80000, number of used features: 14
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.563229	valid_1's binary_logloss: 0.56563
[20]	training's binary_logloss: 0.512502	valid_1's binary_logloss: 0.517039
[30]	training's binary_logloss: 0.488885	valid_1's binary_logloss: 0.495353
[40]	training's binary_logloss: 0.476993	valid_1's binary_logloss: 0.485492
[50]	training's binary_logloss: 0.469892	valid_1's binary_logloss: 0.480729
[60]	training's binary_logloss: 0.465088	valid_1's binary_logloss: 0.478767
[70]	training's binary_logloss: 0.461225	valid_1's binary_logloss: 0.477563
[80]	training's binary_logloss: 0.457774	valid_1's binary_logloss: 0.476816
[90]	training's binary_logloss: 0.454519	valid_1's binary_logloss: 0.476496
[100]	training's binary_logloss: 0.451425	valid_1's binary_logloss: 0.476075
[110]	training's binary_logloss: 0.448663	valid_1's binary_logloss: 0.476128
[120]	training's binary_logloss: 0.445995	valid_1's binary_logloss: 0.47618
[130]	training's binary_logloss: 0.443521	valid_1's binary_logloss: 0.476198
[140]	training's binary_logloss: 0.441036	valid_1's binary_logloss: 0.476339
[150]	training's binary_logloss: 0.438633	valid_1's binary_logloss: 0.476438
[160]	training's binary_logloss: 0.436445	valid_1's binary_logloss: 0.476655
[170]	training's binary_logloss: 0.43429	valid_1's binary_logloss: 0.476785
[180]	training's binary_logloss: 0.432343	valid_1's binary_logloss: 0.476961
[190]	training's binary_logloss: 0.430159	valid_1's binary_logloss: 0.477159
[200]	training's binary_logloss: 0.427896	valid_1's binary_logloss: 0.477212
Early stopping, best iteration is:
[100]	training's binary_logloss: 0.451425	valid_1's binary_logloss: 0.476075
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 2349
[LightGBM] [Info] Number of data: 80000, number of used features: 14
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.563043	valid_1's binary_logloss: 0.565041
[20]	training's binary_logloss: 0.512417	valid_1's binary_logloss: 0.516728
[30]	training's binary_logloss: 0.488736	valid_1's binary_logloss: 0.495328
[40]	training's binary_logloss: 0.476717	valid_1's binary_logloss: 0.48557
[50]	training's binary_logloss: 0.4697	valid_1's binary_logloss: 0.480882
[60]	training's binary_logloss: 0.464917	valid_1's binary_logloss: 0.47878
[70]	training's binary_logloss: 0.461149	valid_1's binary_logloss: 0.477656
[80]	training's binary_logloss: 0.457667	valid_1's binary_logloss: 0.477134
[90]	training's binary_logloss: 0.454351	valid_1's binary_logloss: 0.476837
[100]	training's binary_logloss: 0.451351	valid_1's binary_logloss: 0.476638
[110]	training's binary_logloss: 0.448324	valid_1's binary_logloss: 0.476537
[120]	training's binary_logloss: 0.44574	valid_1's binary_logloss: 0.476496
[130]	training's binary_logloss: 0.443273	valid_1's binary_logloss: 0.476573
[140]	training's binary_logloss: 0.44083	valid_1's binary_logloss: 0.476644
[150]	training's binary_logloss: 0.438658	valid_1's binary_logloss: 0.476858
[160]	training's binary_logloss: 0.436516	valid_1's binary_logloss: 0.476855
[170]	training's binary_logloss: 0.434294	valid_1's binary_logloss: 0.477034
[180]	training's binary_logloss: 0.432337	valid_1's binary_logloss: 0.47712
[190]	training's binary_logloss: 0.430168	valid_1's binary_logloss: 0.477447
[200]	training's binary_logloss: 0.427895	valid_1's binary_logloss: 0.477677
[210]	training's binary_logloss: 0.425877	valid_1's binary_logloss: 0.477933
[220]	training's binary_logloss: 0.423839	valid_1's binary_logloss: 0.478221
Early stopping, best iteration is:
[125]	training's binary_logloss: 0.444543	valid_1's binary_logloss: 0.476448
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 2352
[LightGBM] [Info] Number of data: 80000, number of used features: 14
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.56343	valid_1's binary_logloss: 0.564629
[20]	training's binary_logloss: 0.512793	valid_1's binary_logloss: 0.51555
[30]	training's binary_logloss: 0.489112	valid_1's binary_logloss: 0.49392
[40]	training's binary_logloss: 0.477042	valid_1's binary_logloss: 0.484004
[50]	training's binary_logloss: 0.469995	valid_1's binary_logloss: 0.47917
[60]	training's binary_logloss: 0.465291	valid_1's binary_logloss: 0.476983
[70]	training's binary_logloss: 0.461477	valid_1's binary_logloss: 0.475784
[80]	training's binary_logloss: 0.45802	valid_1's binary_logloss: 0.475134
[90]	training's binary_logloss: 0.454724	valid_1's binary_logloss: 0.474709
[100]	training's binary_logloss: 0.451669	valid_1's binary_logloss: 0.474459
[110]	training's binary_logloss: 0.448823	valid_1's binary_logloss: 0.474242
[120]	training's binary_logloss: 0.446268	valid_1's binary_logloss: 0.474277
[130]	training's binary_logloss: 0.443946	valid_1's binary_logloss: 0.474285
[140]	training's binary_logloss: 0.441589	valid_1's binary_logloss: 0.474359
[150]	training's binary_logloss: 0.439363	valid_1's binary_logloss: 0.474389
[160]	training's binary_logloss: 0.437125	valid_1's binary_logloss: 0.474412
[170]	training's binary_logloss: 0.435003	valid_1's binary_logloss: 0.474585
[180]	training's binary_logloss: 0.432816	valid_1's binary_logloss: 0.474742
[190]	training's binary_logloss: 0.43072	valid_1's binary_logloss: 0.474894
[200]	training's binary_logloss: 0.428637	valid_1's binary_logloss: 0.475125
[210]	training's binary_logloss: 0.426434	valid_1's binary_logloss: 0.475118
Early stopping, best iteration is:
[114]	training's binary_logloss: 0.447818	valid_1's binary_logloss: 0.474195
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 2348
[LightGBM] [Info] Number of data: 80000, number of used features: 14
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.56349	valid_1's binary_logloss: 0.56412
[20]	training's binary_logloss: 0.513032	valid_1's binary_logloss: 0.51499
[30]	training's binary_logloss: 0.489396	valid_1's binary_logloss: 0.492956
[40]	training's binary_logloss: 0.477306	valid_1's binary_logloss: 0.482825
[50]	training's binary_logloss: 0.470209	valid_1's binary_logloss: 0.478115
[60]	training's binary_logloss: 0.465343	valid_1's binary_logloss: 0.47599
[70]	training's binary_logloss: 0.461588	valid_1's binary_logloss: 0.474999
[80]	training's binary_logloss: 0.458135	valid_1's binary_logloss: 0.474317
[90]	training's binary_logloss: 0.45495	valid_1's binary_logloss: 0.473912
[100]	training's binary_logloss: 0.451806	valid_1's binary_logloss: 0.473837
[110]	training's binary_logloss: 0.448952	valid_1's binary_logloss: 0.474003
[120]	training's binary_logloss: 0.446142	valid_1's binary_logloss: 0.47389
[130]	training's binary_logloss: 0.443472	valid_1's binary_logloss: 0.474099
[140]	training's binary_logloss: 0.440921	valid_1's binary_logloss: 0.474261
[150]	training's binary_logloss: 0.43858	valid_1's binary_logloss: 0.474389
[160]	training's binary_logloss: 0.436174	valid_1's binary_logloss: 0.474579
[170]	training's binary_logloss: 0.434088	valid_1's binary_logloss: 0.474698
[180]	training's binary_logloss: 0.431966	valid_1's binary_logloss: 0.474823
[190]	training's binary_logloss: 0.429876	valid_1's binary_logloss: 0.475056
Early stopping, best iteration is:
[93]	training's binary_logloss: 0.454043	valid_1's binary_logloss: 0.473811
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34220, number of negative: 45780
[LightGBM] [Info] Total Bins 2350
[LightGBM] [Info] Number of data: 80000, number of used features: 14
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427750 -> initscore=-0.291037
[LightGBM] [Info] Start training from score -0.291037
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.562246	valid_1's binary_logloss: 0.566763
[20]	training's binary_logloss: 0.511164	valid_1's binary_logloss: 0.519412
[30]	training's binary_logloss: 0.487231	valid_1's binary_logloss: 0.499261
[40]	training's binary_logloss: 0.475057	valid_1's binary_logloss: 0.490518
[50]	training's binary_logloss: 0.467979	valid_1's binary_logloss: 0.486769
[60]	training's binary_logloss: 0.463138	valid_1's binary_logloss: 0.484987
[70]	training's binary_logloss: 0.45932	valid_1's binary_logloss: 0.484255
[80]	training's binary_logloss: 0.455919	valid_1's binary_logloss: 0.483917
[90]	training's binary_logloss: 0.4526	valid_1's binary_logloss: 0.48376
[100]	training's binary_logloss: 0.449551	valid_1's binary_logloss: 0.483406
[110]	training's binary_logloss: 0.446683	valid_1's binary_logloss: 0.483426
[120]	training's binary_logloss: 0.443982	valid_1's binary_logloss: 0.483352
[130]	training's binary_logloss: 0.441501	valid_1's binary_logloss: 0.483539
[140]	training's binary_logloss: 0.439333	valid_1's binary_logloss: 0.483691
[150]	training's binary_logloss: 0.437107	valid_1's binary_logloss: 0.483674
[160]	training's binary_logloss: 0.434914	valid_1's binary_logloss: 0.483798
[170]	training's binary_logloss: 0.432691	valid_1's binary_logloss: 0.483898
[180]	training's binary_logloss: 0.43058	valid_1's binary_logloss: 0.484006
[190]	training's binary_logloss: 0.428505	valid_1's binary_logloss: 0.484101
[200]	training's binary_logloss: 0.426419	valid_1's binary_logloss: 0.484297
[210]	training's binary_logloss: 0.424325	valid_1's binary_logloss: 0.484372
Early stopping, best iteration is:
[114]	training's binary_logloss: 0.445501	valid_1's binary_logloss: 0.483302

In [96]:
from sklearn.metrics import accuracy_score

y_pred_oof = (oof_train > 0.5).astype(int)
accuracy_score(y_train, y_pred_oof)

0.77578

In [97]:
y_sub = sum(y_preds) / len(y_preds)
y_sub = (y_sub > 0.5).astype(int)
y_sub[:10]

array([0, 0, 1, 0, 1, 0, 1, 0, 0, 0])

In [98]:
sub = pd.read_csv('../data/tabular_playground/sample_submission.csv')

In [99]:
sub["Survived"] = y_sub
sub.to_csv("./subs/lightgbm_skfold_isAlone_categorized.csv",index=False)

In [100]:
sub.head()

   PassengerId  Survived
0       100000         0
1       100001         0
2       100002         1
3       100003         0
4       100004         1

# Pseudolabellingを使ってみる
- 参考
    - https://www.kaggle.com/c/tabular-playground-series-apr-2021/discussion/231738

In [101]:
test.loc[:,"Survived"] = y_sub

/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [102]:
test

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,FirstName,SurName,Counter_Name,Counter_FirstName,Counter_SurName,Ticket_type,Ticket_number,Cabin_type,Cabin_number
0,0,3,0,19.0,0,0,63.01,0,1,1,0.642774,0.235321,1,18,1384,0.436894,24745.0,0.342102,NaN
1,0,3,1,53.0,0,0,5.81,0,1,1,0.480504,0.748968,1,108,125,0.436894,13264.0,0.342102,NaN
2,1,1,1,19.0,0,0,38.91,1,1,1,0.456166,0.695606,1,511,244,0.436894,25990.0,0.630165,15315.0
3,0,2,0,25.0,0,0,12.93,0,1,1,0.394060,0.181203,1,51,770,0.436894,314011.0,0.342102,NaN
4,1,1,1,17.0,0,2,26.89,1,3,0,0.142580,0.674672,1,8,387,0.436894,26203.0,0.630165,22515.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,3,1,27.0,0,0,10.12,2,1,1,0.442774,0.475913,1,34,4,0.436894,7686.0,0.342102,NaN
99996,0,1,0,59.0,1,0,68.31,0,2,0,0.433075,0.239656,2,1352,316,0.436894,13004.0,0.342102,NaN
99997,0,3,0,47.0,0,0,10.87,0,1,1,0.346820,0.409902,1,8,52,0.436894,4383317.0,0.342102,NaN
99998,1,1,1,49.0,1,2,29.68,1,4,0,0.571290,0.668847,1,12,575,0.659571,26988.0,0.630165,20828.0
99999,1,1,1,41.0,0,2,195.41,1,3,0,0.142580,0.669922,1,3,49,0.659571,41824.0,0.617387,13345.0

In [103]:
pseudoLabeled_train = pd.concat([train, test[:int(len(test) / 3)]], sort=False)
pseudoLabeled_train = pseudoLabeled_train.reset_index(drop=True)
pseudoLabeled_train

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,FirstName,SurName,Counter_Name,Counter_FirstName,Counter_SurName,Ticket_type,Ticket_number,Cabin_type,Cabin_number
0,1.0,1,0,31.00,2,0,27.14,0,3,0,0.427740,0.427740,1,47,51,0.427740,209245.0,0.427740,12239.0
1,0.0,3,0,31.00,0,0,13.35,0,1,1,0.427740,0.427740,1,54,31,0.713870,27323.0,0.427740,NaN
2,0.0,3,0,0.33,1,2,71.29,0,4,0,0.427740,0.427740,2,165,1128,0.427740,457703.0,0.213870,NaN
3,0.0,3,0,19.00,0,0,13.04,0,1,1,0.427740,0.427740,2,53,4736,0.427740,10866.0,0.142580,NaN
4,1.0,3,0,25.00,0,0,7.76,0,1,1,0.427740,0.427740,1,39,3662,0.475913,427635.0,0.106935,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133328,0.0,3,0,24.00,0,0,7.62,0,1,1,0.433153,0.118978,1,62,46,0.298318,302315.0,0.342102,NaN
133329,0.0,1,0,27.00,2,0,28.36,0,3,0,0.427740,0.184912,1,2,467,0.436894,55477.0,0.342102,NaN
133330,0.0,3,0,18.00,0,0,9.15,2,1,1,0.303468,0.261217,1,14,230,0.436894,3897981.0,0.342102,NaN
133331,0.0,3,0,25.00,1,0,11.70,0,2,0,0.378864,0.199439,3,80,4615,0.436894,13348.0,0.342102,NaN
133332,0.0,3,1,5.00,1,2,8.48,0,4,0,0.592976,0.753819,1,105,187,0.224118,36097.0,0.342102,NaN

In [104]:
y_train = pseudoLabeled_train["Survived"]
X_train = pseudoLabeled_train.drop("Survived", axis=1)
X_test = test.drop("Survived", axis=1)

In [105]:
y_train

0         1.0
1         0.0
2         0.0
3         0.0
4         1.0
         ...
133328    0.0
133329    0.0
133330    0.0
133331    0.0
133332    0.0
Name: Survived, Length: 133333, dtype: float64

In [106]:
X_test

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,FirstName,SurName,Counter_Name,Counter_FirstName,Counter_SurName,Ticket_type,Ticket_number,Cabin_type,Cabin_number
0,3,0,19.0,0,0,63.01,0,1,1,0.642774,0.235321,1,18,1384,0.436894,24745.0,0.342102,NaN
1,3,1,53.0,0,0,5.81,0,1,1,0.480504,0.748968,1,108,125,0.436894,13264.0,0.342102,NaN
2,1,1,19.0,0,0,38.91,1,1,1,0.456166,0.695606,1,511,244,0.436894,25990.0,0.630165,15315.0
3,2,0,25.0,0,0,12.93,0,1,1,0.394060,0.181203,1,51,770,0.436894,314011.0,0.342102,NaN
4,1,1,17.0,0,2,26.89,1,3,0,0.142580,0.674672,1,8,387,0.436894,26203.0,0.630165,22515.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3,1,27.0,0,0,10.12,2,1,1,0.442774,0.475913,1,34,4,0.436894,7686.0,0.342102,NaN
99996,1,0,59.0,1,0,68.31,0,2,0,0.433075,0.239656,2,1352,316,0.436894,13004.0,0.342102,NaN
99997,3,0,47.0,0,0,10.87,0,1,1,0.346820,0.409902,1,8,52,0.436894,4383317.0,0.342102,NaN
99998,1,1,49.0,1,2,29.68,1,4,0,0.571290,0.668847,1,12,575,0.659571,26988.0,0.630165,20828.0
99999,1,1,41.0,0,2,195.41,1,3,0,0.142580,0.669922,1,3,49,0.659571,41824.0,0.617387,13345.0

In [107]:
X_train

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,FirstName,SurName,Counter_Name,Counter_FirstName,Counter_SurName,Ticket_type,Ticket_number,Cabin_type,Cabin_number
0,1,0,31.00,2,0,27.14,0,3,0,0.427740,0.427740,1,47,51,0.427740,209245.0,0.427740,12239.0
1,3,0,31.00,0,0,13.35,0,1,1,0.427740,0.427740,1,54,31,0.713870,27323.0,0.427740,NaN
2,3,0,0.33,1,2,71.29,0,4,0,0.427740,0.427740,2,165,1128,0.427740,457703.0,0.213870,NaN
3,3,0,19.00,0,0,13.04,0,1,1,0.427740,0.427740,2,53,4736,0.427740,10866.0,0.142580,NaN
4,3,0,25.00,0,0,7.76,0,1,1,0.427740,0.427740,1,39,3662,0.475913,427635.0,0.106935,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133328,3,0,24.00,0,0,7.62,0,1,1,0.433153,0.118978,1,62,46,0.298318,302315.0,0.342102,NaN
133329,1,0,27.00,2,0,28.36,0,3,0,0.427740,0.184912,1,2,467,0.436894,55477.0,0.342102,NaN
133330,3,0,18.00,0,0,9.15,2,1,1,0.303468,0.261217,1,14,230,0.436894,3897981.0,0.342102,NaN
133331,3,0,25.00,1,0,11.70,0,2,0,0.378864,0.199439,3,80,4615,0.436894,13348.0,0.342102,NaN
133332,3,1,5.00,1,2,8.48,0,4,0,0.592976,0.753819,1,105,187,0.224118,36097.0,0.342102,NaN

In [108]:
y_preds = []
models = []
oof_train = np.zeros((len(X_train), ))
cv2 = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)

In [109]:
for fold_id, (train_index, valid_index) in enumerate(cv2.split(X_train, y_train)):
    X_tr = X_train.loc[train_index, :]
    X_val = X_train.loc[valid_index,:]
    y_tr = y_train[train_index]
    y_val = y_train[valid_index]

    lgb_train = lgb.Dataset(
        X_tr, y_tr, categorical_feature=categorical_features
    )

    lgb_eval = lgb.Dataset(
        X_val, y_val, reference=lgb_train, categorical_feature=categorical_features 
    )

    model = lgb.train(
        params, lgb_train, valid_sets=[lgb_train, lgb_eval],
        verbose_eval=10, num_boost_round=1000, early_stopping_rounds=100
    )

    oof_train[valid_index] = model.predict(
        X_val, num_iteration=model.best_iteration
    )

    y_pred = model.predict(
        X_test, num_iteration=model.best_iteration
    )

    y_preds.append(y_pred)
    models.append(model)

/opt/conda/lib/python3.9/site-packages/lightgbm/basic.py:1291: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 41896, number of negative: 64770
[LightGBM] [Info] Total Bins 2352
[LightGBM] [Info] Number of data: 106666, number of used features: 14
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.392777 -> initscore=-0.435652
[LightGBM] [Info] Start training from score -0.435652
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.519078	valid_1's binary_logloss: 0.523002
[20]	training's binary_logloss: 0.455215	valid_1's binary_logloss: 0.462326
[30]	training's binary_logloss: 0.425261	valid_1's binary_logloss: 0.43525
[40]	training's binary_logloss: 0.410051	valid_1's binary_logloss: 0.422929
[50]	training's binary_logloss: 0.40185	valid_1's binary_logloss: 0.41741
[60]	training's binary_logloss: 0.396608	valid_1's binary_logloss: 0.414688
[70]	training's binary_logloss: 0.392707	valid_1's binary_logloss: 0.413379
[80]	training's binary_logloss: 0.389546	valid_1's binary_logloss: 0.41259
[90]	training's binary_logloss: 0.386629	valid_1's binary_logloss: 0.412357
[100]	training's binary_logloss: 0.383941	valid_1's binary_logloss: 0.412242
[110]	training's binary_logloss: 0.381453	valid_1's binary_logloss: 0.412248
[120]	training's binary_logloss: 0.379251	valid_1's binary_logloss: 0.412295
[130]	training's binary_logloss: 0.377224	valid_1's binary_logloss: 0.4124
[140]	training's binary_logloss: 0.375305	valid_1's binary_logloss: 0.412335
[150]	training's binary_logloss: 0.373368	valid_1's binary_logloss: 0.412523
[160]	training's binary_logloss: 0.371488	valid_1's binary_logloss: 0.412661
[170]	training's binary_logloss: 0.369627	valid_1's binary_logloss: 0.412768
[180]	training's binary_logloss: 0.36788	valid_1's binary_logloss: 0.412712
[190]	training's binary_logloss: 0.36609	valid_1's binary_logloss: 0.412845
[200]	training's binary_logloss: 0.36446	valid_1's binary_logloss: 0.412769
Early stopping, best iteration is:
[104]	training's binary_logloss: 0.382917	valid_1's binary_logloss: 0.412207
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 41896, number of negative: 64770
[LightGBM] [Info] Total Bins 2356
[LightGBM] [Info] Number of data: 106666, number of used features: 14
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.392777 -> initscore=-0.435652
[LightGBM] [Info] Start training from score -0.435652
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.519877	valid_1's binary_logloss: 0.521541
[20]	training's binary_logloss: 0.45663	valid_1's binary_logloss: 0.459649
[30]	training's binary_logloss: 0.426964	valid_1's binary_logloss: 0.431241
[40]	training's binary_logloss: 0.412028	valid_1's binary_logloss: 0.417363
[50]	training's binary_logloss: 0.403871	valid_1's binary_logloss: 0.410678
[60]	training's binary_logloss: 0.398764	valid_1's binary_logloss: 0.407287
[70]	training's binary_logloss: 0.394952	valid_1's binary_logloss: 0.405457
[80]	training's binary_logloss: 0.391788	valid_1's binary_logloss: 0.404214
[90]	training's binary_logloss: 0.389072	valid_1's binary_logloss: 0.403645
[100]	training's binary_logloss: 0.386462	valid_1's binary_logloss: 0.403227
[110]	training's binary_logloss: 0.383994	valid_1's binary_logloss: 0.402997
[120]	training's binary_logloss: 0.381813	valid_1's binary_logloss: 0.402824
[130]	training's binary_logloss: 0.379718	valid_1's binary_logloss: 0.402759
[140]	training's binary_logloss: 0.3777	valid_1's binary_logloss: 0.402713
[150]	training's binary_logloss: 0.375895	valid_1's binary_logloss: 0.402728
[160]	training's binary_logloss: 0.373978	valid_1's binary_logloss: 0.402828
[170]	training's binary_logloss: 0.372205	valid_1's binary_logloss: 0.402921
[180]	training's binary_logloss: 0.370469	valid_1's binary_logloss: 0.403013
[190]	training's binary_logloss: 0.36871	valid_1's binary_logloss: 0.403154
[200]	training's binary_logloss: 0.367085	valid_1's binary_logloss: 0.403245
[210]	training's binary_logloss: 0.365366	valid_1's binary_logloss: 0.40331
[220]	training's binary_logloss: 0.363661	valid_1's binary_logloss: 0.403324
[230]	training's binary_logloss: 0.362016	valid_1's binary_logloss: 0.403466
Early stopping, best iteration is:
[137]	training's binary_logloss: 0.378289	valid_1's binary_logloss: 0.40269
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 41896, number of negative: 64770
[LightGBM] [Info] Total Bins 2357
[LightGBM] [Info] Number of data: 106666, number of used features: 14
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.392777 -> initscore=-0.435652
[LightGBM] [Info] Start training from score -0.435652
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.520604	valid_1's binary_logloss: 0.519509
[20]	training's binary_logloss: 0.457499	valid_1's binary_logloss: 0.456175
[30]	training's binary_logloss: 0.427855	valid_1's binary_logloss: 0.42687
[40]	training's binary_logloss: 0.413095	valid_1's binary_logloss: 0.412796
[50]	training's binary_logloss: 0.405081	valid_1's binary_logloss: 0.405941
[60]	training's binary_logloss: 0.399973	valid_1's binary_logloss: 0.402432
[70]	training's binary_logloss: 0.396109	valid_1's binary_logloss: 0.400412
[80]	training's binary_logloss: 0.392888	valid_1's binary_logloss: 0.399271
[90]	training's binary_logloss: 0.390142	valid_1's binary_logloss: 0.398552
[100]	training's binary_logloss: 0.387533	valid_1's binary_logloss: 0.397956
[110]	training's binary_logloss: 0.385202	valid_1's binary_logloss: 0.397619
[120]	training's binary_logloss: 0.383083	valid_1's binary_logloss: 0.397517
[130]	training's binary_logloss: 0.381096	valid_1's binary_logloss: 0.397561
[140]	training's binary_logloss: 0.379203	valid_1's binary_logloss: 0.397601
[150]	training's binary_logloss: 0.377438	valid_1's binary_logloss: 0.397695
[160]	training's binary_logloss: 0.375616	valid_1's binary_logloss: 0.397721
[170]	training's binary_logloss: 0.373907	valid_1's binary_logloss: 0.397715
[180]	training's binary_logloss: 0.372011	valid_1's binary_logloss: 0.3976
[190]	training's binary_logloss: 0.370328	valid_1's binary_logloss: 0.397596
[200]	training's binary_logloss: 0.368684	valid_1's binary_logloss: 0.397663
[210]	training's binary_logloss: 0.367069	valid_1's binary_logloss: 0.397687
[220]	training's binary_logloss: 0.36558	valid_1's binary_logloss: 0.397883
Early stopping, best iteration is:
[120]	training's binary_logloss: 0.383083	valid_1's binary_logloss: 0.397517
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 41896, number of negative: 64771
[LightGBM] [Info] Total Bins 2355
[LightGBM] [Info] Number of data: 106667, number of used features: 14
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.392774 -> initscore=-0.435668
[LightGBM] [Info] Start training from score -0.435668
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.519345	valid_1's binary_logloss: 0.522629
[20]	training's binary_logloss: 0.455765	valid_1's binary_logloss: 0.461239
[30]	training's binary_logloss: 0.426023	valid_1's binary_logloss: 0.433335
[40]	training's binary_logloss: 0.411087	valid_1's binary_logloss: 0.420284
[50]	training's binary_logloss: 0.402924	valid_1's binary_logloss: 0.413965
[60]	training's binary_logloss: 0.397899	valid_1's binary_logloss: 0.410704
[70]	training's binary_logloss: 0.394135	valid_1's binary_logloss: 0.409013
[80]	training's binary_logloss: 0.390949	valid_1's binary_logloss: 0.40814
[90]	training's binary_logloss: 0.388073	valid_1's binary_logloss: 0.407635
[100]	training's binary_logloss: 0.385349	valid_1's binary_logloss: 0.407273
[110]	training's binary_logloss: 0.382935	valid_1's binary_logloss: 0.407099
[120]	training's binary_logloss: 0.380749	valid_1's binary_logloss: 0.407059
[130]	training's binary_logloss: 0.378623	valid_1's binary_logloss: 0.407139
[140]	training's binary_logloss: 0.376717	valid_1's binary_logloss: 0.407148
[150]	training's binary_logloss: 0.374861	valid_1's binary_logloss: 0.407245
[160]	training's binary_logloss: 0.372934	valid_1's binary_logloss: 0.407262
[170]	training's binary_logloss: 0.371199	valid_1's binary_logloss: 0.407302
[180]	training's binary_logloss: 0.369303	valid_1's binary_logloss: 0.407343
[190]	training's binary_logloss: 0.367698	valid_1's binary_logloss: 0.40733
[200]	training's binary_logloss: 0.366095	valid_1's binary_logloss: 0.40733
[210]	training's binary_logloss: 0.364528	valid_1's binary_logloss: 0.407391
[220]	training's binary_logloss: 0.362859	valid_1's binary_logloss: 0.407458
[230]	training's binary_logloss: 0.36122	valid_1's binary_logloss: 0.407513
Early stopping, best iteration is:
[136]	training's binary_logloss: 0.377486	valid_1's binary_logloss: 0.407037
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 41896, number of negative: 64771
[LightGBM] [Info] Total Bins 2358
[LightGBM] [Info] Number of data: 106667, number of used features: 14
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.392774 -> initscore=-0.435668
[LightGBM] [Info] Start training from score -0.435668
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.520527	valid_1's binary_logloss: 0.519612
[20]	training's binary_logloss: 0.457389	valid_1's binary_logloss: 0.456467
[30]	training's binary_logloss: 0.427713	valid_1's binary_logloss: 0.427442
[40]	training's binary_logloss: 0.412745	valid_1's binary_logloss: 0.413483
[50]	training's binary_logloss: 0.404677	valid_1's binary_logloss: 0.406894
[60]	training's binary_logloss: 0.399601	valid_1's binary_logloss: 0.403407
[70]	training's binary_logloss: 0.395821	valid_1's binary_logloss: 0.401645
[80]	training's binary_logloss: 0.392638	valid_1's binary_logloss: 0.400648
[90]	training's binary_logloss: 0.389853	valid_1's binary_logloss: 0.400253
[100]	training's binary_logloss: 0.387171	valid_1's binary_logloss: 0.399799
[110]	training's binary_logloss: 0.384742	valid_1's binary_logloss: 0.399586
[120]	training's binary_logloss: 0.382609	valid_1's binary_logloss: 0.399431
[130]	training's binary_logloss: 0.380545	valid_1's binary_logloss: 0.399411
[140]	training's binary_logloss: 0.378583	valid_1's binary_logloss: 0.399365
[150]	training's binary_logloss: 0.376878	valid_1's binary_logloss: 0.399446
[160]	training's binary_logloss: 0.37514	valid_1's binary_logloss: 0.399533
[170]	training's binary_logloss: 0.373314	valid_1's binary_logloss: 0.399674
[180]	training's binary_logloss: 0.371527	valid_1's binary_logloss: 0.399679
[190]	training's binary_logloss: 0.369783	valid_1's binary_logloss: 0.399719
[200]	training's binary_logloss: 0.368108	valid_1's binary_logloss: 0.399789
[210]	training's binary_logloss: 0.366343	valid_1's binary_logloss: 0.399908
[220]	training's binary_logloss: 0.364731	valid_1's binary_logloss: 0.399998
[230]	training's binary_logloss: 0.363065	valid_1's binary_logloss: 0.400042
[240]	training's binary_logloss: 0.361514	valid_1's binary_logloss: 0.400132
Early stopping, best iteration is:
[141]	training's binary_logloss: 0.37839	valid_1's binary_logloss: 0.399347

In [110]:

y_pred_oof = (oof_train > 0.5).astype(int)
accuracy_score(y_train, y_pred_oof)

0.8296970742426856

In [111]:
y_sub = sum(y_preds) / len(y_preds)
y_sub = (y_sub > 0.5).astype(int)

sub["Survived"] = y_sub
sub.to_csv("./subs/lightgbm_skfold_pseudo_labeled.csv",index=False)