In [67]:
import numpy as np
import pandas as pd

In [68]:
train = pd.read_csv("../data/tabular_playground/train.csv")
test = pd.read_csv("../data/tabular_playground/test.csv")

data = pd.concat([train, test], sort=False)

In [69]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1.0,1,"Oconnor, Frankie",male,NaN,2,0,209245,27.14,C12239,S
1,1,0.0,3,"Bryan, Drew",male,NaN,0,0,27323,13.35,NaN,S
2,2,0.0,3,"Owens, Kenneth",male,0.33,1,2,CA 457703,71.29,NaN,S
3,3,0.0,3,"Kramer, James",male,19.00,0,0,A. 10866,13.04,NaN,S
4,4,1.0,3,"Bond, Michael",male,25.00,0,0,427635,7.76,NaN,S

In [70]:
data["Sex"].replace(["male", "female"], [0,1], inplace=True)
data["Embarked"].fillna(("S"), inplace=True)
data["Embarked"] = data["Embarked"].map(
    {"S":0, "C":1, "Q":2}
).astype(int)
data["Fare"].fillna(np.mean(
    data["Fare"]
), inplace=True)

In [71]:
data["Age"].fillna(data["Age"].median(), inplace=True)

In [72]:
data["FamilySize"] = data["Parch"] + data["SibSp"] + 1
data["IsAlone"] = 0
data.loc[data["FamilySize"] == 1, "IsAlone"] = 1

In [73]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,IsAlone
0,0,1.0,1,"Oconnor, Frankie",0,31.00,2,0,209245,27.14,C12239,0,3,0
1,1,0.0,3,"Bryan, Drew",0,31.00,0,0,27323,13.35,NaN,0,1,1
2,2,0.0,3,"Owens, Kenneth",0,0.33,1,2,CA 457703,71.29,NaN,0,4,0
3,3,0.0,3,"Kramer, James",0,19.00,0,0,A. 10866,13.04,NaN,0,1,1
4,4,1.0,3,"Bond, Michael",0,25.00,0,0,427635,7.76,NaN,0,1,1

In [74]:
delete_columns = ['Name', 'PassengerId', 'Ticket', 'Cabin']
data.drop(delete_columns, axis=1, inplace=True)

train = data[:len(train)]
test = data[len(train):]

test.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone
0,NaN,3,0,19.0,0,0,63.01,0,1,1
1,NaN,3,1,53.0,0,0,5.81,0,1,1
2,NaN,1,1,19.0,0,0,38.91,1,1,1
3,NaN,2,0,25.0,0,0,12.93,0,1,1
4,NaN,1,1,17.0,0,2,26.89,1,3,0

In [75]:
y_train = train["Survived"]
X_train = train.drop("Survived", axis=1)
X_test = test.drop("Survived", axis=1)

In [76]:
y_train.head()

0    1.0
1    0.0
2    0.0
3    0.0
4    1.0
Name: Survived, dtype: float64

In [77]:
X_train.head()

   Pclass  Sex    Age  SibSp  Parch   Fare  Embarked  FamilySize  IsAlone
0       1    0  31.00      2      0  27.14         0           3        0
1       3    0  31.00      0      0  13.35         0           1        1
2       3    0   0.33      1      2  71.29         0           4        0
3       3    0  19.00      0      0  13.04         0           1        1
4       3    0  25.00      0      0   7.76         0           1        1

In [78]:
X_test.head()

   Pclass  Sex   Age  SibSp  Parch   Fare  Embarked  FamilySize  IsAlone
0       3    0  19.0      0      0  63.01         0           1        1
1       3    1  53.0      0      0   5.81         0           1        1
2       1    1  19.0      0      0  38.91         1           1        1
3       2    0  25.0      0      0  12.93         0           1        1
4       1    1  17.0      0      2  26.89         1           3        0

In [79]:
# lightLGM + skfold
from sklearn.model_selection import StratifiedKFold
import lightgbm as lgb

In [80]:
y_preds = []
models = []
oof_train = np.zeros((len(X_train), ))
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)

In [81]:
# categorical_features = ["Embarked", "Pclass", "Sex"]
categorical_features = ["Embarked", "Pclass", "Sex", "IsAlone"]

In [82]:
params = {
    "objective":"binary",
    "max_bin":300,
    "learning_rate":0.05,
    "num_leaves":40
}

In [83]:
for fold_id, (train_index, valid_index) in enumerate(cv.split(X_train, y_train)):
    X_tr = X_train.loc[train_index, :]
    X_val = X_train.loc[valid_index,:]
    y_tr = y_train[train_index]
    y_val = y_train[valid_index]

    lgb_train = lgb.Dataset(
        X_tr, y_tr, categorical_feature=categorical_features
    )

    lgb_eval = lgb.Dataset(
        X_val, y_val, reference=lgb_train, categorical_feature=categorical_features 
    )

    model = lgb.train(
        params, lgb_train, valid_sets=[lgb_train, lgb_eval],
        verbose_eval=10, num_boost_round=1000, early_stopping_rounds=10
    )

    oof_train[valid_index] = model.predict(
        X_val, num_iteration=model.best_iteration
    )

    y_pred = model.predict(
        X_test, num_iteration=model.best_iteration
    )

    y_preds.append(y_pred)
    models.append(model)

/opt/conda/lib/python3.9/site-packages/lightgbm/engine.py:181: UserWarning: 'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. Pass 'early_stopping()' callback via 'callbacks' argument instead.
  _log_warning("'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. "
/opt/conda/lib/python3.9/site-packages/lightgbm/basic.py:2065: UserWarning: Using categorical_feature in Dataset.
  _log_warning('Using categorical_feature in Dataset.')
/opt/conda/lib/python3.9/site-packages/lightgbm/engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "
/opt/conda/lib/python3.9/site-packages/lightgbm/basic.py:1780: UserWarning: Overriding the parameters from Reference Dataset.
  _log_warning('Overriding the parameters from Reference Dataset.')
/opt/conda/lib/python3.9/site-packages/lightgbm/basic.py:1513: UserWarning: categorical_column in param dict is overridden.
  _log_warning(f'{cat_alias} in param dict is overridden.')

[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001636 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 496
[LightGBM] [Info] Number of data points in the train set: 80000, number of used features: 9
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.568323	valid_1's binary_logloss: 0.569099
[20]	training's binary_logloss: 0.52102	valid_1's binary_logloss: 0.522226
[30]	training's binary_logloss: 0.500019	valid_1's binary_logloss: 0.501748
[40]	training's binary_logloss: 0.490211	valid_1's binary_logloss: 0.492487
[50]	training's binary_logloss: 0.485277	valid_1's binary_logloss: 0.488182
[60]	training's binary_logloss: 0.48246	valid_1's binary_logloss: 0.486212
[70]	training's binary_logloss: 0.480559	valid_1's binary_logloss: 0.485284
[80]	training's binary_logloss: 0.47894	valid_1's binary_logloss: 0.484727
[90]	training's binary_logloss: 0.477514	valid_1's binary_logloss: 0.484413
[100]	training's binary_logloss: 0.476335	valid_1's binary_logloss: 0.484328
[110]	training's binary_logloss: 0.475184	valid_1's binary_logloss: 0.484227
[120]	training's binary_logloss: 0.474118	valid_1's binary_logloss: 0.484211
Early stopping, best iteration is:
[115]	training's binary_logloss: 0.474609	valid_1's binary_logloss: 0.484157
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001808 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 497
[LightGBM] [Info] Number of data points in the train set: 80000, number of used features: 9
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.568119	valid_1's binary_logloss: 0.568997
[20]	training's binary_logloss: 0.520702	valid_1's binary_logloss: 0.522722
[30]	training's binary_logloss: 0.499612	valid_1's binary_logloss: 0.50274
[40]	training's binary_logloss: 0.489793	valid_1's binary_logloss: 0.493968
[50]	training's binary_logloss: 0.484949	valid_1's binary_logloss: 0.489984
[60]	training's binary_logloss: 0.482125	valid_1's binary_logloss: 0.488128
[70]	training's binary_logloss: 0.480298	valid_1's binary_logloss: 0.487198
[80]	training's binary_logloss: 0.478766	valid_1's binary_logloss: 0.486596
[90]	training's binary_logloss: 0.477388	valid_1's binary_logloss: 0.486152
[100]	training's binary_logloss: 0.476097	valid_1's binary_logloss: 0.485962
[110]	training's binary_logloss: 0.47494	valid_1's binary_logloss: 0.485785
[120]	training's binary_logloss: 0.473951	valid_1's binary_logloss: 0.485782
Early stopping, best iteration is:
[113]	training's binary_logloss: 0.474619	valid_1's binary_logloss: 0.485749
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001920 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 500
[LightGBM] [Info] Number of data points in the train set: 80000, number of used features: 9
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.568644	valid_1's binary_logloss: 0.568063
[20]	training's binary_logloss: 0.521525	valid_1's binary_logloss: 0.52072
[30]	training's binary_logloss: 0.500636	valid_1's binary_logloss: 0.499848
[40]	training's binary_logloss: 0.490907	valid_1's binary_logloss: 0.490377
[50]	training's binary_logloss: 0.485977	valid_1's binary_logloss: 0.485927
[60]	training's binary_logloss: 0.483121	valid_1's binary_logloss: 0.483796
[70]	training's binary_logloss: 0.481227	valid_1's binary_logloss: 0.482779
[80]	training's binary_logloss: 0.479607	valid_1's binary_logloss: 0.481981
[90]	training's binary_logloss: 0.47819	valid_1's binary_logloss: 0.481601
[100]	training's binary_logloss: 0.477065	valid_1's binary_logloss: 0.481402
[110]	training's binary_logloss: 0.475995	valid_1's binary_logloss: 0.481314
[120]	training's binary_logloss: 0.474933	valid_1's binary_logloss: 0.481104
[130]	training's binary_logloss: 0.474027	valid_1's binary_logloss: 0.481131
Early stopping, best iteration is:
[121]	training's binary_logloss: 0.474849	valid_1's binary_logloss: 0.4811
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001452 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 496
[LightGBM] [Info] Number of data points in the train set: 80000, number of used features: 9
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.568733	valid_1's binary_logloss: 0.567839
[20]	training's binary_logloss: 0.521634	valid_1's binary_logloss: 0.520228
[30]	training's binary_logloss: 0.500686	valid_1's binary_logloss: 0.499222
[40]	training's binary_logloss: 0.490954	valid_1's binary_logloss: 0.489661
[50]	training's binary_logloss: 0.486124	valid_1's binary_logloss: 0.485306
[60]	training's binary_logloss: 0.483299	valid_1's binary_logloss: 0.483194
[70]	training's binary_logloss: 0.481459	valid_1's binary_logloss: 0.482043
[80]	training's binary_logloss: 0.479891	valid_1's binary_logloss: 0.481236
[90]	training's binary_logloss: 0.478591	valid_1's binary_logloss: 0.480942
[100]	training's binary_logloss: 0.47734	valid_1's binary_logloss: 0.480694
[110]	training's binary_logloss: 0.476231	valid_1's binary_logloss: 0.480559
[120]	training's binary_logloss: 0.475199	valid_1's binary_logloss: 0.480357
[130]	training's binary_logloss: 0.474268	valid_1's binary_logloss: 0.480315
[140]	training's binary_logloss: 0.473439	valid_1's binary_logloss: 0.48041
Early stopping, best iteration is:
[133]	training's binary_logloss: 0.474014	valid_1's binary_logloss: 0.480295
[LightGBM] [Info] Number of positive: 34220, number of negative: 45780
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001775 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 498
[LightGBM] [Info] Number of data points in the train set: 80000, number of used features: 9
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427750 -> initscore=-0.291037
[LightGBM] [Info] Start training from score -0.291037
Training until validation scores don't improve for 10 rounds
[10]	training's binary_logloss: 0.56729	valid_1's binary_logloss: 0.570645
[20]	training's binary_logloss: 0.519659	valid_1's binary_logloss: 0.525381
[30]	training's binary_logloss: 0.498454	valid_1's binary_logloss: 0.506175
[40]	training's binary_logloss: 0.488609	valid_1's binary_logloss: 0.497833
[50]	training's binary_logloss: 0.483729	valid_1's binary_logloss: 0.49427
[60]	training's binary_logloss: 0.480842	valid_1's binary_logloss: 0.492447
[70]	training's binary_logloss: 0.479024	valid_1's binary_logloss: 0.491831
[80]	training's binary_logloss: 0.477458	valid_1's binary_logloss: 0.491402
[90]	training's binary_logloss: 0.476038	valid_1's binary_logloss: 0.490952
[100]	training's binary_logloss: 0.474868	valid_1's binary_logloss: 0.490751
[110]	training's binary_logloss: 0.473763	valid_1's binary_logloss: 0.490568
[120]	training's binary_logloss: 0.472724	valid_1's binary_logloss: 0.49046
[130]	training's binary_logloss: 0.471814	valid_1's binary_logloss: 0.490486
Early stopping, best iteration is:
[125]	training's binary_logloss: 0.472258	valid_1's binary_logloss: 0.490446

In [84]:
from sklearn.metrics import accuracy_score

y_pred_oof = (oof_train > 0.5).astype(int)
accuracy_score(y_train, y_pred_oof)

0.77222

In [85]:
y_sub = sum(y_preds) / len(y_preds)
y_sub = (y_sub > 0.5).astype(int)
y_sub[:10]

array([0, 1, 1, 0, 1, 0, 1, 0, 1, 0])

In [86]:
sub = pd.read_csv('../data/tabular_playground/sample_submission.csv')

In [87]:
sub["Survived"] = y_sub
sub.to_csv("./subs/lightgbm_skfold_isAlone_categorized.csv",index=False)

In [88]:
sub.head()

   PassengerId  Survived
0       100000         0
1       100001         1
2       100002         1
3       100003         0
4       100004         1