In [1]:
import numpy as np
import pandas as pd
from category_encoders.cat_boost import CatBoostEncoder

In [2]:
train = pd.read_csv("../data/tabular_playground/train.csv")
test = pd.read_csv("../data/tabular_playground/test.csv")

data = pd.concat([train, test], sort=False)

In [3]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1.0,1,"Oconnor, Frankie",male,NaN,2,0,209245,27.14,C12239,S
1,1,0.0,3,"Bryan, Drew",male,NaN,0,0,27323,13.35,NaN,S
2,2,0.0,3,"Owens, Kenneth",male,0.33,1,2,CA 457703,71.29,NaN,S
3,3,0.0,3,"Kramer, James",male,19.00,0,0,A. 10866,13.04,NaN,S
4,4,1.0,3,"Bond, Michael",male,25.00,0,0,427635,7.76,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,199995,NaN,3,"Cash, Cheryle",female,27.00,0,0,7686,10.12,NaN,Q
99996,199996,NaN,1,"Brown, Howard",male,59.00,1,0,13004,68.31,NaN,S
99997,199997,NaN,3,"Lightfoot, Cameron",male,47.00,0,0,4383317,10.87,NaN,S
99998,199998,NaN,1,"Jacobsen, Margaret",female,49.00,1,2,PC 26988,29.68,B20828,C
99999,199999,NaN,1,"Fishback, Joanna",female,41.00,0,2,PC 41824,195.41,E13345,C

In [4]:
data["Sex"].replace(["male", "female"], [0,1], inplace=True)
data["Embarked"].fillna(("S"), inplace=True)
data["Embarked"] = data["Embarked"].map(
    {"S":0, "C":1, "Q":2}
).astype(int)
data["Fare"].fillna(np.mean(
    data["Fare"]
), inplace=True)

In [5]:
data["Age"].fillna(data["Age"].median(), inplace=True)

In [6]:
data["FamilySize"] = data["Parch"] + data["SibSp"] + 1
data["IsAlone"] = 0
data.loc[data["FamilySize"] == 1, "IsAlone"] = 1

In [7]:
def convertTextToStrAndNumeric(feature):
    """
    与えられた特徴を文字列と数字部分に分割
    """
    string = ""
    numeric = ""
    feature = str(feature).replace(".", "").replace("/", "").replace(" ", "")
    for char in feature:
        if char.isnumeric():
            numeric += char
        else:
            string += char
    if numeric != "":
        return string, int(numeric)
    return string, np.nan

data["FirstName"] = data.Name.map(
    lambda x: str(x.split(",")[0])
)
data["SurName"] = data.Name.map(
    lambda x: str(x.split(",")[1])
)

for col in ['Name', 'FirstName', 'SurName']:
    data["Counter_"+col] = data[col].map(
        data.groupby(col)["PassengerId"].count().to_dict()
    )

ce = CatBoostEncoder()

data["Ticket_type"] = data["Ticket"].map(lambda x: convertTextToStrAndNumeric(x)[0])
data["Ticket_number"] = data["Ticket"].map(lambda x: convertTextToStrAndNumeric(x)[1])

data["Cabin_type"] = data["Cabin"].map(lambda x: convertTextToStrAndNumeric(x)[0])
data["Cabin_number"] = data["Cabin"].map(lambda x: convertTextToStrAndNumeric(x)[1])

train = data[:len(train)]
test = data[len(train):]
train["Ticket_type"] = ce.fit_transform(train["Ticket_type"], train["Survived"])
test["Ticket_type"] = ce.transform(test["Ticket_type"])

train["Cabin_type"] = ce.fit_transform(train["Cabin_type"], train["Survived"])
test["Cabin_type"] = ce.transform(test["Cabin_type"])

train["FirstName"] = ce.fit_transform(train["FirstName"], train["Survived"])
test["FirstName"] = ce.transform(test["FirstName"])

train["SurName"] = ce.fit_transform(train["SurName"], train["Survived"])
test["SurName"] = ce.transform(test["SurName"])

data = pd.concat([train, test], sort=False)

/tmp/ipykernel_16202/101077945.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["Ticket_type"] = ce.fit_transform(train["Ticket_type"], train["Survived"])
/tmp/ipykernel_16202/101077945.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["Ticket_type"] = ce.transform(test["Ticket_type"])
/tmp/ipykernel_16202/101077945.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["Cabin_type"] = ce.fit_transform(train["Cabin_type"], train["Survived"])
/tmp/ipykernel_16202/101077945.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["Cabin_type"] = ce.transform(test["Cabin_type"])
/tmp/ipykernel_16202/101077945.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["FirstName"] = ce.fit_transform(train["FirstName"], train["Survived"])
/tmp/ipykernel_16202/101077945.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["FirstName"] = ce.transform(test["FirstName"])
/tmp/ipykernel_16202/101077945.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["SurName"] = ce.fit_transform(train["SurName"], train["Survived"])
/tmp/ipykernel_16202/101077945.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test["SurName"] = ce.transform(test["SurName"])

In [8]:
print(data["Ticket"])

0           209245
1            27323
2        CA 457703
3         A. 10866
4           427635
           ...
99995         7686
99996        13004
99997      4383317
99998     PC 26988
99999     PC 41824
Name: Ticket, Length: 200000, dtype: object

In [9]:
delete_columns = ['Name', 'PassengerId', 'Cabin', 'Ticket']
data.drop(delete_columns, axis=1, inplace=True)

train = data[:len(train)]
test = data[len(train):]

test.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,FirstName,SurName,Counter_Name,Counter_FirstName,Counter_SurName,Ticket_type,Ticket_number,Cabin_type,Cabin_number
0,NaN,3,0,19.0,0,0,63.01,0,1,1,0.642774,0.235321,1,18,1384,0.436894,24745.0,0.342102,NaN
1,NaN,3,1,53.0,0,0,5.81,0,1,1,0.480504,0.748968,1,108,125,0.436894,13264.0,0.342102,NaN
2,NaN,1,1,19.0,0,0,38.91,1,1,1,0.456166,0.695606,1,511,244,0.436894,25990.0,0.630165,15315.0
3,NaN,2,0,25.0,0,0,12.93,0,1,1,0.394060,0.181203,1,51,770,0.436894,314011.0,0.342102,NaN
4,NaN,1,1,17.0,0,2,26.89,1,3,0,0.142580,0.674672,1,8,387,0.436894,26203.0,0.630165,22515.0

In [10]:
y_train = train["Survived"]
X_train = train.drop("Survived", axis=1)
X_test = test.drop("Survived", axis=1)

In [11]:
y_train.head()

0    1.0
1    0.0
2    0.0
3    0.0
4    1.0
Name: Survived, dtype: float64

In [12]:
X_train.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,FirstName,SurName,Counter_Name,Counter_FirstName,Counter_SurName,Ticket_type,Ticket_number,Cabin_type,Cabin_number
0,1,0,31.00,2,0,27.14,0,3,0,0.42774,0.42774,1,47,51,0.427740,209245.0,0.427740,12239.0
1,3,0,31.00,0,0,13.35,0,1,1,0.42774,0.42774,1,54,31,0.713870,27323.0,0.427740,NaN
2,3,0,0.33,1,2,71.29,0,4,0,0.42774,0.42774,2,165,1128,0.427740,457703.0,0.213870,NaN
3,3,0,19.00,0,0,13.04,0,1,1,0.42774,0.42774,2,53,4736,0.427740,10866.0,0.142580,NaN
4,3,0,25.00,0,0,7.76,0,1,1,0.42774,0.42774,1,39,3662,0.475913,427635.0,0.106935,NaN

In [13]:
X_test.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,FirstName,SurName,Counter_Name,Counter_FirstName,Counter_SurName,Ticket_type,Ticket_number,Cabin_type,Cabin_number
0,3,0,19.0,0,0,63.01,0,1,1,0.642774,0.235321,1,18,1384,0.436894,24745.0,0.342102,NaN
1,3,1,53.0,0,0,5.81,0,1,1,0.480504,0.748968,1,108,125,0.436894,13264.0,0.342102,NaN
2,1,1,19.0,0,0,38.91,1,1,1,0.456166,0.695606,1,511,244,0.436894,25990.0,0.630165,15315.0
3,2,0,25.0,0,0,12.93,0,1,1,0.394060,0.181203,1,51,770,0.436894,314011.0,0.342102,NaN
4,1,1,17.0,0,2,26.89,1,3,0,0.142580,0.674672,1,8,387,0.436894,26203.0,0.630165,22515.0

In [14]:
# lightLGM + skfold
from sklearn.model_selection import StratifiedKFold
import lightgbm as lgb

In [15]:
y_preds = []
models = []
oof_train = np.zeros((len(X_train), ))
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)

In [16]:
# categorical_features = ["Embarked", "Pclass", "Sex"]
categorical_features = ["Embarked", "Pclass", "Sex", "Ticket_type", "Cabin_type", "FirstName", "SurName", "Ticket_number", "Cabin_number"]

In [17]:
params = {
    "objective":"binary",
    "max_bin":500,
    "learning_rate":0.05,
    "num_leaves":80
}

In [18]:
for fold_id, (train_index, valid_index) in enumerate(cv.split(X_train, y_train)):
    X_tr = X_train.loc[train_index, :]
    X_val = X_train.loc[valid_index,:]
    y_tr = y_train[train_index]
    y_val = y_train[valid_index]

    lgb_train = lgb.Dataset(
        X_tr, y_tr, categorical_feature=categorical_features
    )

    lgb_eval = lgb.Dataset(
        X_val, y_val, reference=lgb_train, categorical_feature=categorical_features 
    )

    model = lgb.train(
        params, lgb_train, valid_sets=[lgb_train, lgb_eval],
        verbose_eval=10, num_boost_round=1000, early_stopping_rounds=100
    )

    oof_train[valid_index] = model.predict(
        X_val, num_iteration=model.best_iteration
    )

    y_pred = model.predict(
        X_test, num_iteration=model.best_iteration
    )

    y_preds.append(y_pred)
    models.append(model)

/opt/conda/lib/python3.9/site-packages/lightgbm/basic.py:1291: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

[LightGBM] [Warning] Met categorical feature which contains sparse values. Consider renumbering to consecutive integers started from zero
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 8410
[LightGBM] [Info] Number of data: 80000, number of used features: 14
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.566066	valid_1's binary_logloss: 0.568297
[20]	training's binary_logloss: 0.517266	valid_1's binary_logloss: 0.521276
[30]	training's binary_logloss: 0.494953	valid_1's binary_logloss: 0.500741
[40]	training's binary_logloss: 0.484024	valid_1's binary_logloss: 0.491745
[50]	training's binary_logloss: 0.477951	valid_1's binary_logloss: 0.487778
[60]	training's binary_logloss: 0.473843	valid_1's binary_logloss: 0.48603
[70]	training's binary_logloss: 0.470689	valid_1's binary_logloss: 0.485304
[80]	training's binary_logloss: 0.467798	valid_1's binary_logloss: 0.485048
[90]	training's binary_logloss: 0.465149	valid_1's binary_logloss: 0.485093
[100]	training's binary_logloss: 0.462624	valid_1's binary_logloss: 0.485198
[110]	training's binary_logloss: 0.460229	valid_1's binary_logloss: 0.485124
[120]	training's binary_logloss: 0.458029	valid_1's binary_logloss: 0.485314
[130]	training's binary_logloss: 0.455978	valid_1's binary_logloss: 0.485431
[140]	training's binary_logloss: 0.453986	valid_1's binary_logloss: 0.485586
[150]	training's binary_logloss: 0.45196	valid_1's binary_logloss: 0.485738
[160]	training's binary_logloss: 0.450102	valid_1's binary_logloss: 0.485885
[170]	training's binary_logloss: 0.448231	valid_1's binary_logloss: 0.485973
[180]	training's binary_logloss: 0.446426	valid_1's binary_logloss: 0.486101
Early stopping, best iteration is:
[83]	training's binary_logloss: 0.467004	valid_1's binary_logloss: 0.485014
[LightGBM] [Warning] Met categorical feature which contains sparse values. Consider renumbering to consecutive integers started from zero
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 8383
[LightGBM] [Info] Number of data: 80000, number of used features: 14
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.566045	valid_1's binary_logloss: 0.568075
[20]	training's binary_logloss: 0.517151	valid_1's binary_logloss: 0.52125
[30]	training's binary_logloss: 0.49485	valid_1's binary_logloss: 0.501076
[40]	training's binary_logloss: 0.48393	valid_1's binary_logloss: 0.492429
[50]	training's binary_logloss: 0.477952	valid_1's binary_logloss: 0.488912
[60]	training's binary_logloss: 0.473938	valid_1's binary_logloss: 0.487248
[70]	training's binary_logloss: 0.470828	valid_1's binary_logloss: 0.486483
[80]	training's binary_logloss: 0.468027	valid_1's binary_logloss: 0.486042
[90]	training's binary_logloss: 0.465291	valid_1's binary_logloss: 0.485714
[100]	training's binary_logloss: 0.462859	valid_1's binary_logloss: 0.485777
[110]	training's binary_logloss: 0.46035	valid_1's binary_logloss: 0.48582
[120]	training's binary_logloss: 0.458247	valid_1's binary_logloss: 0.485778
[130]	training's binary_logloss: 0.456078	valid_1's binary_logloss: 0.485863
[140]	training's binary_logloss: 0.454032	valid_1's binary_logloss: 0.485879
[150]	training's binary_logloss: 0.45211	valid_1's binary_logloss: 0.486078
[160]	training's binary_logloss: 0.450082	valid_1's binary_logloss: 0.486215
[170]	training's binary_logloss: 0.448079	valid_1's binary_logloss: 0.486353
[180]	training's binary_logloss: 0.446261	valid_1's binary_logloss: 0.486376
[190]	training's binary_logloss: 0.444465	valid_1's binary_logloss: 0.48645
Early stopping, best iteration is:
[92]	training's binary_logloss: 0.464749	valid_1's binary_logloss: 0.48571
[LightGBM] [Warning] Met categorical feature which contains sparse values. Consider renumbering to consecutive integers started from zero
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 8398
[LightGBM] [Info] Number of data: 80000, number of used features: 14
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.566427	valid_1's binary_logloss: 0.567138
[20]	training's binary_logloss: 0.517671	valid_1's binary_logloss: 0.519476
[30]	training's binary_logloss: 0.495386	valid_1's binary_logloss: 0.498608
[40]	training's binary_logloss: 0.484507	valid_1's binary_logloss: 0.489376
[50]	training's binary_logloss: 0.478488	valid_1's binary_logloss: 0.485205
[60]	training's binary_logloss: 0.474365	valid_1's binary_logloss: 0.483185
[70]	training's binary_logloss: 0.471307	valid_1's binary_logloss: 0.482254
[80]	training's binary_logloss: 0.468537	valid_1's binary_logloss: 0.481884
[90]	training's binary_logloss: 0.465864	valid_1's binary_logloss: 0.481565
[100]	training's binary_logloss: 0.463368	valid_1's binary_logloss: 0.481427
[110]	training's binary_logloss: 0.460952	valid_1's binary_logloss: 0.481378
[120]	training's binary_logloss: 0.458741	valid_1's binary_logloss: 0.481474
[130]	training's binary_logloss: 0.45669	valid_1's binary_logloss: 0.481538
[140]	training's binary_logloss: 0.454671	valid_1's binary_logloss: 0.4817
[150]	training's binary_logloss: 0.452719	valid_1's binary_logloss: 0.481736
[160]	training's binary_logloss: 0.45078	valid_1's binary_logloss: 0.481816
[170]	training's binary_logloss: 0.448849	valid_1's binary_logloss: 0.481878
[180]	training's binary_logloss: 0.446951	valid_1's binary_logloss: 0.48202
[190]	training's binary_logloss: 0.44525	valid_1's binary_logloss: 0.482197
[200]	training's binary_logloss: 0.443381	valid_1's binary_logloss: 0.482342
Early stopping, best iteration is:
[105]	training's binary_logloss: 0.46208	valid_1's binary_logloss: 0.481317
[LightGBM] [Warning] Met categorical feature which contains sparse values. Consider renumbering to consecutive integers started from zero
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34219, number of negative: 45781
[LightGBM] [Info] Total Bins 8399
[LightGBM] [Info] Number of data: 80000, number of used features: 14
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427737 -> initscore=-0.291088
[LightGBM] [Info] Start training from score -0.291088
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.566564	valid_1's binary_logloss: 0.566876
[20]	training's binary_logloss: 0.517968	valid_1's binary_logloss: 0.518983
[30]	training's binary_logloss: 0.495765	valid_1's binary_logloss: 0.497997
[40]	training's binary_logloss: 0.484906	valid_1's binary_logloss: 0.488666
[50]	training's binary_logloss: 0.478874	valid_1's binary_logloss: 0.484651
[60]	training's binary_logloss: 0.474901	valid_1's binary_logloss: 0.482758
[70]	training's binary_logloss: 0.471796	valid_1's binary_logloss: 0.481825
[80]	training's binary_logloss: 0.469018	valid_1's binary_logloss: 0.481313
[90]	training's binary_logloss: 0.466397	valid_1's binary_logloss: 0.481167
[100]	training's binary_logloss: 0.463826	valid_1's binary_logloss: 0.480949
[110]	training's binary_logloss: 0.461475	valid_1's binary_logloss: 0.48084
[120]	training's binary_logloss: 0.459228	valid_1's binary_logloss: 0.480798
[130]	training's binary_logloss: 0.457064	valid_1's binary_logloss: 0.481053
[140]	training's binary_logloss: 0.45496	valid_1's binary_logloss: 0.481206
[150]	training's binary_logloss: 0.452961	valid_1's binary_logloss: 0.481292
[160]	training's binary_logloss: 0.450936	valid_1's binary_logloss: 0.48138
[170]	training's binary_logloss: 0.448988	valid_1's binary_logloss: 0.481405
[180]	training's binary_logloss: 0.447241	valid_1's binary_logloss: 0.48155
[190]	training's binary_logloss: 0.445364	valid_1's binary_logloss: 0.481705
[200]	training's binary_logloss: 0.443516	valid_1's binary_logloss: 0.48169
[210]	training's binary_logloss: 0.441717	valid_1's binary_logloss: 0.48176
Early stopping, best iteration is:
[119]	training's binary_logloss: 0.45943	valid_1's binary_logloss: 0.48079
[LightGBM] [Warning] Met categorical feature which contains sparse values. Consider renumbering to consecutive integers started from zero
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 34220, number of negative: 45780
[LightGBM] [Info] Total Bins 8416
[LightGBM] [Info] Number of data: 80000, number of used features: 14
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.427750 -> initscore=-0.291037
[LightGBM] [Info] Start training from score -0.291037
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.565122	valid_1's binary_logloss: 0.569706
[20]	training's binary_logloss: 0.515992	valid_1's binary_logloss: 0.523943
[30]	training's binary_logloss: 0.493588	valid_1's binary_logloss: 0.504815
[40]	training's binary_logloss: 0.482676	valid_1's binary_logloss: 0.496787
[50]	training's binary_logloss: 0.476667	valid_1's binary_logloss: 0.493492
[60]	training's binary_logloss: 0.472598	valid_1's binary_logloss: 0.49205
[70]	training's binary_logloss: 0.46941	valid_1's binary_logloss: 0.49144
[80]	training's binary_logloss: 0.466605	valid_1's binary_logloss: 0.491218
[90]	training's binary_logloss: 0.463887	valid_1's binary_logloss: 0.491094
[100]	training's binary_logloss: 0.461237	valid_1's binary_logloss: 0.490965
[110]	training's binary_logloss: 0.458916	valid_1's binary_logloss: 0.490968
[120]	training's binary_logloss: 0.456749	valid_1's binary_logloss: 0.491068
[130]	training's binary_logloss: 0.454699	valid_1's binary_logloss: 0.491245
[140]	training's binary_logloss: 0.452678	valid_1's binary_logloss: 0.491276
[150]	training's binary_logloss: 0.450777	valid_1's binary_logloss: 0.491554
[160]	training's binary_logloss: 0.448788	valid_1's binary_logloss: 0.491601
[170]	training's binary_logloss: 0.446975	valid_1's binary_logloss: 0.491769
[180]	training's binary_logloss: 0.445176	valid_1's binary_logloss: 0.491931
[190]	training's binary_logloss: 0.44361	valid_1's binary_logloss: 0.492012
[200]	training's binary_logloss: 0.44191	valid_1's binary_logloss: 0.492229
Early stopping, best iteration is:
[108]	training's binary_logloss: 0.459378	valid_1's binary_logloss: 0.490933

In [19]:
from sklearn.metrics import accuracy_score

y_pred_oof = (oof_train > 0.5).astype(int)
accuracy_score(y_train, y_pred_oof)

0.77159

In [20]:
y_sub = sum(y_preds) / len(y_preds)
y_sub = (y_sub > 0.5).astype(int)
y_sub[:10]

array([0, 1, 1, 0, 1, 0, 1, 0, 1, 0])

In [21]:
sub = pd.read_csv('../data/tabular_playground/sample_submission.csv')

In [22]:
sub["Survived"] = y_sub
sub.to_csv("./subs/lightgbm_skfold_isAlone_categorized.csv",index=False)

In [23]:
sub.head()

   PassengerId  Survived
0       100000         0
1       100001         1
2       100002         1
3       100003         0
4       100004         1

# Pseudolabellingを使ってみる
- 参考
    - https://www.kaggle.com/c/tabular-playground-series-apr-2021/discussion/231738

In [24]:
test.loc[:,"Survived"] = y_sub

/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [25]:
test

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,FirstName,SurName,Counter_Name,Counter_FirstName,Counter_SurName,Ticket_type,Ticket_number,Cabin_type,Cabin_number
0,0,3,0,19.0,0,0,63.01,0,1,1,0.642774,0.235321,1,18,1384,0.436894,24745.0,0.342102,NaN
1,1,3,1,53.0,0,0,5.81,0,1,1,0.480504,0.748968,1,108,125,0.436894,13264.0,0.342102,NaN
2,1,1,1,19.0,0,0,38.91,1,1,1,0.456166,0.695606,1,511,244,0.436894,25990.0,0.630165,15315.0
3,0,2,0,25.0,0,0,12.93,0,1,1,0.394060,0.181203,1,51,770,0.436894,314011.0,0.342102,NaN
4,1,1,1,17.0,0,2,26.89,1,3,0,0.142580,0.674672,1,8,387,0.436894,26203.0,0.630165,22515.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,3,1,27.0,0,0,10.12,2,1,1,0.442774,0.475913,1,34,4,0.436894,7686.0,0.342102,NaN
99996,0,1,0,59.0,1,0,68.31,0,2,0,0.433075,0.239656,2,1352,316,0.436894,13004.0,0.342102,NaN
99997,0,3,0,47.0,0,0,10.87,0,1,1,0.346820,0.409902,1,8,52,0.436894,4383317.0,0.342102,NaN
99998,1,1,1,49.0,1,2,29.68,1,4,0,0.571290,0.668847,1,12,575,0.659571,26988.0,0.630165,20828.0
99999,1,1,1,41.0,0,2,195.41,1,3,0,0.142580,0.669922,1,3,49,0.659571,41824.0,0.617387,13345.0

In [26]:
pseudoLabeled_train = pd.concat([train, test[:int(len(test) / 2)]], sort=False)
pseudoLabeled_train = pseudoLabeled_train.reset_index(drop=True)
pseudoLabeled_train

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,FirstName,SurName,Counter_Name,Counter_FirstName,Counter_SurName,Ticket_type,Ticket_number,Cabin_type,Cabin_number
0,1.0,1,0,31.00,2,0,27.14,0,3,0,0.427740,0.427740,1,47,51,0.427740,209245.0,0.427740,12239.0
1,0.0,3,0,31.00,0,0,13.35,0,1,1,0.427740,0.427740,1,54,31,0.713870,27323.0,0.427740,NaN
2,0.0,3,0,0.33,1,2,71.29,0,4,0,0.427740,0.427740,2,165,1128,0.427740,457703.0,0.213870,NaN
3,0.0,3,0,19.00,0,0,13.04,0,1,1,0.427740,0.427740,2,53,4736,0.427740,10866.0,0.142580,NaN
4,1.0,3,0,25.00,0,0,7.76,0,1,1,0.427740,0.427740,1,39,3662,0.475913,427635.0,0.106935,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,0.0,3,0,54.00,0,0,10.89,0,1,1,0.458964,0.239656,2,558,316,0.542839,46893.0,0.342102,NaN
149996,0.0,3,0,19.00,0,0,10.21,0,1,1,0.340595,0.288030,1,21,283,0.436894,14451.0,0.342102,NaN
149997,1.0,3,1,4.00,1,1,36.06,0,3,0,0.475913,0.685448,1,3,392,0.436894,13284.0,0.342102,NaN
149998,1.0,1,0,30.00,0,0,65.23,1,1,1,0.475913,0.224698,1,9,1096,0.436894,25408.0,0.342102,NaN
149999,0.0,1,0,62.00,1,2,74.47,0,4,0,0.427740,0.173462,1,1,261,0.436894,28614.0,0.342102,NaN

In [27]:
y_train = pseudoLabeled_train["Survived"]
X_train = pseudoLabeled_train.drop("Survived", axis=1)
X_test = test.drop("Survived", axis=1)

In [28]:
y_train

0         1.0
1         0.0
2         0.0
3         0.0
4         1.0
         ...
149995    0.0
149996    0.0
149997    1.0
149998    1.0
149999    0.0
Name: Survived, Length: 150000, dtype: float64

In [29]:
X_test

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,FirstName,SurName,Counter_Name,Counter_FirstName,Counter_SurName,Ticket_type,Ticket_number,Cabin_type,Cabin_number
0,3,0,19.0,0,0,63.01,0,1,1,0.642774,0.235321,1,18,1384,0.436894,24745.0,0.342102,NaN
1,3,1,53.0,0,0,5.81,0,1,1,0.480504,0.748968,1,108,125,0.436894,13264.0,0.342102,NaN
2,1,1,19.0,0,0,38.91,1,1,1,0.456166,0.695606,1,511,244,0.436894,25990.0,0.630165,15315.0
3,2,0,25.0,0,0,12.93,0,1,1,0.394060,0.181203,1,51,770,0.436894,314011.0,0.342102,NaN
4,1,1,17.0,0,2,26.89,1,3,0,0.142580,0.674672,1,8,387,0.436894,26203.0,0.630165,22515.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3,1,27.0,0,0,10.12,2,1,1,0.442774,0.475913,1,34,4,0.436894,7686.0,0.342102,NaN
99996,1,0,59.0,1,0,68.31,0,2,0,0.433075,0.239656,2,1352,316,0.436894,13004.0,0.342102,NaN
99997,3,0,47.0,0,0,10.87,0,1,1,0.346820,0.409902,1,8,52,0.436894,4383317.0,0.342102,NaN
99998,1,1,49.0,1,2,29.68,1,4,0,0.571290,0.668847,1,12,575,0.659571,26988.0,0.630165,20828.0
99999,1,1,41.0,0,2,195.41,1,3,0,0.142580,0.669922,1,3,49,0.659571,41824.0,0.617387,13345.0

In [30]:
X_train

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,FamilySize,IsAlone,FirstName,SurName,Counter_Name,Counter_FirstName,Counter_SurName,Ticket_type,Ticket_number,Cabin_type,Cabin_number
0,1,0,31.00,2,0,27.14,0,3,0,0.427740,0.427740,1,47,51,0.427740,209245.0,0.427740,12239.0
1,3,0,31.00,0,0,13.35,0,1,1,0.427740,0.427740,1,54,31,0.713870,27323.0,0.427740,NaN
2,3,0,0.33,1,2,71.29,0,4,0,0.427740,0.427740,2,165,1128,0.427740,457703.0,0.213870,NaN
3,3,0,19.00,0,0,13.04,0,1,1,0.427740,0.427740,2,53,4736,0.427740,10866.0,0.142580,NaN
4,3,0,25.00,0,0,7.76,0,1,1,0.427740,0.427740,1,39,3662,0.475913,427635.0,0.106935,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,3,0,54.00,0,0,10.89,0,1,1,0.458964,0.239656,2,558,316,0.542839,46893.0,0.342102,NaN
149996,3,0,19.00,0,0,10.21,0,1,1,0.340595,0.288030,1,21,283,0.436894,14451.0,0.342102,NaN
149997,3,1,4.00,1,1,36.06,0,3,0,0.475913,0.685448,1,3,392,0.436894,13284.0,0.342102,NaN
149998,1,0,30.00,0,0,65.23,1,1,1,0.475913,0.224698,1,9,1096,0.436894,25408.0,0.342102,NaN
149999,1,0,62.00,1,2,74.47,0,4,0,0.427740,0.173462,1,1,261,0.436894,28614.0,0.342102,NaN

In [31]:
y_preds = []
models = []
oof_train = np.zeros((len(X_train), ))
cv2 = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)

In [32]:
for fold_id, (train_index, valid_index) in enumerate(cv2.split(X_train, y_train)):
    X_tr = X_train.loc[train_index, :]
    X_val = X_train.loc[valid_index,:]
    y_tr = y_train[train_index]
    y_val = y_train[valid_index]

    lgb_train = lgb.Dataset(
        X_tr, y_tr, categorical_feature=categorical_features
    )

    lgb_eval = lgb.Dataset(
        X_val, y_val, reference=lgb_train, categorical_feature=categorical_features 
    )

    model = lgb.train(
        params, lgb_train, valid_sets=[lgb_train, lgb_eval],
        verbose_eval=10, num_boost_round=1000, early_stopping_rounds=100
    )

    oof_train[valid_index] = model.predict(
        X_val, num_iteration=model.best_iteration
    )

    y_pred = model.predict(
        X_test, num_iteration=model.best_iteration
    )

    y_preds.append(y_pred)
    models.append(model)

/opt/conda/lib/python3.9/site-packages/lightgbm/basic.py:1291: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

[LightGBM] [Warning] Met categorical feature which contains sparse values. Consider renumbering to consecutive integers started from zero
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 45814, number of negative: 74186
[LightGBM] [Info] Total Bins 15782
[LightGBM] [Info] Number of data: 120000, number of used features: 14
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.381783 -> initscore=-0.481986
[LightGBM] [Info] Start training from score -0.481986
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.504949	valid_1's binary_logloss: 0.507524
[20]	training's binary_logloss: 0.437817	valid_1's binary_logloss: 0.44198
[30]	training's binary_logloss: 0.406619	valid_1's binary_logloss: 0.411929
[40]	training's binary_logloss: 0.391109	valid_1's binary_logloss: 0.397543
[50]	training's binary_logloss: 0.382989	valid_1's binary_logloss: 0.390404
[60]	training's binary_logloss: 0.378223	valid_1's binary_logloss: 0.386882
[70]	training's binary_logloss: 0.374969	valid_1's binary_logloss: 0.385009
[80]	training's binary_logloss: 0.372362	valid_1's binary_logloss: 0.384056
[90]	training's binary_logloss: 0.370045	valid_1's binary_logloss: 0.383645
[100]	training's binary_logloss: 0.367917	valid_1's binary_logloss: 0.38334
[110]	training's binary_logloss: 0.365913	valid_1's binary_logloss: 0.383113
[120]	training's binary_logloss: 0.364093	valid_1's binary_logloss: 0.382963
[130]	training's binary_logloss: 0.362446	valid_1's binary_logloss: 0.38289
[140]	training's binary_logloss: 0.360894	valid_1's binary_logloss: 0.382882
[150]	training's binary_logloss: 0.359445	valid_1's binary_logloss: 0.382887
[160]	training's binary_logloss: 0.358035	valid_1's binary_logloss: 0.382942
[170]	training's binary_logloss: 0.356735	valid_1's binary_logloss: 0.38302
[180]	training's binary_logloss: 0.355537	valid_1's binary_logloss: 0.383035
[190]	training's binary_logloss: 0.354134	valid_1's binary_logloss: 0.383076
[200]	training's binary_logloss: 0.352868	valid_1's binary_logloss: 0.383177
[210]	training's binary_logloss: 0.351564	valid_1's binary_logloss: 0.383206
[220]	training's binary_logloss: 0.350338	valid_1's binary_logloss: 0.383221
[230]	training's binary_logloss: 0.349037	valid_1's binary_logloss: 0.383238
Early stopping, best iteration is:
[135]	training's binary_logloss: 0.361636	valid_1's binary_logloss: 0.382843
[LightGBM] [Warning] Met categorical feature which contains sparse values. Consider renumbering to consecutive integers started from zero
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 45814, number of negative: 74186
[LightGBM] [Info] Total Bins 15691
[LightGBM] [Info] Number of data: 120000, number of used features: 14
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.381783 -> initscore=-0.481986
[LightGBM] [Info] Start training from score -0.481986
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.506042	valid_1's binary_logloss: 0.504913
[20]	training's binary_logloss: 0.439508	valid_1's binary_logloss: 0.437827
[30]	training's binary_logloss: 0.408397	valid_1's binary_logloss: 0.406647
[40]	training's binary_logloss: 0.392874	valid_1's binary_logloss: 0.391436
[50]	training's binary_logloss: 0.384701	valid_1's binary_logloss: 0.383873
[60]	training's binary_logloss: 0.379939	valid_1's binary_logloss: 0.380179
[70]	training's binary_logloss: 0.376804	valid_1's binary_logloss: 0.378341
[80]	training's binary_logloss: 0.374241	valid_1's binary_logloss: 0.377176
[90]	training's binary_logloss: 0.371974	valid_1's binary_logloss: 0.376402
[100]	training's binary_logloss: 0.369906	valid_1's binary_logloss: 0.375976
[110]	training's binary_logloss: 0.368098	valid_1's binary_logloss: 0.37559
[120]	training's binary_logloss: 0.366382	valid_1's binary_logloss: 0.375457
[130]	training's binary_logloss: 0.364736	valid_1's binary_logloss: 0.375232
[140]	training's binary_logloss: 0.363169	valid_1's binary_logloss: 0.375231
[150]	training's binary_logloss: 0.361762	valid_1's binary_logloss: 0.375258
[160]	training's binary_logloss: 0.360353	valid_1's binary_logloss: 0.375218
[170]	training's binary_logloss: 0.359053	valid_1's binary_logloss: 0.375178
[180]	training's binary_logloss: 0.357678	valid_1's binary_logloss: 0.375147
[190]	training's binary_logloss: 0.356337	valid_1's binary_logloss: 0.375225
[200]	training's binary_logloss: 0.355134	valid_1's binary_logloss: 0.375287
[210]	training's binary_logloss: 0.353847	valid_1's binary_logloss: 0.375299
[220]	training's binary_logloss: 0.352574	valid_1's binary_logloss: 0.375371
[230]	training's binary_logloss: 0.351271	valid_1's binary_logloss: 0.375448
[240]	training's binary_logloss: 0.350039	valid_1's binary_logloss: 0.375541
[250]	training's binary_logloss: 0.348911	valid_1's binary_logloss: 0.375609
[260]	training's binary_logloss: 0.347635	valid_1's binary_logloss: 0.375708
[270]	training's binary_logloss: 0.346337	valid_1's binary_logloss: 0.375782
[280]	training's binary_logloss: 0.345218	valid_1's binary_logloss: 0.375964
Early stopping, best iteration is:
[181]	training's binary_logloss: 0.35755	valid_1's binary_logloss: 0.375117
[LightGBM] [Warning] Met categorical feature which contains sparse values. Consider renumbering to consecutive integers started from zero
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 45814, number of negative: 74186
[LightGBM] [Info] Total Bins 15698
[LightGBM] [Info] Number of data: 120000, number of used features: 14
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.381783 -> initscore=-0.481986
[LightGBM] [Info] Start training from score -0.481986
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.50553	valid_1's binary_logloss: 0.505669
[20]	training's binary_logloss: 0.438656	valid_1's binary_logloss: 0.439461
[30]	training's binary_logloss: 0.407521	valid_1's binary_logloss: 0.409129
[40]	training's binary_logloss: 0.391911	valid_1's binary_logloss: 0.394563
[50]	training's binary_logloss: 0.383789	valid_1's binary_logloss: 0.387601
[60]	training's binary_logloss: 0.379105	valid_1's binary_logloss: 0.384202
[70]	training's binary_logloss: 0.3759	valid_1's binary_logloss: 0.382438
[80]	training's binary_logloss: 0.373229	valid_1's binary_logloss: 0.381399
[90]	training's binary_logloss: 0.370945	valid_1's binary_logloss: 0.380905
[100]	training's binary_logloss: 0.368835	valid_1's binary_logloss: 0.380446
[110]	training's binary_logloss: 0.366935	valid_1's binary_logloss: 0.380174
[120]	training's binary_logloss: 0.365171	valid_1's binary_logloss: 0.37998
[130]	training's binary_logloss: 0.363555	valid_1's binary_logloss: 0.379991
[140]	training's binary_logloss: 0.362047	valid_1's binary_logloss: 0.379963
[150]	training's binary_logloss: 0.360722	valid_1's binary_logloss: 0.380042
[160]	training's binary_logloss: 0.359422	valid_1's binary_logloss: 0.380211
[170]	training's binary_logloss: 0.358118	valid_1's binary_logloss: 0.380266
[180]	training's binary_logloss: 0.356712	valid_1's binary_logloss: 0.38032
[190]	training's binary_logloss: 0.355356	valid_1's binary_logloss: 0.380406
[200]	training's binary_logloss: 0.35418	valid_1's binary_logloss: 0.380464
[210]	training's binary_logloss: 0.35297	valid_1's binary_logloss: 0.380571
[220]	training's binary_logloss: 0.351675	valid_1's binary_logloss: 0.380605
[230]	training's binary_logloss: 0.350528	valid_1's binary_logloss: 0.3806
Early stopping, best iteration is:
[139]	training's binary_logloss: 0.362202	valid_1's binary_logloss: 0.379919
[LightGBM] [Warning] Met categorical feature which contains sparse values. Consider renumbering to consecutive integers started from zero
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 45815, number of negative: 74185
[LightGBM] [Info] Total Bins 15637
[LightGBM] [Info] Number of data: 120000, number of used features: 14
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.381792 -> initscore=-0.481950
[LightGBM] [Info] Start training from score -0.481950
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.50514	valid_1's binary_logloss: 0.506759
[20]	training's binary_logloss: 0.43808	valid_1's binary_logloss: 0.441034
[30]	training's binary_logloss: 0.406732	valid_1's binary_logloss: 0.410855
[40]	training's binary_logloss: 0.3912	valid_1's binary_logloss: 0.396476
[50]	training's binary_logloss: 0.383095	valid_1's binary_logloss: 0.389524
[60]	training's binary_logloss: 0.378252	valid_1's binary_logloss: 0.385933
[70]	training's binary_logloss: 0.375144	valid_1's binary_logloss: 0.384367
[80]	training's binary_logloss: 0.372539	valid_1's binary_logloss: 0.383465
[90]	training's binary_logloss: 0.370329	valid_1's binary_logloss: 0.382933
[100]	training's binary_logloss: 0.368258	valid_1's binary_logloss: 0.382526
[110]	training's binary_logloss: 0.366364	valid_1's binary_logloss: 0.382278
[120]	training's binary_logloss: 0.364545	valid_1's binary_logloss: 0.382103
[130]	training's binary_logloss: 0.362842	valid_1's binary_logloss: 0.382042
[140]	training's binary_logloss: 0.361358	valid_1's binary_logloss: 0.381964
[150]	training's binary_logloss: 0.359968	valid_1's binary_logloss: 0.382017
[160]	training's binary_logloss: 0.35851	valid_1's binary_logloss: 0.382014
[170]	training's binary_logloss: 0.35707	valid_1's binary_logloss: 0.382049
[180]	training's binary_logloss: 0.35561	valid_1's binary_logloss: 0.382017
[190]	training's binary_logloss: 0.354225	valid_1's binary_logloss: 0.381984
[200]	training's binary_logloss: 0.352856	valid_1's binary_logloss: 0.382085
[210]	training's binary_logloss: 0.351616	valid_1's binary_logloss: 0.382231
[220]	training's binary_logloss: 0.350348	valid_1's binary_logloss: 0.382315
[230]	training's binary_logloss: 0.349029	valid_1's binary_logloss: 0.382404
[240]	training's binary_logloss: 0.347775	valid_1's binary_logloss: 0.382524
[250]	training's binary_logloss: 0.346494	valid_1's binary_logloss: 0.382627
[260]	training's binary_logloss: 0.34534	valid_1's binary_logloss: 0.382758
[270]	training's binary_logloss: 0.344107	valid_1's binary_logloss: 0.38285
[280]	training's binary_logloss: 0.342943	valid_1's binary_logloss: 0.382888
[290]	training's binary_logloss: 0.341719	valid_1's binary_logloss: 0.383046
Early stopping, best iteration is:
[191]	training's binary_logloss: 0.354083	valid_1's binary_logloss: 0.38196
[LightGBM] [Warning] Met categorical feature which contains sparse values. Consider renumbering to consecutive integers started from zero
[LightGBM] [Warning] Starting from the 2.1.2 version, default value for the "boost_from_average" parameter in "binary" objective is true.
This may cause significantly different results comparing to the previous versions of LightGBM.
Try to set boost_from_average=false, if your old models produce bad results
[LightGBM] [Info] Number of positive: 45815, number of negative: 74185
[LightGBM] [Info] Total Bins 15759
[LightGBM] [Info] Number of data: 120000, number of used features: 14
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.381792 -> initscore=-0.481950
[LightGBM] [Info] Start training from score -0.481950
Training until validation scores don't improve for 100 rounds
[10]	training's binary_logloss: 0.504745	valid_1's binary_logloss: 0.50757
[20]	training's binary_logloss: 0.437534	valid_1's binary_logloss: 0.442527
[30]	training's binary_logloss: 0.406048	valid_1's binary_logloss: 0.413037
[40]	training's binary_logloss: 0.390344	valid_1's binary_logloss: 0.399235
[50]	training's binary_logloss: 0.38217	valid_1's binary_logloss: 0.392882
[60]	training's binary_logloss: 0.377304	valid_1's binary_logloss: 0.389806
[70]	training's binary_logloss: 0.37401	valid_1's binary_logloss: 0.388126
[80]	training's binary_logloss: 0.371392	valid_1's binary_logloss: 0.387258
[90]	training's binary_logloss: 0.369102	valid_1's binary_logloss: 0.386687
[100]	training's binary_logloss: 0.367032	valid_1's binary_logloss: 0.386379
[110]	training's binary_logloss: 0.365155	valid_1's binary_logloss: 0.386162
[120]	training's binary_logloss: 0.363463	valid_1's binary_logloss: 0.385996
[130]	training's binary_logloss: 0.361852	valid_1's binary_logloss: 0.386009
[140]	training's binary_logloss: 0.360295	valid_1's binary_logloss: 0.386096
[150]	training's binary_logloss: 0.358867	valid_1's binary_logloss: 0.386084
[160]	training's binary_logloss: 0.357591	valid_1's binary_logloss: 0.386127
[170]	training's binary_logloss: 0.356186	valid_1's binary_logloss: 0.38613
[180]	training's binary_logloss: 0.354919	valid_1's binary_logloss: 0.386164
[190]	training's binary_logloss: 0.353585	valid_1's binary_logloss: 0.386209
[200]	training's binary_logloss: 0.352266	valid_1's binary_logloss: 0.386319
[210]	training's binary_logloss: 0.350882	valid_1's binary_logloss: 0.386344
[220]	training's binary_logloss: 0.349653	valid_1's binary_logloss: 0.386467
Early stopping, best iteration is:
[124]	training's binary_logloss: 0.362758	valid_1's binary_logloss: 0.38595

In [33]:

y_pred_oof = (oof_train > 0.5).astype(int)
accuracy_score(y_train, y_pred_oof)

0.84534

In [34]:
y_sub = sum(y_preds) / len(y_preds)
y_sub = (y_sub > 0.5).astype(int)

sub["Survived"] = y_sub
sub.to_csv("./subs/lightgbm_skfold_pseudo_labeled.csv",index=False)