In [13]:
import pandas as pd

In [14]:
sub_lgbm_sk = pd.read_csv("./submission_lightgbm_skfold.csv")
sub_lgbm_ho = pd.read_csv("./submission_lightgbm_kfold.csv")
sub_rf = pd.read_csv("../data/submission_randomforest.csv")

In [15]:
df = pd.DataFrame(
    {
        "sub_lgbm_sk":sub_lgbm_sk["Survived"].values,
        "sub_lgbm_ho":sub_lgbm_ho["Survived"].values,
        "sub_rf": sub_rf["Survived"].values
    }
)

df.head()

   sub_lgbm_sk  sub_lgbm_ho  sub_rf
0            0            0       0
1            0            0       1
2            0            0       0
3            0            0       0
4            0            0       1

In [16]:
df.corr()

             sub_lgbm_sk  sub_lgbm_ho    sub_rf
sub_lgbm_sk     1.000000     0.952527  0.792479
sub_lgbm_ho     0.952527     1.000000  0.796033
sub_rf          0.792479     0.796033  1.000000

In [17]:
sub = pd.read_csv("../data/gender_submission.csv")

In [18]:
sub["Survived"] = sub_lgbm_sk["Survived"] + sub_lgbm_ho["Survived"] + sub_rf["Survived"]
sub.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [19]:
sub["Survived"] = (sub["Survived"] >= 2).astype(int)
sub.to_csv('submission_lightgbm_ensemble.csv', index=False)
sub.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0