In [3]:
import numpy as np
import pandas as pd

In [4]:
train = pd.read_csv('../data/train_preprocessed.csv')
train_x = train.drop(["target"], axis=1)
train_y = train["target"]
test_x = pd.read_csv("../data/test_preprocessed.csv")

In [5]:
train_x

,age,sex,height,weight,product,amount,medical_info_a1,medical_info_a2,medical_info_a3,medical_info_b1,...,medical_keyword_5,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10,year,month,day,yearmonth
0,50,1,166.445608,65.016732,9,7000000,134,202,1,11,...,0,1,0,1,0,0,2015,2,3,24182
1,68,0,164.334615,56.544217,0,7000000,438,263,3,14,...,0,0,1,1,0,0,2015,5,9,24185
2,77,1,167.462917,54.242267,2,6000000,313,325,1,18,...,0,1,0,1,0,0,2016,2,13,24194
3,17,1,177.097725,71.147762,3,8000000,342,213,2,11,...,0,0,0,1,0,0,2015,7,6,24187
4,62,0,158.165788,65.240697,1,9000000,327,102,0,14,...,0,0,1,1,1,0,2016,9,17,24201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,61,1,182.729800,73.393777,1,2000000,189,232,7,17,...,0,0,0,1,1,0,2015,10,21,24190
9996,33,0,167.701136,75.006529,8,9000,426,202,3,19,...,0,0,0,1,1,0,2015,5,28,24185
9997,44,0,145.609998,47.739397,8,1000,370,274,1,11,...,0,0,0,1,0,1,2016,2,29,24194
9998,34,0,165.796017,57.567695,6,5000,291,105,1,13,...,0,1,1,1,1,0,2016,2,27,24194
9999,31,1,180.301762,71.425135,4,1000000,288,454,4,13,...,0,1,0,1,0,0,2015,7,1,24187

In [6]:
test_x

,age,sex,height,weight,product,amount,medical_info_a1,medical_info_a2,medical_info_a3,medical_info_b1,...,medical_keyword_5,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10,year,month,day,yearmonth
0,49,1,187.431987,81.008363,1,1000000,302,212,1,10,...,0,1,0,1,0,0,2016,12,6,24204
1,79,1,171.632630,71.067812,6,2000,197,469,0,14,...,0,0,0,0,1,1,2016,9,3,24201
2,78,0,163.543983,64.032098,0,4000000,247,225,2,17,...,0,1,0,1,0,0,2015,4,10,24184
3,26,1,150.391858,52.322910,2,1000000,108,228,0,15,...,0,0,1,0,0,0,2016,4,17,24196
4,14,1,165.835167,67.008154,2,4000000,181,90,2,11,...,0,0,0,1,0,0,2015,1,26,24181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,21,1,185.174944,62.893499,8,3000,277,173,2,11,...,0,0,0,1,0,0,2015,3,11,24183
9996,34,1,157.581442,58.889901,8,2000,184,206,3,18,...,0,1,0,1,0,0,2016,3,27,24195
9997,36,1,177.676066,85.277018,2,6000000,443,191,1,11,...,0,0,0,1,1,0,2016,3,16,24195
9998,18,1,166.757782,64.254215,3,6000000,267,193,0,19,...,0,0,0,1,0,0,2015,6,17,24186
9999,42,0,158.656634,53.299956,1,3000000,317,179,0,15,...,1,1,0,1,0,0,2016,8,15,24200

In [7]:
train_x_saved = train_x.copy()
test_x_saved = test_x.copy()

In [8]:
def load_data():
    """
    ロード時の学習用データを返す
    """
    return train_x_saved.copy(), test_x_saved.copy()

In [9]:
num_cols = ['age', 'height', 'weight', 'amount','medical_info_a1', 'medical_info_a2', 'medical_info_a3', 'medical_info_b1']

In [10]:
## 標準化
train_x, test_x = load_data()

In [11]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [12]:
scaler.fit(train_x[num_cols])
train_x[num_cols] = scaler.transform(train_x[num_cols])
test_x[num_cols] = scaler.transform(test_x[num_cols])

In [13]:
train_x

,age,sex,height,weight,product,amount,medical_info_a1,medical_info_a2,medical_info_a3,medical_info_b1,...,medical_keyword_5,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10,year,month,day,yearmonth
0,0.367868,1,0.058742,0.388110,9,0.913244,-1.580051,-0.457569,-0.696940,-1.190812,...,0,1,0,1,0,0,2015,2,3,24182
1,1.198320,0,-0.165636,-0.402399,0,0.913244,1.329289,0.130607,0.714155,-0.145996,...,0,0,1,1,0,0,2015,5,9,24185
2,1.613547,1,0.166873,-0.617178,2,0.624166,0.133014,0.728426,-0.696940,1.247092,...,0,1,0,1,0,0,2016,2,13,24194
3,-1.154629,1,1.190962,0.960153,3,1.202323,0.410550,-0.351505,0.008608,-1.190812,...,0,0,0,1,0,0,2015,7,6,24187
4,0.921503,0,-0.821325,0.409007,1,1.491401,0.266997,-1.421793,-1.402487,-0.145996,...,0,0,1,1,1,0,2016,9,17,24201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.875367,1,1.789598,1.169712,1,-0.532148,-1.053690,-0.168302,3.536344,0.898820,...,0,0,0,1,1,0,2015,10,21,24190
9996,-0.416449,0,0.192193,1.320187,8,-1.107704,1.214447,-0.457569,0.714155,1.595364,...,0,0,0,1,1,0,2015,5,28,24185
9997,0.091050,0,-2.155887,-1.223914,8,-1.110016,0.678516,0.236672,-0.696940,-1.190812,...,0,0,0,1,0,1,2016,2,29,24194
9998,-0.370313,0,-0.010303,-0.306906,6,-1.108860,-0.077530,-1.392866,-0.696940,-0.494268,...,0,1,1,1,1,0,2016,2,27,24194
9999,-0.508722,1,1.531521,0.986032,4,-0.821227,-0.106241,1.972274,1.419702,-0.494268,...,0,1,0,1,0,0,2015,7,1,24187

In [14]:
test_x

,age,sex,height,weight,product,amount,medical_info_a1,medical_info_a2,medical_info_a3,medical_info_b1,...,medical_keyword_5,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10,year,month,day,yearmonth
0,0.321731,1,2.289396,1.880175,1,-0.821227,0.027742,-0.361147,-0.696940,-1.539084,...,0,1,0,1,0,0,2016,12,6,24204
1,1.705819,1,0.610074,0.952693,6,-1.109727,-0.977129,2.116908,-1.402487,-0.145996,...,0,0,0,0,1,1,2016,9,3,24201
2,1.659683,0,-0.249673,0.296241,0,0.046009,-0.498619,-0.235798,0.008608,0.898820,...,0,1,0,1,0,0,2015,4,10,24184
3,-0.739403,1,-1.647620,-0.796259,2,-0.821227,-1.828877,-0.206871,-1.402487,0.202276,...,0,0,1,0,0,0,2016,4,17,24196
4,-1.293038,1,-0.006142,0.573915,2,0.046009,-1.130252,-1.537500,0.008608,-1.190812,...,0,0,0,1,0,0,2015,1,26,24181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,-0.970084,1,2.049494,0.190007,8,-1.109438,-0.211513,-0.737194,0.008608,-1.190812,...,0,0,0,1,0,0,2015,3,11,24183
9996,-0.370313,1,-0.883435,-0.183541,8,-1.109727,-1.101541,-0.419000,0.714155,1.247092,...,0,1,0,1,0,0,2016,3,27,24195
9997,-0.278040,1,1.252434,2.278452,2,0.624166,1.377140,-0.563634,-0.696940,-1.190812,...,0,0,0,1,1,0,2016,3,16,24195
9998,-1.108493,1,0.091923,0.316965,3,0.624166,-0.307215,-0.544350,-1.402487,1.595364,...,0,0,0,1,0,0,2015,6,17,24186
9999,-0.001223,0,-0.769152,-0.705098,1,-0.243070,0.171295,-0.679341,-1.402487,0.202276,...,1,1,0,1,0,0,2016,8,15,24200

In [15]:
# Min-Maxスケーリング
from sklearn.preprocessing import MinMaxScaler

train_x, train_y = load_data()
scaler = MinMaxScaler()
scaler.fit(train_x[num_cols])

train_x[num_cols] = scaler.transform(train_x[num_cols])
test_x[num_cols] = scaler.transform(test_x[num_cols])

train_x

,age,sex,height,weight,product,amount,medical_info_a1,medical_info_a2,medical_info_a3,medical_info_b1,...,medical_keyword_5,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10,year,month,day,yearmonth
0,0.608108,1,0.532604,0.428962,9,0.69997,0.255208,0.427491,0.111111,0.111111,...,0,1,0,1,0,0,2015,2,3,24182
1,0.851351,0,0.500320,0.330025,0,0.69997,0.651042,0.504414,0.333333,0.444444,...,0,0,1,1,0,0,2015,5,9,24185
2,0.972973,1,0.548162,0.303145,2,0.59996,0.488281,0.582598,0.111111,0.888889,...,0,1,0,1,0,0,2016,2,13,24194
3,0.162162,1,0.695510,0.500557,3,0.79998,0.526042,0.441362,0.222222,0.111111,...,0,0,0,1,0,0,2015,7,6,24187
4,0.770270,0,0.405978,0.431578,1,0.89999,0.506510,0.301387,0.000000,0.444444,...,0,0,1,1,1,0,2016,9,17,24201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.756757,1,0.781644,0.526784,1,0.19992,0.326823,0.465322,0.777778,0.777778,...,0,0,0,1,1,0,2015,10,21,24190
9996,0.378378,0,0.551805,0.545617,8,0.00080,0.635417,0.427491,0.333333,1.000000,...,0,0,0,1,1,0,2015,5,28,24185
9997,0.527027,0,0.213958,0.227208,8,0.00000,0.562500,0.518285,0.111111,0.111111,...,0,0,0,1,0,1,2016,2,29,24194
9998,0.391892,0,0.522670,0.341977,6,0.00040,0.459635,0.305170,0.111111,0.333333,...,0,1,1,1,1,0,2016,2,27,24194
9999,0.351351,1,0.744511,0.503796,4,0.09991,0.455729,0.745271,0.444444,0.333333,...,0,1,0,1,0,0,2015,7,1,24187

In [16]:
test_x

,age,sex,height,weight,product,amount,medical_info_a1,medical_info_a2,medical_info_a3,medical_info_b1,...,medical_keyword_5,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10,year,month,day,yearmonth
0,-0.063220,1,-1.977891,-0.308307,1,-0.0001,0.080765,0.172306,-0.077438,-1.282120,...,0,1,0,1,0,0,2016,12,6,24204
1,-0.044516,1,-2.003574,-0.319138,6,-0.0001,0.079457,0.175431,-0.155832,-1.127333,...,0,0,0,0,1,1,2016,9,3,24201
2,-0.045139,0,-2.016722,-0.326804,0,-0.0001,0.080080,0.172464,0.000956,-1.011242,...,0,1,0,1,0,0,2015,4,10,24184
3,-0.077559,1,-2.038101,-0.339561,2,-0.0001,0.078348,0.172501,-0.155832,-1.088636,...,0,0,1,0,0,0,2016,4,17,24196
4,-0.085041,1,-2.012998,-0.323561,2,-0.0001,0.079257,0.170823,0.000956,-1.243424,...,0,0,0,1,0,0,2015,1,26,24181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,-0.080677,1,-1.981560,-0.328044,8,-0.0001,0.080454,0.171832,0.000956,-1.243424,...,0,0,0,1,0,0,2015,3,11,24183
9996,-0.072572,1,-2.026414,-0.332406,8,-0.0001,0.079295,0.172233,0.079351,-0.972545,...,0,1,0,1,0,0,2016,3,27,24195
9997,-0.071325,1,-1.993750,-0.303657,2,-0.0001,0.082522,0.172051,-0.077438,-1.243424,...,0,0,0,1,1,0,2016,3,16,24195
9998,-0.082547,1,-2.011498,-0.326562,3,-0.0001,0.080329,0.172075,-0.155832,-0.933848,...,0,0,0,1,0,0,2015,6,17,24186
9999,-0.067584,0,-2.024667,-0.338497,1,-0.0001,0.080952,0.171905,-0.155832,-1.088636,...,1,1,0,1,0,0,2016,8,15,24200

In [17]:
# 対数変換
x = np.array(
    [1.0, 10.0, 100.0, 1000.0, 10000.0]
)

x_loged = np.log10(x)
# xに0が含まれる時用
x1 = np.log1p(x)
# xに負の値が含まれる時用
x2 = np.sign(x) * np.log1p(np.abs(x))

x1, x2, x_loged

(array([0.69314718, 2.39789527, 4.61512052, 6.90875478, 9.21044037]),
 array([0.69314718, 2.39789527, 4.61512052, 6.90875478, 9.21044037]),
 array([0., 1., 2., 3., 4.]))

In [18]:
#Box-Cox変換
# 対数変換の一般化
# できるだけ正規分布に近づくように変換してくれる
train_x, test_x = load_data()

### Box-Cox変換
- x^λ = 
    - (x^λ - 1)/λ {λ != 0}
    - log x {λ == 0}
    - ラムダは自動調整してくれる

In [19]:
pos_cols = [c for c in num_cols if (train_x[c] > 0.0).all() and (test_x[c] > 0.0).all()]
pos_cols

['age', 'height', 'weight', 'amount', 'medical_info_b1']

In [20]:
from sklearn.preprocessing import PowerTransformer
pt = PowerTransformer(method="box-cox")
pt.fit(train_x[pos_cols])

train_x[pos_cols] = pt.transform(train_x[pos_cols])
test_x[pos_cols] = pt.transform(test_x[pos_cols])

train_x

,age,sex,height,weight,product,amount,medical_info_a1,medical_info_a2,medical_info_a3,medical_info_b1,...,medical_keyword_5,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10,year,month,day,yearmonth
0,0.422155,1,0.043571,0.421404,9,0.870700,134,202,1,-1.206757,...,0,1,0,1,0,0,2015,2,3,24182
1,1.154181,0,-0.180785,-0.368186,0,0.870700,438,263,3,-0.106920,...,0,0,1,1,0,0,2015,5,9,24185
2,1.500484,1,0.152239,-0.591786,2,0.761594,313,325,1,1.225532,...,0,1,0,1,0,0,2016,2,13,24194
3,-1.156700,1,1.198950,0.964084,3,0.968949,342,213,2,-1.206757,...,0,0,0,1,0,0,2015,7,6,24187
4,0.916599,0,-0.827508,0.441624,1,1.058598,327,102,0,-0.106920,...,0,0,1,1,1,0,2016,9,17,24201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.876425,1,1.825278,1.157562,1,0.102520,189,232,7,0.904250,...,0,0,0,1,1,0,2015,10,21,24190
9996,-0.337136,0,0.177738,1.294845,8,-1.363540,426,202,3,1.539947,...,0,0,0,1,1,0,2015,5,28,24185
9997,0.163365,0,-2.102024,-1.247768,8,-1.562485,370,274,1,-1.206757,...,0,0,0,1,0,1,2016,2,29,24194
9998,-0.289991,0,-0.025632,-0.270093,6,-1.428771,291,105,1,-0.462311,...,0,1,1,1,1,0,2016,2,27,24194
9999,-0.432574,1,1.553968,0.988126,4,-0.223334,288,454,4,-0.462311,...,0,1,0,1,0,0,2015,7,1,24187

In [21]:
# Yeo-Johnson変換
# Box-Cox変換の一般化

pt_yeo_johnson = PowerTransformer(method="yeo-johnson")
pt_yeo_johnson.fit(train_x[num_cols])

train_x[num_cols] = pt_yeo_johnson.transform(train_x[num_cols])
test_x[num_cols] = pt_yeo_johnson.transform(test_x[num_cols])

In [22]:
train_x

,age,sex,height,weight,product,amount,medical_info_a1,medical_info_a2,medical_info_a3,medical_info_b1,...,medical_keyword_5,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10,year,month,day,yearmonth
0,0.368340,1,0.042218,0.420549,9,0.920644,-1.583887,-0.457732,-0.623250,-1.199017,...,0,1,0,1,0,0,2015,2,3,24182
1,1.192375,0,-0.182083,-0.369096,0,0.920644,1.326038,0.130478,0.795641,-0.124659,...,0,0,1,1,0,0,2015,5,9,24185
2,1.603349,1,0.150926,-0.592424,2,0.738464,0.136043,0.728412,-0.623250,1.235535,...,0,1,0,1,0,0,2016,2,13,24194
3,-1.140669,1,1.199648,0.964117,3,1.091880,0.412747,-0.351668,0.164914,-1.199017,...,0,0,0,1,0,0,2015,7,6,24187
4,0.917748,0,-0.827814,0.440792,1,1.253996,0.269676,-1.421770,-1.737698,-0.124659,...,0,0,1,1,1,0,2016,9,17,24201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.871947,1,1.828190,1.158033,1,-0.176200,-1.052696,-0.168459,2.602143,0.902541,...,0,0,0,1,1,0,2015,10,21,24190
9996,-0.400865,0,0.176439,1.295660,8,-1.289575,1.212081,-0.457732,0.795641,1.563711,...,0,0,0,1,1,0,2015,5,28,24185
9997,0.094801,0,-2.097983,-1.247079,8,-1.394126,0.679528,0.236558,-0.623250,-1.199017,...,0,0,0,1,0,1,2016,2,29,24194
9998,-0.355951,0,-0.026987,-0.271088,6,-1.324581,-0.074161,-1.392855,-0.623250,-0.475887,...,0,1,1,1,1,0,2016,2,27,24194
9999,-0.490849,1,1.555847,0.988210,4,-0.505754,-0.102845,1.972698,1.330317,-0.475887,...,0,1,0,1,0,0,2015,7,1,24187

### binning
- 連続値を順序関係ありカテゴリ特徴にする

In [23]:
x = [1,7,5,4,6,3]
binned = pd.cut(x, 3, labels=False)
binned

array([0, 2, 1, 1, 2, 0])

In [24]:
binned

array([0, 2, 1, 1, 2, 0])

### Cliping
- データの外れ値を取り除く
- pandas.Dataframeでは境界値に設定される

In [25]:
train_x, test_x = load_data()

p01 = train_x[num_cols].quantile(0.01)
p99 = train_x[num_cols].quantile(0.99)

In [26]:
train_x[num_cols] = train_x[num_cols].clip(p01, p99, axis=1)
train_x

,age,sex,height,weight,product,amount,medical_info_a1,medical_info_a2,medical_info_a3,medical_info_b1,...,medical_keyword_5,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10,year,month,day,yearmonth
0,50,1,166.445608,65.016732,9,7000000,134.0,202.0,1,11,...,0,1,0,1,0,0,2015,2,3,24182
1,68,0,164.334615,56.544217,0,7000000,438.0,263.0,3,14,...,0,0,1,1,0,0,2015,5,9,24185
2,77,1,167.462917,54.242267,2,6000000,313.0,325.0,1,18,...,0,1,0,1,0,0,2016,2,13,24194
3,17,1,177.097725,71.147762,3,8000000,342.0,213.0,2,11,...,0,0,0,1,0,0,2015,7,6,24187
4,62,0,158.165788,65.240697,1,9000000,327.0,102.0,0,14,...,0,0,1,1,1,0,2016,9,17,24201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,61,1,182.729800,73.393777,1,2000000,189.0,232.0,6,17,...,0,0,0,1,1,0,2015,10,21,24190
9996,33,0,167.701136,75.006529,8,9000,426.0,202.0,3,19,...,0,0,0,1,1,0,2015,5,28,24185
9997,44,0,145.609998,47.739397,8,1000,370.0,274.0,1,11,...,0,0,0,1,0,1,2016,2,29,24194
9998,34,0,165.796017,57.567695,6,5000,291.0,105.0,1,13,...,0,1,1,1,1,0,2016,2,27,24194
9999,31,1,180.301762,71.425135,4,1000000,288.0,454.0,4,13,...,0,1,0,1,0,0,2015,7,1,24187

### RankGauss
- 順序づけ -> 正規分布に変換
- NNに対しては通常の標準化よりよい成績が出るとのこと

In [27]:
from sklearn.preprocessing import QuantileTransformer

train_x, test_x = load_data()

transformer = QuantileTransformer(n_quantiles=100, random_state=0, output_distribution="normal")
transformer.fit(train_x[num_cols])

train_x[num_cols] = transformer.transform(train_x[num_cols])

In [28]:
train_x

,age,sex,height,weight,product,amount,medical_info_a1,medical_info_a2,medical_info_a3,medical_info_b1,...,medical_keyword_5,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10,year,month,day,yearmonth
0,0.269066,1,0.037927,0.416543,9,0.698526,-1.581053,-0.468075,-0.604585,-1.008673,...,0,1,0,1,0,0,2015,2,3,24182
1,1.029957,0,-0.178968,-0.373398,0,0.698526,1.335178,0.131193,0.747859,-0.088734,...,0,0,1,1,0,0,2015,5,9,24185
2,1.807354,1,0.140337,-0.594377,2,0.486994,0.131193,0.714776,-0.604585,1.073988,...,0,1,0,1,0,0,2016,2,13,24194
3,-0.947401,1,1.191522,0.968921,3,0.947401,0.416878,-0.366751,0.114185,-1.008673,...,0,0,0,1,0,0,2015,7,6,24187
4,0.731217,0,-0.817410,0.436847,1,1.275817,0.269066,-1.399657,-5.199338,-0.088734,...,0,0,1,1,1,0,2016,9,17,24201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.682458,1,1.829143,1.165556,1,-0.242903,-1.051717,-0.165327,2.471148,0.714776,...,0,0,0,1,1,0,2015,10,21,24190
9996,-0.308666,0,0.164028,1.299446,8,-0.666564,1.220640,-0.468075,0.747859,5.199338,...,0,0,0,1,1,0,2015,5,28,24185
9997,0.063341,0,-2.125991,-1.237248,8,-5.199338,0.666564,0.234219,-0.604585,-1.008673,...,0,0,0,1,0,1,2016,2,29,24194
9998,-0.269066,0,-0.027100,-0.273991,6,-1.073988,-0.076032,-1.377524,-0.604585,-0.362241,...,0,1,1,1,1,0,2016,2,27,24194
9999,-0.375793,1,1.551387,0.995073,4,-0.430727,-0.105694,2.000424,1.304923,-0.362241,...,0,1,0,1,0,0,2015,7,1,24187