In [2]:
import numpy as np
import pandas as pd

In [4]:
train = pd.read_csv('../data/train_preprocessed.csv')
train_x = train.drop(["target"], axis=1)
train_y = train["target"]
test_x = pd.read_csv("../data/test_preprocessed.csv")

In [5]:
train_x

,age,sex,height,weight,product,amount,medical_info_a1,medical_info_a2,medical_info_a3,medical_info_b1,...,medical_keyword_5,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10,year,month,day,yearmonth
0,50,1,166.445608,65.016732,9,7000000,134,202,1,11,...,0,1,0,1,0,0,2015,2,3,24182
1,68,0,164.334615,56.544217,0,7000000,438,263,3,14,...,0,0,1,1,0,0,2015,5,9,24185
2,77,1,167.462917,54.242267,2,6000000,313,325,1,18,...,0,1,0,1,0,0,2016,2,13,24194
3,17,1,177.097725,71.147762,3,8000000,342,213,2,11,...,0,0,0,1,0,0,2015,7,6,24187
4,62,0,158.165788,65.240697,1,9000000,327,102,0,14,...,0,0,1,1,1,0,2016,9,17,24201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,61,1,182.729800,73.393777,1,2000000,189,232,7,17,...,0,0,0,1,1,0,2015,10,21,24190
9996,33,0,167.701136,75.006529,8,9000,426,202,3,19,...,0,0,0,1,1,0,2015,5,28,24185
9997,44,0,145.609998,47.739397,8,1000,370,274,1,11,...,0,0,0,1,0,1,2016,2,29,24194
9998,34,0,165.796017,57.567695,6,5000,291,105,1,13,...,0,1,1,1,1,0,2016,2,27,24194
9999,31,1,180.301762,71.425135,4,1000000,288,454,4,13,...,0,1,0,1,0,0,2015,7,1,24187

In [6]:
test_x

,age,sex,height,weight,product,amount,medical_info_a1,medical_info_a2,medical_info_a3,medical_info_b1,...,medical_keyword_5,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10,year,month,day,yearmonth
0,49,1,187.431987,81.008363,1,1000000,302,212,1,10,...,0,1,0,1,0,0,2016,12,6,24204
1,79,1,171.632630,71.067812,6,2000,197,469,0,14,...,0,0,0,0,1,1,2016,9,3,24201
2,78,0,163.543983,64.032098,0,4000000,247,225,2,17,...,0,1,0,1,0,0,2015,4,10,24184
3,26,1,150.391858,52.322910,2,1000000,108,228,0,15,...,0,0,1,0,0,0,2016,4,17,24196
4,14,1,165.835167,67.008154,2,4000000,181,90,2,11,...,0,0,0,1,0,0,2015,1,26,24181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,21,1,185.174944,62.893499,8,3000,277,173,2,11,...,0,0,0,1,0,0,2015,3,11,24183
9996,34,1,157.581442,58.889901,8,2000,184,206,3,18,...,0,1,0,1,0,0,2016,3,27,24195
9997,36,1,177.676066,85.277018,2,6000000,443,191,1,11,...,0,0,0,1,1,0,2016,3,16,24195
9998,18,1,166.757782,64.254215,3,6000000,267,193,0,19,...,0,0,0,1,0,0,2015,6,17,24186
9999,42,0,158.656634,53.299956,1,3000000,317,179,0,15,...,1,1,0,1,0,0,2016,8,15,24200

In [8]:
train_x_saved = train_x.copy()
test_x_saved = test_x.copy()

In [9]:
def load_data():
    """
    ロード時の学習用データを返す
    """
    return train_x_saved.copy(), test_x_saved.copy()

In [11]:
num_cols = ['age', 'height', 'weight', 'amount','medical_info_a1', 'medical_info_a2', 'medical_info_a3', 'medical_info_b1']

In [12]:
## 標準化
train_x, test_x = load_data()

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [14]:
scaler.fit(train_x[num_cols])
train_x[num_cols] = scaler.transform(train_x[num_cols])
test_x[num_cols] = scaler.transform(test_x[num_cols])

In [15]:
train_x

,age,sex,height,weight,product,amount,medical_info_a1,medical_info_a2,medical_info_a3,medical_info_b1,...,medical_keyword_5,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10,year,month,day,yearmonth
0,0.367868,1,0.058742,0.388110,9,0.913244,-1.580051,-0.457569,-0.696940,-1.190812,...,0,1,0,1,0,0,2015,2,3,24182
1,1.198320,0,-0.165636,-0.402399,0,0.913244,1.329289,0.130607,0.714155,-0.145996,...,0,0,1,1,0,0,2015,5,9,24185
2,1.613547,1,0.166873,-0.617178,2,0.624166,0.133014,0.728426,-0.696940,1.247092,...,0,1,0,1,0,0,2016,2,13,24194
3,-1.154629,1,1.190962,0.960153,3,1.202323,0.410550,-0.351505,0.008608,-1.190812,...,0,0,0,1,0,0,2015,7,6,24187
4,0.921503,0,-0.821325,0.409007,1,1.491401,0.266997,-1.421793,-1.402487,-0.145996,...,0,0,1,1,1,0,2016,9,17,24201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.875367,1,1.789598,1.169712,1,-0.532148,-1.053690,-0.168302,3.536344,0.898820,...,0,0,0,1,1,0,2015,10,21,24190
9996,-0.416449,0,0.192193,1.320187,8,-1.107704,1.214447,-0.457569,0.714155,1.595364,...,0,0,0,1,1,0,2015,5,28,24185
9997,0.091050,0,-2.155887,-1.223914,8,-1.110016,0.678516,0.236672,-0.696940,-1.190812,...,0,0,0,1,0,1,2016,2,29,24194
9998,-0.370313,0,-0.010303,-0.306906,6,-1.108860,-0.077530,-1.392866,-0.696940,-0.494268,...,0,1,1,1,1,0,2016,2,27,24194
9999,-0.508722,1,1.531521,0.986032,4,-0.821227,-0.106241,1.972274,1.419702,-0.494268,...,0,1,0,1,0,0,2015,7,1,24187

In [16]:
test_x

,age,sex,height,weight,product,amount,medical_info_a1,medical_info_a2,medical_info_a3,medical_info_b1,...,medical_keyword_5,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10,year,month,day,yearmonth
0,0.321731,1,2.289396,1.880175,1,-0.821227,0.027742,-0.361147,-0.696940,-1.539084,...,0,1,0,1,0,0,2016,12,6,24204
1,1.705819,1,0.610074,0.952693,6,-1.109727,-0.977129,2.116908,-1.402487,-0.145996,...,0,0,0,0,1,1,2016,9,3,24201
2,1.659683,0,-0.249673,0.296241,0,0.046009,-0.498619,-0.235798,0.008608,0.898820,...,0,1,0,1,0,0,2015,4,10,24184
3,-0.739403,1,-1.647620,-0.796259,2,-0.821227,-1.828877,-0.206871,-1.402487,0.202276,...,0,0,1,0,0,0,2016,4,17,24196
4,-1.293038,1,-0.006142,0.573915,2,0.046009,-1.130252,-1.537500,0.008608,-1.190812,...,0,0,0,1,0,0,2015,1,26,24181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,-0.970084,1,2.049494,0.190007,8,-1.109438,-0.211513,-0.737194,0.008608,-1.190812,...,0,0,0,1,0,0,2015,3,11,24183
9996,-0.370313,1,-0.883435,-0.183541,8,-1.109727,-1.101541,-0.419000,0.714155,1.247092,...,0,1,0,1,0,0,2016,3,27,24195
9997,-0.278040,1,1.252434,2.278452,2,0.624166,1.377140,-0.563634,-0.696940,-1.190812,...,0,0,0,1,1,0,2016,3,16,24195
9998,-1.108493,1,0.091923,0.316965,3,0.624166,-0.307215,-0.544350,-1.402487,1.595364,...,0,0,0,1,0,0,2015,6,17,24186
9999,-0.001223,0,-0.769152,-0.705098,1,-0.243070,0.171295,-0.679341,-1.402487,0.202276,...,1,1,0,1,0,0,2016,8,15,24200