In [6]:
import numpy as np
import pandas as pd

In [7]:
train = pd.read_csv('../data/train.csv')
train_x = train.drop(["target"], axis=1)
train_y = train["target"]
test_x = pd.read_csv("../data/test.csv")

In [9]:
train

,age,sex,height,weight,product,amount,date,medical_info_a1,medical_info_a2,medical_info_a3,...,medical_keyword_2,medical_keyword_3,medical_keyword_4,medical_keyword_5,medical_keyword_6,medical_keyword_7,medical_keyword_8,medical_keyword_9,medical_keyword_10,target
0,50,Male,166.445608,65.016732,D1,7000000,2015/2/3,134,202,1,...,0,0,0,0,1,0,1,0,0,0
1,68,Female,164.334615,56.544217,A1,7000000,2015/5/9,438,263,3,...,0,0,0,0,0,1,1,0,0,0
2,77,Male,167.462917,54.242267,A3,6000000,2016/2/13,313,325,1,...,1,1,0,0,1,0,1,0,0,1
3,17,Male,177.097725,71.147762,B1,8000000,2015/7/6,342,213,2,...,0,0,0,0,0,0,1,0,0,0
4,62,Female,158.165788,65.240697,A2,9000000,2016/9/17,327,102,0,...,1,1,0,0,0,1,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,61,Male,182.729800,73.393777,A2,2000000,2015/10/21,189,232,7,...,1,0,0,0,0,0,1,1,0,0
9996,33,Female,167.701136,75.006529,C3,9000,2015/5/28,426,202,3,...,1,0,0,0,0,0,1,1,0,0
9997,44,Female,145.609998,47.739397,C3,1000,2016/2/29,370,274,1,...,0,0,0,0,0,0,1,0,1,0
9998,34,Female,165.796017,57.567695,C1,5000,2016/2/27,291,105,1,...,0,0,0,0,1,1,1,1,0,0
9999,31,Male,180.301762,71.425135,B2,1000000,2015/7/1,288,454,4,...,1,0,0,0,1,0,1,0,0,0

In [10]:
train_x_saved = train_x.copy()
test_x_saved = test_x.copy()

def load_data():
    """
    オリジナルのdataframeを返す
    """
    return train_x_saved.copy(), test_x_saved.copy()

In [12]:
cat_cols = ['sex', 'product', 'medical_info_b2', 'medical_info_b3']